{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : details sur une ordonnance pour l'historique
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}
<td></td>
<td colspan="4" class="py-4">

  {% set randID = random(100000, 999999) %}

  <nav class="nav nav-tabs font-weight-bold">
    <a class="nav-item nav-link active" id="tab-tab{{ randID }}" data-toggle="tab" href="#tab-pan{{ randID }}">
      <i class="fas fa-list-alt  fa-fw"></i>
      Liste</a>
    <a class="nav-item nav-link" id="pdf-tab{{ randID }}" data-toggle="tab" href="#pdf-pan{{ randID }}">
      <i class="far fa-file-pdf fa-fw"></i>
      PDF</a>
  </nav>

  <div class="tab-content border-left p-4">

    <div class="tab-pane active" id="tab-pan{{ randID }}">
      <div style="min-height: 200px;">
        <div class="card">
          <div class="card-header">Ordonnance
            {{ page.courrier.modeprint }}</div>
          <table class="table table-sm mb-0 table-hover ">
            <tbody>
              {% for k, v in page.courrier.medoc %}
                <tr>
                  <td>#{{ loop.index }}</td>
                  {% if page.courrier.modeprint == 'ALD' %}
                    {% if v.ald == '1' %}
                      <td>ALD</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                  {% endif %}
                  <td>{{ v.description|nl2br }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="pdf-pan{{ randID }}">{{ page.pdfHtml }}</div>

  </div>
</td>
