{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : details sur un doc pour l'historique
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

<td></td>
<td colspan="4" class="py-4">

    {% if page.pj.href %}
      {% if (page.pj.detail and page.texte is empty) or page.pj.view %}
        <div class="card mb-3">
          <table class="table table-sm mb-0 table-striped table-hover">
            <tbody>
              <tr>
                <td>{{ page.pj.view }}{{ page.pj.detail|nl2br }}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn btn-info" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ page.pj.href }}" target="_blank">
                    <i class="fas fa-external-link-alt"></i>
                    VOIR FICHIER
                    {{ page.pj.html }} ({{ page.pj.filesize }})
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      {% else %}
        <p>
            <a class="btn btn-info" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ page.pj.href }}" target="_blank">
              <i class="fas fa-external-link-alt"></i>
              VOIR FICHIER
              {{ page.pj.html }} ({{ page.pj.filesize }})
            </a>
        </p>
      {% endif %}

      {% if page.pj.html == 'PDF' %}
      <object data="{{ page.pj.href }}" type="application/pdf" width="900px" height="900px" style="border: 15px solid #DDD">
      </object>
      {% endif %}


    {% endif %}

    {% if page.bioHprim %}

        <div class="card mb-3">
            <div class="card-header">Résultats biologiques extraits du corps du message</div>
            <table class="table table-sm mb-0 table-striped table-hover">
                <thead>
                    <tr>
                        <th>Analyse</th>
                        <th>Résultat</th>
                        <th>Valeur normale inf.</th>
                        <th>Valeur normale sup.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in page.bioHprim %}
                        <tr {% if  v.indicateurAnormal in ['L', 'H', 'LL', 'HH'] %} class="table-danger"{% endif %}>
                            <td>
                                {{ v.label|e }}
                            </td>
                            <td>
                                {{ v.resultat|e }}
                                {{ v.unite|e }}
                            </td>
                            <td>
                                {{ v.normaleInf|e }}
                            </td>
                            <td>
                                {{ v.normaleSup|e }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if page.texte %}
        <div class="card">
            <div class="card-header">Corps du message initial</div>
            <div class="card-body">
                {{ page.texte|e|nl2br }}
            </div>
        </div>
    {% endif %}

</td>
