{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : details sur un doc pour l'historique
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

<td></td>
<td colspan="4" class="py-4">

  <div class="nav nav-tabs font-weight-bold" id="docLinkBlock{{ page.doc.uniqid }}" role="tablist">
    <a class="nav-item nav-link active" id="docViewLink{{ page.doc.uniqid }}" data-toggle="pill" href="#docViewPanel{{ page.doc.uniqid }}" >
      <i class="fas fa-file mr-1"></i> Document {{ page.doc.ext }} ({{ page.doc.filesize }})
    </a>
    {% if page.bioHprim %}
      <a class="nav-item nav-link" id="hprimViewLink{{ page.doc.uniqid }}" data-toggle="pill" href="#hprimViewPanel{{ page.doc.uniqid }}" >
        <i class="fas fa-vial mr-1"></i> Données HPRIM
      </a>
    {% endif %}
    {% if page.texte %}
      <a class="nav-item nav-link" id="msgViewLink{{ page.doc.uniqid }}" data-toggle="pill" href="#msgViewPanel{{ page.doc.uniqid }}" >
        {% if page.doc.origine == 'externe' %}
          <i class="fas fa-envelope-open mr-1"></i> Message associé
        {% else %}
          <i class="fas fa-info mr-1"></i>  Informations
        {% endif %}
      </a>
    {% endif %}
  </div>

  <div class="tab-content  border-left p-4" id="docContentBlock{{ page.doc.uniqid }}">

    <div class="tab-pane fade show active" id="docViewPanel{{ page.doc.uniqid }}" role="tabpanel" aria-labelledby="docViewLink{{ page.doc.uniqid }}">
      <div class="row">
        <div class="col-auto">
          {% if page.doc.displayParams.display %}
            <div class="row">
              {% if page.doc.displayParams.displayType == 'img' %}
              <div class="col">
                <div class="btn-group" role="group" >
                  <button data-cible="image{{ page.doc.uniqid }}" class="btn btn-sm btn-light reduceImagePreviewSize"  title="Ajuster la taille de prévisualisation (original non modifié)">
                    <i class="fas fa-search-minus"></i>
                  </button>
                  <button data-doc="{{ page.doc.id }}" data-cible="image{{ page.doc.uniqid }}" class="btn btn-sm btn-light rotationImage90" data-direction="left" title="Faire une rotation anti-horaire de 90° de l'image">
                    <i class="fas fa-level-down-alt fa-fw fa-flip-horizontal"></i>
                  </button>
                  <button data-doc="{{ page.doc.id }}" data-cible="image{{ page.doc.uniqid }}" class="btn btn-sm btn-light rotationImage90" data-direction="right" title="Faire une rotation horaire de 90° de l'image">
                    <i class="fas fa-level-down-alt fa-fw"></i>
                  </button>
                </div>
              </div>
              {% endif %}
              <div class="col text-right my-2">
                <a class="btn btn-outline-secondary btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ page.doc.href }}" target="_blank">
                <i class="fas fa-external-link-alt"></i>
                  Ouvrir dans un onglet
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col">
                {% if page.doc.displayParams.displayType == 'object' %}
                  <object
                    data="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ page.doc.href }}"
                    width="{{ page.doc.displayParams.width }}"
                    height="{{ page.doc.displayParams.height }}"
                    style="border: 15px solid #DDD"
                    type="{{ page.doc.displayParams.mime }}">
                  </object>
                {% elseif page.doc.displayParams.displayType == 'img' %}
                  <img id="image{{ page.doc.uniqid }}" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ page.doc.href }}" alt="" class="img-fluid" style="border: 15px solid #DDD; max-width: 100%; height: auto;">
                {% endif %}
              </div>
            </div>
          {% else %}
            <div class="d-block text-left my-3">
              <p>Ce type de fichier n'est pas prévisualisable dans un navigateur</p>
              <a class="btn btn-secondary" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ page.doc.href }}" target="_blank">
              <i class="fas fa-external-link-alt"></i>
                Télécharger / ouvrir
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if page.bioHprim %}
      <div class="tab-pane fade" id="hprimViewPanel{{ page.doc.uniqid }}" role="tabpanel" aria-labelledby="hprimViewLink{{ page.doc.uniqid }}">
        <div class="my-3" style="min-height: {{ page.doc.displayParams.height }};">
            <p>Résultats biologiques extraits du corps du message</p>
            <table class="table table-sm mb-0 table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Analyse</th>
                        <th>Résultat</th>
                        <th>Valeur normale inf.</th>
                        <th>Valeur normale sup.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in page.bioHprim %}
                        <tr {% if  v.indicateurAnormal in ['L', 'H', 'LL', 'HH'] %} class="table-danger"{% endif %}>
                            <td>
                                {{ v.label|e }}
                            </td>
                            <td>
                                {{ v.resultat|e }}
                                {{ v.unite|e }}
                            </td>
                            <td>
                                {{ v.normaleInf|e }}
                            </td>
                            <td>
                                {{ v.normaleSup|e }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    {% endif %}

    {% if page.texte %}
      <div class="tab-pane fade" id="msgViewPanel{{ page.doc.uniqid }}" role="tabpanel" aria-labelledby="msgViewLink{{ page.doc.uniqid }}">
        <div class="card my-3 bg-light" style="min-height: {{ page.doc.displayParams.height }};">
          <div class="card-body">
            {{ page.texte|e|nl2br }}
          </div>
        </div>
      </div>
    {% endif %}


  </div>

</td>
