{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : details sur un règlement pour l'historique
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

<td></td>
<td colspan="4" class="py-4">

    <div class="card">
        <div class="card-header font-weight-bold">{{ page.dataAld.aldNumber.aldLabel }}</div>
        <table class="table table-sm table-striped table-hover">
            <tbody>
                {% if page.dataAld.aldCIM10 %}
                <tr>
                    <td>Code CIM 10 associé</td>
                    <td>{{ page.dataAld.aldCIM10.value }} {{ page.dataAld.aldCIM10label.value }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Début de prise en charge</td>
                    <td>{{ page.dataAld.aldDateDebutPriseEnCharge.value }}</td>
                </tr>
                <tr>
                    <td>Fin de prise en charge</td>
                    <td>{{ page.dataAld.aldDateFinPriseEnCharge.value }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</td>
