{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : details sur un règlement pour l'historique
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

<td></td>
<td colspan="4" class="py-4">

    <div class="card">
      <div class="card-header"><i class="fas fa-euro-sign fa-fw"></i>  Facturation</div>
        <div class="card-body">
        <table class="table table-sm mb-0 table-striped table-hover">
          {% if page.acteFacture.label is not empty %}
            <thead class="thead-light">
                <tr>
                    <th colspan="2">{{ page.acteFacture.label }}</th>

                </tr>
            </thead>
            {% endif %}
            <tbody>
              {% if page.typeFormHonoraires != 'baseReglementLibre' %}
                <tr>
                  <td>Tarif SS</td>
                  <td>{{ page.datareg.regleTarifSSCejour.value }}€</td>
                </tr>
                <tr>
                  <td>Dépassement</td>
                  <td>{{ page.datareg.regleDepaCejour.value }}€</td>
                </tr>
              {% else %}
                <tr>
                  <td>Tarif</td>
                  <td>{{ page.datareg.regleTarifLibreCejour.value }}€</td>
                </tr>
                <tr>
                  <td>Modulation</td>
                  <td>{{ page.datareg.regleModulCejour.value }}€</td>
                </tr>
              {% endif %}
                <tr>
                    <td>Facturé ce jour</td>
                    <td>{{ page.datareg.regleFacture.value }}€</td>
                </tr>

                {% if page.datareg.regleCheque. value > 0 %}
                    <tr>
                        <td>Chèque</td>
                        <td>{{ page.datareg.regleCheque.value }}€</td>
                    </tr>
                {% endif %}

                {% if page.datareg.regleCB. value > 0 %}
                    <tr>
                        <td>CB</td>
                        <td>{{ page.datareg.regleCB.value }}€</td>
                    </tr>
                {% endif %}

                {% if page.datareg.regleEspeces. value > 0 %}
                    <tr>
                        <td>Espèces</td>
                        <td>{{ page.datareg.regleEspeces.value }}€</td>
                    </tr>
                {% endif %}

                {% if page.datareg.regleTiersPayeur. value > 0 %}
                    <tr>
                        <td>Tiers (CMU ou TP)</td>
                        <td>{{ page.datareg.regleTiersPayeur.value }}€</td>
                    </tr>
                {% endif %}

            </tbody>
        </table>
      </div>
    </div>

    {% if page.dataregFse %}
    <div class="card mt-3">
      <div class="card-header"><i class="far fa-address-card fa-fw text-success"></i> Données validées pour la FSE ({{ config.vitaleService }})</div>
      <div class="card-body">
        <table class="table table-sm mb-0 table-striped table-hover">
          <thead class="thead-light">
              <tr>
                  <th colspan="2">
                    {{ page.dataregFse.actesOK|join(' + ') }}
                </th>
              </tr>
          </thead>
          <tbody>
            {% if page.dataregFse.actesKO is not empty %}
            <tr class="table-danger">
              <td>Actes ignorés</td>
              <td>{{ page.dataregFse.actesKO|join(' + ') }}</td>
            </tr>
            {% endif %}
            <tr>
              <td>Montant total de la facture</td>
              <td>{{ page.dataregFse.montant_total_facture }} €</td>
            </tr>
            <tr>
              <td>Part assuré</td>
              <td>{{ page.dataregFse.montant_part_assure }} €</td>
            </tr>
            <tr>
              <td>Montant remboursé AMO</td>
              <td>{{ page.dataregFse.montant_remb_amo }} € - {% if page.dataregFse.is_tp_amo is empty %}pas de TP{% else %}TP{% endif %}</td>
            </tr>
            <tr>
              <td>Montant remboursé AMC</td>
              <td>{{ page.dataregFse.montant_remb_amc }} € - {% if page.dataregFse.is_tp_amc is empty %}pas de TP{% else %}TP{% endif %}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    {% endif %}
</td>
