{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient > historique : ligne pour un formulaire de consultation
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

 <tr id="lh{{ cs.id }}" class="tr{{ cs.id }}{% if cs.important == 'y' %} table-info{% endif %} trLigneExamen collapse{% if cs.creationDate|date("Y") == "now"|date("Y") %} show{% endif %}" data-annee="{{ cs.creationDate|date("Y") }}" data-objetID="{{ cs.id }}" data-alternatTitre="{{ cs.titre|e('html_attr') }}" data-registerDate="{{ cs.registerDate }}" data-creationDate="{{ cs.creationDate }}" data-groupe="{{ cs.groupe|e('html_attr') }}">
  <td title="Consultation">
    <a class="btn btn-light btn-sm showDetDoc" role="button">
      <span class="fa fa-stethoscope fa-fw" aria-hidden="true"></span>
    </a>
  </td>
  <td>
     <span class="d-none d-md-inline">{{ cs.creationTime }}</span>
     <span class="d-inline d-md-none">{{ cs.creationTimeShort }}</span>
     {% if cs.creationDate != cs.registerDate %}&nbsp;<button type="button" class="btn btn-light btn-sm changeCreationDate" title="Création réelle le {{ cs.registerDate|date("d/m/Y H:i:s") }}">
       <span class="far fa-clock fa-fw" aria-hidden="true"></span>
     </button>{% endif %}
  </td>
  <td>
    <div class="btn-group">
      {# view / edit #}
      <button type="button" class="btn btn-light btn-sm editCS d-none d-lg-inline-block" data-parentID="{{ cs.parentID }}" data-objetID="{{ cs.id }}" data-formtocall="{{ cs.formName }}" data-csID="{{ cs.typeCS }}" data-prevalues="yes" data-mode="{{ cs.iconeType }}"
        {% if cs.iconeType == 'update' and ( cs.fromID == user.id or user.rank == 'admin' ) %}
          title="Editer">
          <span class="fa fa-pencil-alt fa-fw" aria-hidden="true" ></span>
        {% else %}
          title="Voir">
          <span class="fa fa-eye fa-fw" aria-hidden="true"></span>
        {% endif %}
      </button>

      {# print #}
      {% if cs.printModel %}

        <a class="btn btn-light btn-sm d-none d-lg-inline-block" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/showpdf/{{ cs.id }}/" target="_blank">
          <span class="fa fa-print fa-fw" aria-hidden="true" title="Imprimer"></span>
        </a>

        {# send #}
        {% if config.smtpHost or config.apicryptSmtpHost or config.faxService %}
          <div class="btn-group d-none d-lg-inline-flex">
            <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Envoyer">
              <span class="fa fa-paper-plane fa-fw" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu">
              {% if config.smtpHost %}
              <li>
                <a class="dropdown-item newMail" href="#" data-objetID="{{ cs.id }}" data-formtocall="baseSendMail" data-mailtype="ns">Envoyer en clair</a>
              </li>
              {% endif %}
              {% if config.apicryptAdresse %}
                <li>
                  <a class="dropdown-item newMail" href="#" data-objetID="{{ cs.id }}" data-formtocall="baseSendMailApicrypt" data-mailtype="apicrypt">Envoyer en apicrypt</a>
                </li>
              {% endif %}
              {% if (config.smtpHost or config.apicryptSmtpHost) and config.faxService %}
                <li role="separator" class="dropdown-divider m-0"></li>
              {% endif %}
              {% if config.faxService %}
                <li>
                  <a class="dropdown-item newMail" href="#" data-formtocall="baseFax" data-objetID="{{ cs.id }}" data-mailtype="ecofax">Envoyer par fax</a>
                </li>
              {% endif %}
              {% if config.transmissionsPeutCreer == 'true' %}
                <li role="separator" class="dropdown-divider m-0"></li>
                <li>
                  <a class="dropdown-item newTransmission" href="#" data-objetID="{{ cs.id }}">Créer une transmission</a>
                </li>
              {% endif %}
              {% if cs.sendMail > 0 %}
                <li role="separator" class="dropdown-divider m-0"></li>
                <li>
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiquePrint/{{ cs.id }}/">Historique des envois</a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      {% endif %}
      {% if cs.sendMail > 0 %}
        <a class="btn btn-light btn-sm d-none d-lg-inline-block" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueMailSend/{{ cs.id }}/">
          <span class="fa fa-envelope fa-fw" aria-hidden="true"></span>
        </a>
      {% endif %}

      {% if cs.dicomStudy %}
        <a class="btn btn-light btn-sm d-none d-lg-inline-block viewStudy" data-study="{{ cs.dicomStudy }}" role="button" href="#">
          <i class="far fa-image fa-fw"></i>
        </a>
      {% endif %}

      {# option #}
      <div class="btn-group">
        <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-ellipsis-h fa-fw" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
              <span class="dropdown-header py-0"><i>#{{ cs.id }} Consultation</i></span>
            </li>
          <li class="d-block d-lg-none">
            {% if cs.iconeType == 'update' and ( cs.fromID == user.id or user.rank == 'admin' ) %}
              <a class="dropdown-item editCS" data-parentID="{{ cs.parentID }}" data-objetID="{{ cs.id }}" data-formtocall="{{ cs.formName }}" data-csID="{{ cs.typeCS }}" data-prevalues="yes" data-mode="update">Editer</a>
            {% else %}
              <a class="dropdown-item editCS" data-parentID="{{ cs.parentID }}" data-objetID="{{ cs.id }}" data-formtocall="{{ cs.formName }}" data-csID="{{ cs.typeCS }}" data-prevalues="yes" data-mode="view">Voir</a>
            {% endif %}
          </li>
          {% if cs.printModel %}
            <li class="d-block d-lg-none">
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/showpdf/{{ cs.id }}/" target="_blank">Imprimer</a>
            </li>
            {% if config.smtpHost or config.apicryptSmtpHost or config.faxService %}
              {% if config.smtpHost %}
              <li class="d-block d-lg-none">
                <a class="dropdown-item newMail" href="#" data-objetID="{{ cs.id }}" data-formtocall="baseSendMail" data-mailtype="ns">Envoyer en clair</a>
              </li>
              {% endif %}
              {% if config.apicryptAdresse %}
                <li class="d-block d-lg-none">
                  <a class="dropdown-item newMail" href="#" data-objetID="{{ cs.id }}" data-formtocall="baseSendMailApicrypt" data-mailtype="apicrypt">Envoyer en apicrypt</a>
                </li>
              {% endif %}
              {% if (config.smtpHost or config.apicryptSmtpHost) and config.faxService %}
                <li role="separator"  class="dropdown-divider m-0 d-block d-lg-none"></li>
              {% endif %}
              {% if config.faxService %}
                <li class="d-block d-lg-none">
                  <a class="dropdown-item newMail" href="#" data-formtocall="baseFax" data-objetID="{{ cs.id }}" data-mailtype="ecofax">Envoyer par fax</a>
                </li>
              {% endif %}
              {% if cs.sendMail > 0 %}
                <li role="separator" class="dropdown-divider m-0 d-block d-lg-none"></li>
                <li class="d-block d-lg-none">
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiquePrint/{{ cs.id }}/">Historique des envois</a>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if cs.dicomStudy %}
            <li class="d-block d-lg-none">
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/dicom/{{ cs.toID }}/study/{{ cs.dicomStudy }}/" target="_blank">Voir images DICOM</a>
            </li>
          {% endif %}
          <li class="dropdown-divider m-0 d-block d-lg-none"></li>
          {% if cs.fromID == user.id or user.rank == 'admin' %}
            <li>
              <a href="#" class="dropdown-item toggleImportant" data-objetID="{{ cs.id }}" data-importanceActu="{{ cs.important }}">
                {% if cs.important == 'n' %}Marquer important{% else %}Démarquer important{% endif %}
              </a>
            </li>
            <li>
              <a class="dropdown-item" data-toggle="modal" href="#alternatTitreModal">Compléter titre</a>
            </li>
            <li>
              <a href="#" class="dropdown-item editCS" data-parentID="{{ cs.parentID }}" data-objetID="{{ cs.id }}" data-formtocall="{{ cs.formName }}" data-csID="{{ cs.typeCS }}" data-prevalues="yes" data-mode="update">Forcer l'édition</a>
            </li>
            <li>
              <a href="#" class="dropdown-item changeCreationDate">Modifier la date</a>
            </li>
            <li role="separator" class="dropdown-divider m-0"></li>
          {% endif %}
          {% if cs.sendMail > 0 %}
            <li>
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueMailSend/{{ cs.id }}/">Historique des envois par mail</a>
            </li>
          {% endif %}
          <li class="dropdown-divider m-0 d-inline-block d-lg-none"></li>
          <li>
            <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiquePrint/{{ cs.id }}/">Historique versions PDF générées</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/makepdf/{{ cs.toID }}/cr/{{ cs.id }}/" target="_blank">Forcer impression par défaut</a>
          </li>
          <li>
            <a class="dropdown-item" target="_blank" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/configShowTagsForCr/{{ cs.id }}/">Tags utilisables dans templates</a>
          </li>
          {% if cs.fromID == user.id or user.rank == 'admin' %}
            <li role="separator" class="dropdown-divider m-0"></li>
            <li>
              <a href="#" class="dropdown-item suppCs" data-objetID="{{ cs.id }}">Supprimer</a>
            </li>
          {% endif %}
          {% if cs.dicomStudy %}
            <li role="separator" class="dropdown-divider m-0"></li>
            <li class="disabled">
              <a class="dropdown-item" href="#">Dicom study ID :
                {{ cs.dicomStudy }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </td>
  <td>
    <span class="d-none d-lg-inline">{{ cs.label }}</span>
    <span class="alternatTitre{{ cs.id }}">{% if cs.titre is not empty %} : {{ cs.titre|e }}{% endif %}</span>
  </td>
  <td class="d-none d-lg-table-cell">{{ cs.prenom|e }} {{ cs.nom|e }}</td>
  <td class="d-lg-none">{{ cs.prenom|first }}. {{ cs.nom|first }}.</td>
</tr>
