{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient > historique : ligne pour un règlement
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

 <tr class="tr{{ cs.id }}{% if cs.important == 'y' %} table-danger{% endif %} trLigneExamen trReglement collapse{% if cs.creationDate|date("Y") == "now"|date("Y") %} show{% endif %}" data-annee="{{ cs.creationDate|date("Y") }}" data-objetID="{{ cs.id }}" data-alternatTitre="{{ cs.titre|e('html_attr') }}" data-registerDate="{{ cs.registerDate }}" data-creationDate="{{ cs.creationDate }}" data-groupe="{{ cs.groupe|e('html_attr') }}">
  <td title="Règlement">
    <a class="btn btn-light btn-sm showDetDoc" role="button">
      <span class="fa fa-euro-sign fa-fw" aria-hidden="true"></span>
    </a>
  </td>
  <td>
     <span class="d-none d-md-inline">{{ cs.creationTime }}</span>
     <span class="d-inline d-md-none">{{ cs.creationTimeShort }}</span>
    {% if cs.creationDate != cs.registerDate %}&nbsp;<button type="button" class="btn btn-light btn-sm changeCreationDate" title="Création réelle le {{ cs.registerDate|date("d/m/Y H:i:s") }}">
     <span class="far fa-clock fa-fw" aria-hidden="true"></span>
    </button>{% endif %}
  </td>
  <td>
    <div class="btn-group">
      {# edit #}
      <button class="btn btn-light btn-sm editReglement d-none d-lg-inline-block" type="button"
       {% if cs.iconeType == 'update' %}
          title="Editer">
         <span class="fa fa-pencil-alt fa-fw" aria-hidden="true"></span>
       {% else %}
          title="Dupliquer">
         <span class="fa fa-share fa-fw" aria-hidden="true"></span>
       {% endif %}
      </button>
      {# option #}
      <div class="btn-group">
        <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-ellipsis-h fa-fw" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <span class="dropdown-header py-0"><i>#{{ cs.id }} Règlement</i></span>
          </li>
          {% if config.transmissionsPeutCreer == 'true' %}
            <li>
              <a class="dropdown-item newTransmission" href="#" data-objetID="{{ cs.id }}">Créer une transmission</a>
            </li>
          {% endif %}
          <li class="d-block d-lg-none">
           {% if cs.iconeType == 'update' %}
             <a class="dropdown-item editReglement">Editer</a>
           {% else %}
             <a class="dropdown-item editReglement">Dupliquer</a>
           {% endif %}
          </li>
          <li class="dropdown-divider m-0 d-block d-lg-none"></li>
          <li>
              <a href="#" class="dropdown-item toggleImportant" data-objetID="{{ cs.id }}" data-importanceActu="{{ cs.important }}">
                  {% if cs.important == 'n' %}Marquer important{% else %}Démarquer important{% endif %}
              </a>
          </li>
          <li>
              <a class="dropdown-item" data-toggle="modal" href="#alternatTitreModal">Compléter titre</a>
          </li>
          <li>
              <a href="#" class="dropdown-item changeCreationDate">Modifier la date</a>
          </li>
          <li role="separator" class="dropdown-divider m-0"></li>
          <li>
              <a href="#" class="dropdown-item suppCs" data-objetID="{{ cs.id }}">Supprimer</a>
          </li>
        </ul>
      </div>
    </div>
  </td>
  <td>
    <span class="d-none d-lg-inline">{{ cs.label }}</span>
    <span class="alternatTitre{{ cs.id }}">{% if cs.titre is not empty %} : {{ cs.titre|e }}{% endif %}</span>
  </td>
  <td class="d-none d-lg-table-cell">{{ cs.prenom|e }} {{ cs.nom|e }}</td>
  <td class="d-lg-none">{{ cs.prenom|first }}. {{ cs.nom|first }}.</td>
</tr>
