{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient > historique : ligne pour un règlement
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

 <tr class="tr{{ cs.id }}{% if cs.important == 'y' %} table-danger{% endif %} trLigneExamen trReglement collapse{% if cs.creationDate|date("Y") == "now"|date("Y") or loop.parent.loop.index == 1 %} show{% endif %}" data-annee="{{ cs.creationDate|date("Y") }}" data-objetID="{{ cs.id }}" data-alternatTitre="{{ cs.titre|e('html_attr') }}" data-registerDate="{{ cs.registerDate }}" data-creationDate="{{ cs.creationDate }}" data-groupe="{{ cs.groupe|e('html_attr') }}">
  <td title="Règlement">
    <a class="btn btn-light btn-sm showDetDoc" role="button">
      <i class="fas fa-euro-sign fa-fw"></i>
    </a>
  </td>
  <td>
    <span class="d-none d-md-inline histoElementHeure">{{ cs.creationDate|date('H:i:s') }}</span>
    <span class="d-inline d-md-none histoElementHeure">{{ cs.creationDate|date('H:i') }}</span>
    <span class="d-none d-md-inline histoElementDate">{{ cs.creationDate|date('d/m/Y') }}</span>
    <span class="d-inline d-md-none histoElementDate">{{ cs.creationDate|date('d/m') }}</span>

    {% if cs.creationDate != cs.registerDate %}
      <button type="button" class="btn btn-light btn-sm changeCreationDate" title="Création réelle le {{ cs.registerDate|date("d/m/Y H:i:s") }}">
        <i class="far fa-clock fa-fw"></i>
      </button>
    {% endif %}
  </td>
  <td>
    <div class="btn-group">
      {# edit / clone #}
       {% if cs.iconeType == 'update' %}
          <button class="btn btn-light btn-sm editReglement d-none d-lg-inline-block" type="button"  title="Editer">
            <i class="fas fa-pencil-alt fa-fw"></i>
          </button>
       {% else %}
          <button class="btn btn-light btn-sm editReglement d-none d-lg-inline-block" type="button" title="Dupliquer">
            <i class="fas fa-share fa-fw"></i>
         </button>
       {% endif %}
       <a class="btn btn-light btn-sm d-none d-lg-inline-block" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/showpdf/{{ cs.id }}/" target="_blank" title="Imprimer">
         <i class="fas fa-print fa-fw"></i>
       </a>
      {% if config.optionGeActiverVitaleLecture =='true' %}
        <button class="btn btn-light btn-sm d-none d-lg-inline-block newFse" data-mode="{{ config.vitaleMode }}" data-vitaleservice="{{ config.vitaleService }}" type="button" title="Établir une FSE">
          <i class="far fa-address-card fa-fw fa-lg text-success"></i>
        </button>
      {% endif %}
      {# option #}
      <div class="btn-group">
        <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h fa-fw"></i>
        </button>
        <ul class="dropdown-menu">
          <li class="d-block d-lg-none">
           {% if cs.iconeType == 'update' %}
             <a class="dropdown-item editReglement">
               <i class="fas fa-pencil-alt fa-fw text-muted mr-1"></i> Editer
             </a>
           {% else %}
             <a class="dropdown-item editReglement">
               <i class="fas fa-clone fa-fw text-muted mr-1"></i> Dupliquer
             </a>
           {% endif %}
          </li>
          {% if config.transmissionsPeutCreer == 'true' %}
            <li>
              <a class="dropdown-item newTransmission" href="#" data-objetID="{{ cs.id }}">
                <i class="far fa-comments fa-fw text-muted mr-1"></i>  Créer une transmission
              </a>
            </li>
          {% endif %}
          <li class="dropdown-divider d-block d-lg-none"></li>
          <li>
              <a href="#" class="dropdown-item toggleImportant" data-objetID="{{ cs.id }}" data-importanceActu="{{ cs.important }}">
                {% if cs.important == 'n' %}
                  <i class="fas fa-exclamation-triangle fa-fw text-muted mr-1"> </i> Marquer important
                {% else %}
                  <i class="fas fa-exclamation-triangle fa-fw text-muted mr-1"></i> Rendre non important
                {% endif %}
              </a>
          </li>
          <li>
              <a class="dropdown-item" data-toggle="modal" href="#alternatTitreModal">
                <i class="fas fa-pen fa-fw text-muted mr-1"></i> Compléter titre
              </a>
          </li>
          <li>
              <a href="#" class="dropdown-item changeCreationDate">
                <i class="far fa-calendar-alt fa-fw text-muted mr-1"></i> Modifier la date
              </a>
          </li>
          <li role="separator" class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/makepdf/{{ cs.toID }}/reglement/{{ cs.id }}/" target="_blank">
              <i class="fas fa-print fa-fw text-muted mr-1"></i> Forcer impression par défaut
            </a>
          </li>
          {% if user.rank == 'admin' %}
            <li>
              <a class="dropdown-item" target="_blank" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/configShowTagsForCr/{{ cs.id }}/">
                <i class="fas fa-code fa-fw text-muted mr-1"></i> Tags utilisables dans templates
              </a>
            </li>
          {% endif %}
          <li>
          <li role="separator" class="dropdown-divider"></li>
          <li>
              <a href="#" class="dropdown-item suppCs" data-objetID="{{ cs.id }}">
                <i class="fas fa-trash-alt fa-fw text-muted mr-1"></i> Supprimer
              </a>
          </li>
          {% if user.rank == 'admin' %}
          <li role="separator" class="dropdown-divider"></li>
          <li>
            <span class="dropdown-item disabled small">
              <i class="fas fa-hashtag fa-fw text-muted mr-1"></i>{{ cs.id }} Règlement
            </span>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </td>
  <td>
    <span class="d-none d-lg-inline">{{ cs.label }}</span>
    <span class="alternatTitre{{ cs.id }}">{% if cs.titre is not empty %} : {{ cs.titre|e }}{% endif %}</span>
  </td>
  <td class="d-none d-lg-table-cell">{{ cs.prenom|e }} {{ cs.nom|e }}</td>
  <td class="d-lg-none">{{ cs.prenom|first }}. {{ cs.nom|first }}.</td>
</tr>
