{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient > historique : ligne pour un courrier
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

<tr class="tr{{ cs.id }} trLigneExamen{% if cs.important == 'y' %} table-info{% endif %} collapse{% if cs.creationDate|date("Y") == "now"|date("Y") %} show{% endif %}" data-annee="{{ cs.creationDate|date("Y") }}" data-objetID="{{ cs.id }}" data-alternatTitre="{{ cs.titre|e('html_attr') }}" data-groupe="{{ cs.groupe|e('html_attr') }}" data-creationDate="{{ cs.creationDate }}">
  <td title="Courrier">
    <a class="btn btn-light btn-sm showDetDoc" role="button">
      <span class="far fa-file-alt fa-fw" aria-hidden="true"></span>
    </a>
  </td>
  <td>
   <span class="d-none d-md-inline">{{ cs.creationTime }}</span>
   <span class="d-inline d-md-none">{{ cs.creationTimeShort }}</span>
  </td>
  <td>
    <div class="btn-group">
      {# edit #}
        <button class="btn btn-light btn-sm newCourrier d-none d-lg-inline-block" type="button" data-modele="{{ cs.name }}" data-objetID="{{ cs.id }}"
        {% if cs.iconeType == 'update' and ( cs.fromID == user.id  or user.rank == 'admin') %}
          title="Editer">
          <span class="fa fa-pencil-alt fa-fw" aria-hidden="true"></span>
        {% else %}
          title="Dupliquer">
          <span class="far fa-clone fa-fw" aria-hidden="true"></span>
        {% endif %}
      </button>

        {# print #}
        <a class="btn btn-light btn-sm d-none d-lg-inline-block" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/showpdf/{{ cs.id }}/" target="_blank">
          <span class="fa fa-print fa-fw" aria-hidden="true" title="Imprimer"></span>
        </a>

        {# send #}
        {% if config.smtpHost or config.apicryptSmtpHost or config.faxService %}
          <div class="btn-group d-none d-lg-inline-flex">
            <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Envoyer">
              <span class="fa fa-paper-plane fa-fw" aria-hidden="true"></span>

            </button>
            <ul class="dropdown-menu">
              {% if config.smtpHost %}
                <li>
                  <a class="dropdown-item newMail" href="#" data-formtocall="baseSendMail" data-objetID="{{ cs.id }}" data-mailtype="ns">Envoyer en clair</a>
                </li>
              {% endif %}
              {% if config.apicryptAdresse %}
                <li>
                  <a class="dropdown-item newMail" href="#" data-formtocall="baseSendMailApicrypt" data-objetID="{{ cs.id }}" data-mailtype="apicrypt">Envoyer en apicrypt</a>
                </li>
              {% endif %}
              {% if (config.smtpHost or config.apicryptSmtpHost) and config.faxService %}
                <li role="separator" class="dropdown-divider m-0"></li>
              {% endif %}
              {% if config.faxService %}
                <li>
                  <a class="dropdown-item newMail" href="#" data-formtocall="baseFax" data-objetID="{{ cs.id }}" data-mailtype="ecofax">Envoyer par fax</a>
                </li>
              {% endif %}
              {% if config.transmissionsPeutCreer == 'true' %}
                <li role="separator" class="dropdown-divider m-0"></li>
                <li>
                  <a class="dropdown-item newTransmission" href="#" data-objetID="{{ cs.id }}">Créer une transmission</a>
                </li>
              {% endif %}
              {% if cs.sendMail > 0 %}
                <li role="separator" class="dropdown-divider m-0"></li>
                <li>
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiquePrint/{{ cs.id }}/">Historique des envois</a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
        {% if cs.sendMail > 0 %}
          <a class="btn btn-light btn-sm d-none d-lg-inline-block" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueMailSend/{{ cs.id }}/">
            <span class="fa fa-envelope fa-fw" aria-hidden="true"></span>
          </a>
        {% endif %}
        {# option #}
        <div class="btn-group">
          <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-ellipsis-h fa-fw" aria-hidden="true"></span>

          </button>
          <ul class="dropdown-menu">
            <li>
              <span class="dropdown-header py-0"><i>#{{ cs.id }} Courrier</i></span>
            </li>
            <li class="d-inline-block d-lg-none">
              <a class="dropdown-item newCourrier" data-modeleID="{{ cs.typeCS }}" data-objetID="{{ cs.id }}">
                {% if cs.iconeType == 'update' and ( cs.fromID == user.id or user.rank == 'admin' ) %}
                  Editer
                {% else %}
                  Dupliquer
                {% endif %}
              </a>
            </li>
            <li class="d-inline-block d-lg-none">
              <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/showpdf/{{ cs.id }}/" target="_blank">Imprimer</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/duplicata/{{ cs.id }}/" target="_blank">Imprimer un duplicata</a>
            </li>
            {% if config.smtpHost or config.apicryptSmtpHost or config.faxService %}
              {% if config.smtpHost %}
                <li class="d-inline-block d-lg-none">
                  <a class="dropdown-item newMail" href="#" data-formtocall="baseSendMail" data-objetID="{{ cs.id }}" data-mailtype="ns">Envoyer en clair</a>
                </li>
              {% endif %}
              {% if config.apicryptAdresse %}
                <li class="d-inline-block d-lg-none">
                  <a class="dropdown-item newMail" href="#" data-formtocall="baseSendMailApicrypt" data-objetID="{{ cs.id }}" data-mailtype="apicrypt">Envoyer en apicrypt</a>
                </li>
              {% endif %}
              {% if (config.smtpHost or config.apicryptSmtpHost) and config.faxService %}
                <li role="separator" class="dropdown-divider m-0 d-inline-block d-lg-none"></li>
              {% endif %}
              {% if config.faxService %}
                <li class="d-inline-block d-lg-none">
                  <a class="dropdown-item newMail" href="#" data-formtocall="baseFax" data-objetID="{{ cs.id }}" data-mailtype="ecofax">Envoyer par fax</a>
                </li>
              {% endif %}
              {% if cs.sendMail > 0 %}
                <li role="separator" class="dropdown-divider m-0 d-inline-block d-lg-none"></li>
                <li class="d-inline-block d-lg-none">
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiquePrint/{{ cs.id }}/">Historique des envois</a>
                </li>
              {% endif %}
            {% endif %}
            {% if cs.sendMail > 0 %}
              <li class="d-inline-block d-lg-none">
                <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueMailSend/{{ cs.id }}/">
                  Envoyer
                </a>
              </li>
            {% endif %}
            <li class="dropdown-divider m-0 d-inline-block d-lg-none"></li>
            {% if cs.fromID == user.id or user.rank == 'admin' %}
              <li>
                <a href="#" class="dropdown-item toggleImportant" data-objetID="{{ cs.id }}" data-importanceActu="{{ cs.important }}">
                  {% if cs.important == 'n' %}Marquer important{% else %}Démarquer important{% endif %}
                </a>
              </li>
              <li>
                <a class="dropdown-item" data-toggle="modal" href="#alternatTitreModal">Compléter titre</a>
              </li>
              <li role="separator" class="dropdown-divider m-0"></li>
            {% endif %}
            {% if cs.sendMail > 0 %}
              <li>
                <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueMailSend/{{ cs.id }}/">Historique des envois par mail</a>
              </li>
            {% endif %}
            <li class="dropdown-divider m-0 d-inline-block d-lg-none"></li>
            <li>
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiquePrint/{{ cs.id }}/">Historique versions PDF générées</a>
            </li>
            <li>
              <a class="dropdown-item" target="_blank" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/configShowTagsForCr/{{ cs.id }}/">Tags utilisables dans templates</a>
            </li>
            {% if cs.fromID == user.id or user.rank == 'admin' %}
              <li role="separator" class="dropdown-divider m-0"></li>
              <li>
                <a href="#" class="dropdown-item suppCs" data-objetID="{{ cs.id }}">Supprimer</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </td>
    <td>
      <span class="d-none d-lg-inline">{{ cs.label }}</span>
      <span class="alternatTitre{{ cs.id }}">{% if cs.titre is not empty %} : {{ cs.titre|e }}{% endif %}</span>
    </td>
    <td class="d-none d-lg-table-cell">{{ cs.prenom|e }} {{ cs.nom|e }}</td>
    <td class="d-lg-none">{{ cs.prenom|first }}. {{ cs.nom|first }}.</td>
  </tr>
