{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : menu supérieur du dossier patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

 <div class="row" style="margin-bottom : 20px;margin-top : 5px;">
   <div class="col-md-12">

     <div class="btn-group">
         <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Ordonnance
             <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
           {% if config.lapOnOff == 'on' %}
             <li>
               <a href="/lap/{{ page.patient.id }}/" target="_blank">Prescription médicamenteuse (LAP)</a>
             </li>
           {% endif %}
           {% for k,v in page.formOrdo %}
             <li>
                 <a id="linkAddNewOrdo" data-porteur="{{ k }}" data-module="{{ v.module }}" data-ordoForm="{{ v.form }}" href="#">{% if page.formOrdo|length > 1 %} {{ v.module }} : {% endif %}{% if config.lapOnOff == 'on' %}Autres prescriptions{% else %}Nouvelle prescription{% endif %}</a>
             </li>
           {% endfor %}
         </ul>
     </div>

     <div class="btn-group">
         <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Courriers &amp; Certificats
             <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
             <li class="dropdown-header">Certificats</li>
             {% for v in page.modelesCertif %}
                 <li>
                     <a class="newCourrier" data-modele="{{ v.name }}" href="#">{{ v.label }}</a>
                 </li>
             {% endfor %}
             <li role="separator" class="divider"></li>
             <li class="dropdown-header">Courriers</li>
             {% for v in page.modelesCourrier %}
                 <li>
                     <a class="newCourrier" data-modele="{{ v.name }}" href="#">{{ v.label }}</a>
                 </li>
             {% endfor %}
         </ul>
     </div>

     <div class="btn-group">
         <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled="disabled"{% endif %}>
             Règlement
             <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
           {% for k,v in page.formReglement %}
             <li>
               <a id="linkAddNewReglement" data-porteur="{{ k }}" data-module="{{ v.module }}" data-reglementForm="{{ v.form }}" href="#">{% if page.formReglement|length > 1 %} {{ v.module }} : {% endif %}Nouveau règlement</a>
             </li>
           {% endfor %}
         </ul>
     </div>

     <div class="btn-group">
         <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Document
             <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
             <li>
                 <a id="linkAddNewDoc" href="#">Ajouter un document au dossier</a>
             </li>
             {% if config.dicomHost=='' %}
               <li>
                   <a class="prepareReceptionDoc" href="#">Ajouter des documents au dossier via phonecapture</a>
               </li>
             {% endif %}
         </ul>
     </div>

     {% if config.dicomHost!='' %}
       <div class="btn-group">
           <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               DICOM
               <span class="caret"></span>
           </button>
           <ul class="dropdown-menu">
             <li>
                 <a href="#" class="catchLastDicomSrData">Récupérer dernières mesures</a>
             </li>
             <li>
                 <a href="#" class="catchOthersDicomSrData">Récupérer mesures antérieures</a>
             </li>
             <li role="separator" class="divider"></li>
             <li>
                 <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/dicom/{{ page.patient.id }}/" target="_blank">Voir tous les examens du patient</a>
             </li>
             <li role="separator" class="divider"></li>
             <li>
                 <a href="#" class="prepareEcho">Envoyer patient à échographe</a>
             </li>
             <li>
                 <a href="#" class="prepareReceptionDoc dicom">Envoyer patient à phonecapture</a>
             </li>
           </ul>
       </div>
     {% endif %}

     {% if page.patient.ALD is empty %}
       <button class="btn btn-default btn-sm btn-sm newCS" type="submit" data-parentid="0" data-formtocall="aldDeclaration" data-mode="create">Saisir une ALD</button>
     {% endif %}

   </div>
 </div>
