{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : menu supérieur du dossier patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

<div class="row">
 <div class="col pl-0">
   {% if config.optionGeActiverLapExterne == 'true' %}
     <div class="btn-group mr-2">
       <button type="button" class="btn btn-primary openLapExterne" title="Ordonnance médicamenteuse via LAP externe"><i class="fas fa-pills fa-lg fa-fw"></i></button>
       <button type="button" class="btn btn-primary addNewOrdo" data-porteur="{{ page.formOrdo.0.id }}" data-module="{{ page.formOrdo.0.module }}" data-ordoForm="{{ page.formOrdo.0.formValues }}" title="Autres prescriptions"><i class="fas fa-file-medical fa-lg fa-fw"></i></button>
     </div>
   {% elseif config.optionGeActiverLapInterne == 'true' %}
     <div class="btn-group mr-2">
       <button type="button" class="btn btn-primary openLAP" title="Ordonnance médicamenteuse via LAP"><i class="fas fa-pills fa-lg fa-fw"></i></button>
       <button type="button" class="btn btn-primary addNewOrdo" data-porteur="{{ page.formOrdo.0.id }}" data-module="{{ page.formOrdo.0.module }}" data-ordoForm="{{ page.formOrdo.0.formValues }}" title="Autres prescriptions"><i class="fas fa-file-medical fa-lg fa-fw"></i></button>
     </div>
   {% else %}
     <div class="btn-group mr-2">
       <button type="button" class="btn btn-primary addNewOrdo" data-porteur="{{ page.formOrdo.0.id }}" data-module="{{ page.formOrdo.0.module }}" data-ordoForm="{{ page.formOrdo.0.formValues }}" title="Ordonnance"><i class="fas fa-file-medical fa-lg fa-fw"></i></button>
     </div>
   {% endif %}

    <div class="btn-group mr-2">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Courriers &amp; Certificats">
            <i class="fas fa-file-signature fa-lg fa-fw"></i>
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-header">Certificats</div>
            {% for v in page.modelesCertif %}
                <a class="dropdown-item newCourrier" data-modele="{{ v.name }}" href="#">{{ v.label }}</a>
            {% endfor %}
            <div role="separator" class="dropdown-divider"></div>
            <div class="dropdown-header">Courriers</div>
            {% for v in page.modelesCourrier %}
                <a class="dropdown-item newCourrier" data-modele="{{ v.name }}" href="#">{{ v.label }}</a>
            {% endfor %}
            {% if page.modelesDocASigner|length > 0 %}
              <div role="separator" class="dropdown-divider"></div>
              <div class="dropdown-header">Documents à signer</div>
              {% for v in page.modelesDocASigner %}
                  <a class="dropdown-item newCourrier" data-modele="{{ v.name }}" href="#">{{ v.label }}</a>
              {% endfor %}
            {% endif %}
        </div>
    </div>

    {% if page.formReglement|length > 1 %}
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled{% endif %} title="Règlements">
            <i class="fas fa-euro-sign fa-lg fa-fw"></i>
        </button>
        <div class="dropdown-menu">
          {% for v in page.formReglement %}
            <a class="dropdown-item addNewReglement" title="{{ v.description }}" data-porteur="{{ v.id }}" data-module="{{ v.module }}" data-reglementForm="{{ v.formValues }}" href="#">{{ v.description }}</a>
          {% endfor %}
        </div>
      </div>
    {% elseif page.formReglement|length > 0 %}
      <a class="addNewReglement btn btn-primary mr-2 {% if config.administratifPeutAvoirRecettes != 'true' %}disabled{% endif %}" type="button" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled{% endif %} data-porteur="{{ page.formReglement[0]['id'] }}" data-module="{{ page.formReglement[0]['module'] }}" data-reglementForm="{{ page.formReglement[0]['formValues'] }}" href="#" title="Règlement"><i class="fas fa-euro-sign fa-lg fa-fw"></i></a>
    {% endif %}

    {% if page.patient.ALD is empty %}
      <button class="btn btn-outline-primary addNewCS mr-2" type="button" data-parentid="0" data-formtocall="aldDeclaration" data-mode="create" title="Saisir une ALD"><i class="fas fa-plus fa-sm fa-fw"></i> ALD</button>
    {% endif %}

    <div class="mx-3 d-inline-block">&nbsp;</div>

    {% if config.dicomHost!='' %}
      <div class="btn-group mr-2">
        {% if config.optionGeActiverPhonecapture == 'true' %}
          <button class="btn btn-secondary prepareReceptionDoc dicom" title="Acquisition de photos pour ce patient via phonecapture">
            <i class="fas fa-mobile-alt fa-lg fa-fw"></i>
          </button>
        {% endif %}
          <button type="button" class="btn btn-secondary catchLastDicomSrData" aria-haspopup="true" aria-expanded="false" title="Récupérer dernières mesures">
            <i class="fas fa-ruler fa-lg fa-fw"></i>
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="DICOM">
              <i class="far fa-images fa-lg fa-fw"></i>
          </button>
          <div class="dropdown-menu">
            <a href="#" class="catchLastDicomSrData dropdown-item">
              <i class="fas fa-ruler fa-fw text-muted mr-1"></i> Récupérer dernières mesures
            </a>
            <a href="#" class="catchOthersDicomSrData dropdown-item">
              <i class="fas fa-fw mr-1"></i> Récupérer mesures antérieures
            </a>
            <div role="separator" class="dropdown-divider"></div>
            <a href="#" class="dropdown-item prepareEcho">
              <i class="fas fa-user-plus fa-fw text-muted mr-1"></i> Envoyer patient à échographe
            </a>
            {% if config.optionGeActiverPhonecapture == 'true' %}
              <a href="#" class="dropdown-item prepareReceptionDoc dicom">
                <i class="fas fa-mobile-alt fa-fw text-muted mr-1"></i> Envoyer patient à phonecapture
              </a>
            {% endif %}
          </div>
      </div>

      <div class="mx-3 d-inline-block">&nbsp;</div>
    {% endif %}

    <div class="btn-group mr-2">
      <button type="button" class="btn btn-secondary linkAddNewDoc" aria-haspopup="true" aria-expanded="false" title="Glisser un document dans le dossier">
        <i class="fas fa-file-download fa-lg "></i>
      </button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Document</span>
      </button>
      <div class="dropdown-menu">
          <a class="dropdown-item linkAddNewDoc" href="#"><i class="fas fa-file-download fa-fw text-muted mr-1"></i> Glisser un document dans le dossier</a>
          {% if config.optionGeActiverPhonecapture == 'true' %}
            <a class="dropdown-item prepareReceptionDoc" href="#"><i class="fas fa-mobile-alt fa-fw text-muted mr-1"></i> Ajouter un document au dossier via phonecapture</a>
          {% endif %}
      </div>
    </div>

  </div>
</div>
