{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : menu supérieur du dossier patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

<div class="row">
  <div class="col pl-0">
    {% if page.formOrdo|length > 1 %}
      <div class="btn-group mr-1 my-1">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ordonnances
        </button>
        <ul class="dropdown-menu">
          {% for v in page.formOrdo %}
            <li>
                <a class="dropdown-item addNewOrdo" title="{{ v.description }}" data-porteur="{{ v.id }}" data-module="{{ v.module }}" data-ordoForm="{{ v.formValues }}" href="#">{{ v.label }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <a class="addNewOrdo btn btn-secondary m-1" type="button" title="{{ page.formOrdo[0]['description'] }}" data-porteur="{{ page.formOrdo[0]['id'] }}" data-module="{{ page.formOrdo[0]['module'] }}" data-ordoForm="{{ page.formOrdo[0]['formValues'] }}" href="#">{{ page.formOrdo[0]['label'] }}</a>
    {% endif %}

    <div class="btn-group m-1">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Courriers &amp; Certificats
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Certificats</li>
            {% for v in page.modelesCertif %}
                <li>
                    <a class="dropdown-item newCourrier" data-modele="{{ v.name }}" href="#">{{ v.label }}</a>
                </li>
            {% endfor %}
            <li role="separator" class="dropdown-divider"></li>
            <li class="dropdown-header">Courriers</li>
            {% for v in page.modelesCourrier %}
                <li>
                    <a class="dropdown-item newCourrier" data-modele="{{ v.name }}" href="#">{{ v.label }}</a>
                </li>
            {% endfor %}
            {% if page.modelesDocASigner|length > 0 %}
              <li role="separator" class="dropdown-divider"></li>
              <li class="dropdown-header">Documents à signer</li>
              {% for v in page.modelesDocASigner %}
                  <li>
                      <a class="dropdown-item newCourrier" data-modele="{{ v.name }}" href="#">{{ v.label }}</a>
                  </li>
              {% endfor %}
            {% endif %}
        </ul>
    </div>

    {% if page.formReglement|length > 1 %}
      <div class="btn-group m-1">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled{% endif %}>
            Règlements
        </button>
        <ul class="dropdown-menu">
          {% for v in page.formReglement %}
            <li>
              <a class="dropdown-item addNewReglement" title="{{ v.description }}" data-porteur="{{ v.id }}" data-module="{{ v.module }}" data-reglementForm="{{ v.formValues }}" href="#">{{ v.label }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <a class="addNewReglement btn btn-secondary m-1" type="button" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled{% endif %} title="{{ page.formReglement[0]['description'] }}" data-porteur="{{ page.formReglement[0]['id'] }}" data-module="{{ page.formReglement[0]['module'] }}" data-reglementForm="{{ page.formReglement[0]['formValues'] }}" href="#">{{ page.formReglement[0]['label'] }}</a>
    {% endif %}

    <div class="btn-group m-1">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Document
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" id="linkAddNewDoc" href="#">Ajouter un document au dossier</a>
            </li>
            {% if config.dicomHost=='' %}
              <li>
                  <a class="dropdown-item prepareReceptionDoc" href="#">Ajouter des documents au dossier via phonecapture</a>
              </li>
            {% endif %}
        </ul>
    </div>

    {% if config.dicomHost!='' %}
      <div class="btn-group m-1">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              DICOM
          </button>
          <ul class="dropdown-menu">
            <li>
                <a href="#" class="catchLastDicomSrData dropdown-item">Récupérer dernières mesures</a>
            </li>
            <li>
                <a href="#" class="catchOthersDicomSrData dropdown-item">Récupérer mesures antérieures</a>
            </li>
            <div role="separator" class="dropdown-divider"></div>
            <li>
                <a href="#" class="dropdown-item prepareEcho" title="Préparer l'acquisition d'images pour ce patient via un appareil d'examen">Envoyer patient à l'appareil</a>
            </li>
            <li>
                <a href="#" class="dropdown-item prepareReceptionDoc dicom" title="Préparer l'acquisition d'images pour ce patient via Phonecapture">Envoyer patient à phonecapture</a>
            </li>
          </ul>
      </div>
    {% endif %}

    {% if page.patient.ALD is empty %}
      <button class="btn btn-secondary m-1 addNewCS" type="button" data-parentid="0" data-formtocall="aldDeclaration" data-mode="create">Saisir une ALD</button>
    {% endif %}
  </div>
</div>
