{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template >  page de capture dicom par smartphone
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @edited fr33z00 <https://github.com/fr33z00>
 #}

 <!DOCTYPE html>
 <html>
 <head{% if page.ogHead %} {{ page.ogHead }} {% endif %}>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <title>
         PhoneCapture
     </title>

     {# css #}
     <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
     <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/css/general.css" rel="stylesheet"/>

     <style>
     @media screen and (orientation:portrait) {
       #landscape{
         display: none;
       }
       #portrait{
         display: auto;
       }
      }
     @media screen and (orientation:landscape) {
       #landscape{
         display: auto;
       }
       #portrait{

         display: none;
       }
      }

      canvas {height:80px; margin-left:5px;}

     </style>


     {# js #}
     <script src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/bower_components/jquery/dist/jquery.min.js"></script>
     <script src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

 </head>
 <body>
   <div id="portrait" class="container" style="padding-top: 40px;">
     <div class="jumbotron" role="alert"><p>Placez votre téléphone en mode paysage !</p></div>
   </div>

   <div id="landscape" class="container" style="padding-top : 5px;">
   <div class="row" style="margin-bottom : 5px;">
     <div class="col-xs-12">
     Praticien : {{ page.data.prat.2 }} {{ page.data.prat.3 }} /
     Patient : {{ page.data.patient.2 }} {{ page.data.patient.3 }} ({{ page.data.patient.dicomPatientID }})
     </div>
   </div>
   <div class="row">
     <div id="videocontainer" class="col-xs-9">
      <video style="width:100%"></video>
      <canvas id="prevue" style="display:none"><canvas>
    </div>
    <div class="col-xs-2">
      <button id="declencher" class="btn btn-success btn-lg btn-block"><i class="glyphicon glyphicon-camera"></i></button>
      <button id="rafraichir" class="btn btn-success btn-lg btn-block"><i class="glyphicon glyphicon-refresh"></i></button>
      <button id="refaire" class="btn btn-success btn-lg btn-block"><i class="glyphicon glyphicon-repeat"></i></button>
      <br>
      <button id="envoyer" class="btn btn-danger btn-lg btn-block"><i class="glyphicon glyphicon-send"></i></button>
    </div>
  </div>
   <div class="row" style="overflow-x:scroll;width:100%; height:85px">
     <div id="miniatures" style="width:0;height:80px"></div>
   </div>

 </div>
   <script>
     $(document).ready(function(){

     $("#declencher").show();
     $("#envoyer").hide();
     $("#refaire").hide();
     $("#rafraichir").hide();

     function onTimeout(){
       $("video")[0].srcObject.getVideoTracks()[0].stop();
       $("#declencher").hide();
       $("#envoyer").hide();
       $("#refaire").hide();
       $("#rafraichir").show();
       videoTO = undefined;
     };
     var videoTO = setTimeout(onTimeout, 30000);

     $("#rafraichir").on("click", function(){
       startVideo();
       $("#declencher").show();
       $("#envoyer").hide();
       $("#refaire").hide();
       $("#rafraichir").hide();
       videoTO = setTimeout(onTimeout, 30000);
     });

     $("#refaire").on("click", function(){
       $("video")[0].play();
       $("#declencher").show();
       $("#envoyer").hide();
       $("#refaire").hide();
       if (videoTO) {
         clearTimeout(videoTO);
         videoTO = setTimeout(onTimeout, 30000);
       }
     });
     $("#declencher").on("click", function(){
       $("video")[0].pause();
       $("#declencher").hide();
       $("#envoyer").show();
       $("#refaire").show();
       if (videoTO) {
         clearTimeout(videoTO);
         videoTO = setTimeout(onTimeout, 30000);
       }
     });
     $("#envoyer").on("click", function(){
       var canvas = document.createElement("canvas");
       var context = canvas.getContext('2d');
       var video = $("video")[0];
       canvas.width = video.videoWidth;
       canvas.height = video.videoHeight;
       context.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
       context.fillStyle = "rgba(0,0,0,0.3)";
       context.fillRect(0,video.videoHeight-25,video.videoWidth,video.videoHeight);
       context.fillStyle = "#ffffff";
       context.font = "18px Arial";
       context.fillText("{{ page.data.patient.2 }} {{ page.data.patient.3 }} ({{ page.data.patient.dicomPatientID }})", 10,video.videoHeight-5);

       $("#miniatures").append(canvas);
       //la valeur à envoyer via ajax
       var a_envoyer = canvas.toDataURL('image/jpeg', 0.95);
       $("#miniatures").width("+=" + (80*video.videoWidth/video.videoHeight + 5));
       $("video")[0].play();
       $("#declencher").show();
       $("#envoyer").hide();
       $("#refaire").hide();
       if (videoTO) {
         clearTimeout(videoTO);
         videoTO = setTimeout(onTimeout, 30000);
       }
     });

     function startVideo(){
       var constraints = { audio: false, video: { width: 1920, height: 1080, frameRate: 10} };

       navigator.mediaDevices.getUserMedia(constraints)
       .then(function(mediaStream) {
         var video = $('video')[0];
         video.srcObject = mediaStream;
         video.onloadedmetadata = function(e) {
           video.play();
         };
       })
       .catch(function(err) { console.log(err.name + ": " + err.message); }); // always check for errors at the end.
     };
     startVideo();

   })
   </script>
 </body>
 </html>
