{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template >  page de capture dicom par smartphone
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

<!DOCTYPE html>
<html>
  <head{% if page.ogHead %} {{ page.ogHead }} {% endif %}>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
    PhoneCapture
    </title>

    {# css #}
    <link href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/fortawesome/font-awesome/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/scss/bs_custom.min.css" rel="stylesheet"/>

    <style>
      @media screen and (orientation:portrait) {
        #landscape{
          display: none;
        }
        #portrait{
          display: auto;
        }
      }
      @media screen and (orientation:landscape) {
        #landscape{
          display: auto;
        }
        #portrait{
          display: none;
        }
      }

      .nmt {
        margin-top :0 !important;
      }

      #miniatures {position:relative;width:0;height:80px}
      .miniature {position:absolute;height:80px;margin-left:5px}
      .miniature canvas {height:80px;}
    </style>


    {# js #}
    <script src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/jquery/jquery/dist/jquery.min.js?{{ modules.base }}"></script>
    <script src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/twbs/bootstrap/dist/js/bootstrap.min.js?{{ modules.base }}"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/moment/moment/min/moment.min.js?{{ modules.base }}"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/general.js?{{ modules.base }}"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/phonecapture.js?{{ modules.base }}"></script>

    <script>
      var urlBase = '{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}';

      var patientIdentite = '{{ page.data.patient.lastname|default(page.data.patient.birthname) }} {{ page.data.patient.firstname }} ({{ page.data.patient.dicomPatientID }})';

      var dicomPatientID = '{{ page.data.patient.dicomPatientID }}';

      var phonecaptureResolutionWidth = {% if config.phonecaptureResolutionWidth > 0 %}{{ config.phonecaptureResolutionWidth }}{% else %}1920{% endif %};
      var phonecaptureResolutionHeight = {% if config.phonecaptureResolutionHeight > 0 %}{{ config.phonecaptureResolutionHeight }}{% else %}1080{% endif %};
    </script>

  </head>
  <body>
    <a id="gofs" class="d-none">Passer en plein écran</a>
    <div id="page" class="container-fluid" style="background-color:#fff;overflow-y:scroll">
      <div id="portrait" class="p-1 mb-2">
        <div class="row mb-2 p-0" style="line-height:17px">
          <div class="col-1 p-0">
            <button onClick="window.location.reload()" id="logout" class="btn btn-danger btn-sm" style="height:100%"><i class="fas fa-sync"></i></button>
          </div>
          <div class="col-11 pl-2 pr-0">
            Prat.: {{ page.data.prat.lastname|default(page.data.prat.birthname) }} {{ page.data.prat.firstname }}<br>
            Patient: <strong>{{ page.data.patient.lastname|default(page.data.patient.birthname) }} {{ page.data.patient.firstname }}</strong> ({{ page.data.patient.dicomPatientID }})
          </div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="videocontainer col-10">
            <video style="width:100%;"></video>
            <canvas class="prevue" style="display:none"><canvas>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn btn-success btn-lg btn-block nmt declencher"><i class="fas fa-camera"></i></button>
            <button class="btn btn-success btn-lg btn-block nmt rafraichir"><i class="fas fa-sync-alt"></i></button>
            <button class="btn btn-success btn-lg btn-block nmt refaire"><i class="fas fa-redo-alt"></i></button>
          </div>
          <div class="col-6">
            <button class="btn btn-danger btn-lg btn-block nmt envoyer"><i class="fas fa-paper-plane"></i></button>
          </div>
        </div>
      </div>

      <div id="landscape" class="p-1">
        <div class="row mb-2">
          <div class="col-12 p-0">
            <button onClick="window.location.reload()" id="logout" class="btn btn-danger btn-sm"><i class="fas fa-sync"></i></button>
            Praticien : {{ page.data.prat.lastname|default(page.data.prat.birthname) }} {{ page.data.prat.firstname }} /
            Patient : <strong>{{ page.data.patient.lastname|default(page.data.patient.birthname) }} {{ page.data.patient.firstname }}</strong> ({{ page.data.patient.dicomPatientID }})
          </div>
        </div>
        <div class="row mb-2">
          <div class="videocontainer col-9">
            <video style="width:100%"></video>
            <canvas class="prevue" style="display:none"><canvas>
          </div>
          <div class="col-3">
            <button class="btn btn-success btn-lg btn-block nmt declencher"><i class="fas fa-camera"></i></button>
            <button class="btn btn-success btn-lg btn-block nmt rafraichir"><i class="fas fa-sync-alt"></i></button>
            <button class="btn btn-success btn-lg btn-block nmt refaire"><i class="fas fa-redo-alt"></i></button>
            <br>
            <button class="btn btn-danger btn-lg btn-block nmt envoyer"><i class="fas fa-paper-plane"></i></button>
          </div>
        </div>
      </div>

      <div class="row p-0" style="overflow-x:scroll;width:100%; height:85px">
        <div class="col-12 p-0" style="overflow-x:scroll">
          <div id="miniatures"></div>
        </div>
      </div>
      <div class="row" style="text-align: center;padding-bottom : 4px;">
        <div class="col-12">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/phonecapture/logout/" id="logout" class="btn btn-light btn-sm"><i class="fas fa-power-off"></i> Déconnexion</a>
        </div>
      </div>
    <div>
  </body>
</html>
