{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > macro de construction des formulaires
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{# input #}
{% macro input(v) %}

		{# si un label existe #}
		{% if v.label.label != '' %}
			{# label avant ou autour #}
			{% if v.label.position == 'before' or v.label.position == 'around' %}
				<label
				{% if v.label.class %} class="{{ v.label.class }}" {% endif %}
				{% if v.input.id %} for="{{ v.input.id }}" {% endif %}
				>{{ v.label.label|e }}
			{% endif %}

			{# label avant #}
			{% if v.label.position == 'before' %}
				</label>
			{% endif %}
		{% endif %}

		{# insertion avant le input #}
	  {% if v.input.before %}
	  	{{ v.input.before }}
			{% if v.input.plusg %}
        <div class="input-group-prepend">
  				<span class="input-group-text" id="{{v.input.id}}AddOnG">{{ v.input.plusg }}</span>
        </div>
			{% endif %}
		{% elseif v.input.plus or v.input.plusg %}
			<div class="input-group input-group-sm mx-0">
				{% if v.input.plusg %}
          <div class="input-group-prepend">
  					<span class="input-group-text" id="{{v.input.id}}AddOnG">{{ v.input.plusg }}</span>
          </div>
				{% endif %}

		{% endif %}

		{# correction de class si checkbox #}
		{% if v.input.type == 'checkbox' %}
			{% set inputclass = v.input.class|replace({'form-control' : ''}) %}
		{% else %}
			{% set inputclass = v.input.class %}
		{% endif %}

		{# input #}
    <input type="{{ v.input.type }}" title="{{ v.input.internalName }} / {{ v.input.datatypeid }}"
		{% if v.input.id %} id="{{ v.input.id }}" {% endif %}
		{% if v.input.name %} name="{{ v.input.name }}" {% endif %}
    {% if v.input.value != 'noPreValue' %} value="{{ v.input.value|e('html_attr') }}"
		{% elseif v.input.value == 'noPreValue' and  v.input.defaut != '' %} value="{{ v.input.defaut|e('html_attr') }}"
		{% endif %}
    {% if v.input.placeholder %} placeholder="{{ v.input.placeholder|e('html_attr') }}" {% endif %}
		{% if v.input.class %} class="{{ inputclass }}{% if v.input.error %} inputErreur{% endif %}" {% endif %}
    {% if v.input.min or v.input.min == '0' %} min="{{ v.input.min }}" {% endif %}
    {% if v.input.max or v.input.max == '0' %} max="{{ v.input.max }}" {% endif %}
    {% if v.input.step or v.input.step == '0' %} step="{{ v.input.step }}" {% endif %}
    {% if v.input.pattern %} pattern="{{ v.input.pattern }}" {% endif %}
    {% if v.input.autocomplete %} autocomplete="{{ v.input.autocomplete }}" {% endif %}
		{% if v.input.dataAcTypeID %} {{ v.input.dataAcTypeID }} {% endif %}
		{% if v.input.disabled %} disabled {% endif %}
		{% if v.input.readonly %} readonly {% endif %}
    {% if v.input.required == 'required' %} required {% endif %}
    {% if v.input.datatypeid %} data-typeid="{{ v.input.datatypeid }}" {% endif %}
		{% if v.input.internalName %} data-internalName="{{ v.input.internalName }}" {% endif %}
    {% if v.input.type == "checkbox" and v.input.value == "true" %} checked {% endif %}
		{{ v.input.add }} />

		{# insertion après le input #}
    {% if v.input.after %}
    	{{ v.input.after }}
		{% elseif v.input.plus %}
      <div class="input-group-append">
  			<span class="input-group-text" id="{{v.input.id}}AddOn">{{ v.input.plus }}</span>
      </div>
		{% endif %}

		{% if v.input.before %}
		{% elseif v.input.plus or v.input.plusg %}
			</div>
		{% endif %}

		{# si un label existe #}
		{% if v.label.label != '' %}
			{# label après #}
			{% if v.label.position == 'after' %}
				<label
				{% if v.label.class %} class="{{ v.label.class }}" {% endif %}
				{% if v.input.id %} for="{{ v.input.id }}" {% endif %}
				>{{ v.label.label|e }}
			{% endif %}

			{# label après ou autour #}
			  {% if v.label.position == 'after' or v.label.position == 'around' %}
			  	</label>
		  {% endif %}
	  {% endif %}

{% endmacro %}



{# select #}
{% macro select(v) %}

	{# si un label existe #}
	{% if v.label.label != '' %}
		{% if v.label.position == 'before' or v.label.position == 'around' %}
			<label
			{% if v.label.class %} class="{{ v.label.class }}" {% endif %}
			{% if v.select.id %} for="{{ v.select.id }}" {% endif %}
			>{{ v.label.label|e }}
		{% endif %}
		{% if v.label.position == 'before' %}
			</label>
		{% endif %}
	{% endif %}

	{% if v.select.before %}
		{{ v.select.before }}
	{% endif %}
	<select title="{{ v.select.internalName }} / {{ v.select.datatypeid }}"
	class="custom-select{% if v.select.class %} {{ v.select.class }}{% if v.select.error %} inputErreur{% endif %}{% endif %}"
	{% if v.select.id %} id="{{ v.select.id }}" {% endif %}
	{% if v.select.name %} name="{{ v.select.name }}" {% endif %}
	{% if v.select.datatypeid %} data-typeid="{{ v.select.datatypeid }}" {% endif %}
	{% if v.select.autocomplete %} autocomplete="{{ v.select.autocomplete }}" {% endif %}
	{% if v.select.disabled %} disabled="{{ v.select.disabled }}" {% endif %}
	{% if v.select.internalName %} data-internalName="{{ v.select.internalName }}" {% endif %}
	{{ v.select.add }}>
	{% if v.select.valueDefaut is iterable %}
		{% for key,value in v.select.valueDefaut %}
			<option value="{{ key|e('html_attr') }}">{{ value|e }}</option>
		{% endfor %}
	{% else %}
		{% for key,value in v.select.values %}
			<option
			{% if v.select.valueDefaut == key %} selected="selected" {% endif %}
			value="{{ key|e('html_attr') }}">{{ value|e }}
			</option>
		{% endfor %}
	{% endif %}

	</select>

	{# si un label existe #}
	{% if v.label.label != '' %}
		{% if v.label.position == 'after' %}
			<label
			{% if v.label.class %} class="{{ v.label.class }}" {% endif %}
			{% if v.select.id %} for="{{ v.input.id }}" {% endif %}
			>{{ v.label.label|e }}
		{% endif %}

	    {% if v.label.position == 'after' or v.label.position == 'around' %}
	    	</label>
	    {% endif %}
	{% endif %}
{% endmacro %}


{# radio #}
{% macro radio(v) %}

	{% if 'notInline' in v.radio.class %}

		{# si un label existe #}
		{% if v.label.label != '' %}
			<div class="{% if v.label.class %}{{ v.label.class }}{% endif %}"
			{% if v.radio.id %} for="{{ v.radio.id }}" {% endif %}>{{ v.label.label|e }}
			</div>
		{% endif %}


		{% for key,value in v.radio.values %}
			<div class="custom-control custom-radio">
				<input type="radio" id="{{ v.radio.id }}{{ loop.index }}" name="{{ v.radio.name }}" value="{{ key|e('html_attr') }}" class="custom-control-input" {% if v.radio.disabled %} disabled="{{ v.radio.disabled }}" {% endif %} {% if v.radio.valueDefaut == key %} checked="checked" {% endif %} autocomplete="off">
				<label class="custom-control-label" for="{{ v.radio.id }}{{ loop.index }}">{{ value|e }}</label>
			</div>
		{% endfor %}


	{% else %}
		<div class="d-flex">
		{# si un label existe #}
		{% if v.label.label != '' %}
		  <div class="flex-grow-1 {% if v.label.class %}{{ v.label.class }}{% endif %} mr-2"
			{% if v.radio.id %} for="{{ v.radio.id }}" {% endif %}>{{ v.label.label|e }}
		  </div>
		{% endif %}


		{% for key,value in v.radio.values %}
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" id="{{ v.radio.id }}{{ loop.index }}" name="{{ v.radio.name }}" value="{{ key|e('html_attr') }}" class="custom-control-input" {% if v.radio.disabled %} disabled="{{ v.radio.disabled }}" {% endif %} {% if v.radio.valueDefaut == key %} checked="checked" {% endif %} autocomplete="off">
			  <label class="custom-control-label" for="{{ v.radio.id }}{{ loop.index }}">{{ value|e }}</label>
			</div>
		{% endfor %}
		</div>
	{% endif %}

{% endmacro %}


{# selectMultiple #}
{% macro selectMultiple(v) %}

	{# si un label existe #}
	{% if v.label.label != '' %}
		{% if v.label.position == 'before' or v.label.position == 'around' %}
			<label
			{% if v.label.class %} class="{{ v.label.class }}" {% endif %}
			{% if v.select.id %} for="{{ v.select.id }}" {% endif %}
			>{{ v.label.label|e }}
		{% endif %}
		{% if v.label.position == 'before' %}
			</label>
		{% endif %}
	{% endif %}
  <input type="hidden" name="{{ v.select.name }}[]" value="" />
	<select title="{{ v.select.internalName }} / {{ v.select.datatypeid }}"
	{% if v.select.class %} class="{{ v.select.class }}{% if v.select.error %} inputErreur{% endif %}" {% endif %}
	{% if v.select.id %} id="{{ v.select.id }}" {% endif %}
	{% if v.select.name %} name="{{ v.select.name }}[]" {% endif %}
	{% if v.select.datatypeid %} data-typeid="{{ v.select.datatypeid }}" {% endif %}
	{% if v.select.autocomplete %} autocomplete="{{ v.select.autocomplete }}" {% endif %}
	{% if v.select.disabled %} disabled="{{ v.select.disabled }}" {% endif %}
	{% if v.select.internalName %} data-internalName="{{ v.select.internalName }}" {% endif %}
	{{ v.select.add }} multiple>
	{% for key,value in v.select.values %}
		<option
		{% if key in v.select.valueDefaut %} selected="selected" {% endif %}
		value="{{ key|e('html_attr') }}">{{ value|e }}
		</option>
	{% endfor %}
	</select>

	{# si un label existe #}
	{% if v.label.label != '' %}
		{% if v.label.position == 'after' %}
			<label
			{% if v.label.class %} class="{{ v.label.class }}" {% endif %}
			{% if v.select.id %} for="{{ v.input.id }}" {% endif %}
			>{{ v.label.label|e }}
		{% endif %}

	    {% if v.label.position == 'after' or v.label.position == 'around' %}
	    	</label>
	    {% endif %}
	{% endif %}
{% endmacro %}



{# select avec optgroup #}
{% macro selectOptgroup(v) %}

	{# si un label existe #}
	{% if v.label.label != '' %}
		{% if v.label.position == 'before' or v.label.position == 'around' %}
			<label
			{% if v.label.class %} class="{{ v.label.class }}" {% endif %}
			{% if v.select.id %} for="{{ v.select.id }}" {% endif %}
			>{{ v.label.label|e }}
		{% endif %}
		{% if v.label.position == 'before' %}
			</label>
		{% endif %}
	{% endif %}

	{% if v.select.before %}
		{{ v.select.before }}
	{% endif %}
	<select title="{{ v.select.internalName }} / {{ v.select.datatypeid }}"
	{% if v.select.class %} class="{{ v.select.class }}{% if v.select.error %} inputErreur{% endif %}" {% endif %}
	{% if v.select.id %} id="{{ v.select.id }}" {% endif %}
	{% if v.select.name %} name="{{ v.select.name }}" {% endif %}
	{% if v.select.autocomplete %} autocomplete="{{ v.select.autocomplete }}" {% endif %}
	{% if v.select.datatypeid %} data-typeid="{{ v.select.datatypeid }}" {% endif %}
	{% if v.select.disabled %} disabled="{{ v.select.disabled }}" {% endif %}
	{% if v.select.internalName %} data-internalName="{{ v.select.internalName }}" {% endif %}
	{{ v.select.add }}>
	{% for key,options in v.select.values %}
	 	<optgroup label="{{ key|e('html_attr') }}">
		{% for k,va in options %}
			<option
			{% if v.select.valueDefaut == va.id %} selected="selected" {% endif %}
			value="{{ va.id|e('html_attr') }}">{{ va.label|e }}
			</option>
		{% endfor %}
		</optgroup>
	{% endfor %}
	</select>

	{# si un label existe #}
	{% if v.label.label != '' %}
		{% if v.label.position == 'after' %}
			<label
			{% if v.label.class %} class="{{ v.label.class }}" {% endif %}
			{% if v.select.id %} for="{{ v.input.id }}" {% endif %}
			>{{ v.label.label|e }}
		{% endif %}

	    {% if v.label.position == 'after' or v.label.position == 'around' %}
	    	</label>
	    {% endif %}
		{% endif %}
{% endmacro %}


{# textarea #}
{% macro textarea(v) %}

	{# si un label existe #}
	{% if v.label.label != '' %}
		{% if v.label.position == 'before' or v.label.position == 'around' %}
			<label
			{% if v.label.class %} class="{{ v.label.class }}" {% endif %}
			{% if v.textarea.id %} for="{{ v.textarea.id }}" {% endif %}
			>{{ v.label.label|e }}
		{% endif %}
		{% if v.label.position == 'before' %}
			</label>
		{% endif %}
	{% endif %}

	{% if v.textarea.before %}
		{{ v.textarea.before }}
	{% endif %}

	<textarea title="{{ v.textarea.internalName }} / {{ v.textarea.datatypeid }}"
	{% if v.textarea.id %} id="{{ v.textarea.id }}" {% endif %}
	{% if v.textarea.name %} name="{{ v.textarea.name }}" {% endif %}
  {% if v.textarea.placeholder %} placeholder="{{ v.textarea.placeholder|e('html_attr') }}" {% endif %}
	{% if v.textarea.datatypeid %} data-typeid="{{ v.textarea.datatypeid }}" {% endif %}
	{% if v.textarea.autocomplete %} autocomplete="{{ v.textarea.autocomplete }}" {% endif %}
	{% if v.textarea.disabled %} disabled="{{ v.textarea.disabled }}" {% endif %}
	{% if v.textarea.readonly %} readonly="{{ v.textarea.readonly }}" {% endif %}
	{% if v.textarea.class %} class="{{ v.textarea.class }}{% if v.textareaerror %} textareaErreur{% endif %}" {% endif %}
	{% if v.textarea.rows %} rows="{{ v.textarea.rows }}" {% endif %}
	{% if v.textarea.internalName %} data-internalName="{{ v.textarea.internalName }}" {% endif %}
	{{ v.textarea.add }}

	>{% if v.textarea.value != 'noPreValue' %}{{ v.textarea.value|e }}{% elseif v.textarea.value == 'noPreValue' and  v.textarea.defaut != '' %}{{ v.textarea.defaut|e }}{% endif %}</textarea>

	{# si un label existe #}
	{% if v.label.label != '' %}
		{% if v.label.position == 'after' %}
			<label
			{% if v.label.class %} class="{{ v.label.class }}" {% endif %}
			{% if v.textarea.id %} for="{{ v.textarea.id }}" {% endif %}
			>{{ v.label.label|e }}
		{% endif %}

    {% if v.label.position == 'after' or v.label.position == 'around' %}
    	</label>
    {% endif %}
	{% endif %}
{% endmacro %}


{# form errors bloc #}
{% macro errorFormDiv( validationErrorsMsg ) %}
	{% if validationErrorsMsg %}
	<div class="alert alert-danger" role="alert">
		Merci de considérer les informations suivantes et de corriger les champs concernés :
		<ul>
		{% for message in validationErrorsMsg %}
	    {% if message %}<li>{{ message }}</li>{% endif %}
		{% endfor %}
		</ul>
	</div>
	{% endif %}
{% endmacro %}

{# formBuilder #}
{% macro formbuilder(t , formIN, prevalue ) %}
	{% import _self as f %}

	{% if t.global.noFormTags is not defined %}
		<form
		{% if t.global.formAction %}action="{{ t.config.protocol }}{{ t.config.host }}{{ t.config.urlHostSuffixe }}{{ t.global.formAction }}" {% endif %}
		{% if t.global.formMethod %}method="{{ t.global.formMethod }}" {% endif %}
		id="formName_{{ formIN }}"
		class="{{ t.global.formClass }}"
		data-dataset="{{ t.global.dataset }}"
		data-instance="{{ t.global.instance }}" >
	{% endif %}


	{# form autoTitle : name du data_type dont la valeur déterminera le titre de l'objet créé #}
	{% if t.global.autoTitle %}
		{{ f.input ({
			'input' : {
				'type' : 'hidden',
				'name' : 'autoTitle',
				'value' : t.global.autoTitle
			}
		}) }}
	{% endif %}

	{# form number #}
	{{ f.input ({
		'input' : {
			'type' : 'hidden',
			'name' : 'formIN',
			'value' : formIN
		}
	}) }}

 {# champ cachés #}
 {% for khc,hc in t.addHidden %}
 {{ f.input ({
	 'input' : {
		 'type' : 'hidden',
		 'name' : khc,
		 'value' : hc
	 }
 }) }}
 {% endfor %}

	{% for row in t.structure %}
	<div class="row{% if row.elements.class %} {{row.elements.class}}{% endif %}">
		{% for keycol, col in row %}
			{% if keycol == "elements" %}
				<div class="col-md-12"><h3>{{ col.value }}</h3></div>
			{% else %}
				<div class="{{ col.size|e('html_attr') }}">
					{% for el in col.elements %}
						{% if el.type == "head" %}
							<h4 class="my-2">{{ el.value }}</h4>
						{% elseif el.type == "label" %}
							<p>{{ el.value }}</p>
						{% elseif el.type == "template" %}
							{% include el.value ~ '.html.twig' %}
						{% else %}


							{% if el.value.formType in ['text','email','tel','password', 'number', 'checkbox','hidden','range','reset'] %}
								<div class="form-group{% if el.value.name in prevalue['form'][formIN]['validationErrors'] %} has-error{% endif %}">
								{{ f.input ({
									'input' : {
										'type' : el.value.formType,
										'name' : el.value.name,
										'id' : 'id_' ~ el.value.internalName ~ '_id',
										'placeholder' : el.value.placeholder,
										'class' : 'form-control form-control-sm' ~ el.value.autocompleteclass ~ el.value.class,
										'value' : el.value.preValue,
										'defaut' : el.value.formValues,
										'required' : el.value.required,
										'disabled' : el.value.disabled,
										'readonly' : el.value.readonly,
										'datatypeid' : el.value.id,
										'autocomplete' : 'off',
										'dataAcTypeID' : el.value.dataAcTypeID,
										'min' : el.value.min,
										'max' : el.value.max,
										'step' : el.value.step,
										'plus' : el.value.plus,
										'plusg' : el.value.plusg,
										'internalName' : el.value.internalName,
										'before' : t['before'][el.value.internalName]
									},
									'label' : {
										'position' : 'before',
										'label' : el.value.label,
										'class' : 'control-label'
									}
								}) }}
								</div>

							{% elseif el.value.formType == "textarea" %}
								<div class="form-group{% if el.value.name in prevalue['form'][formIN]['validationErrors'] %} has-error{% endif %}">
								{{ f.textarea ({
									'textarea' : {
										'name' : el.value.name,
										'id' : 'id_' ~ el.value.internalName ~ '_id',
										'class' : 'form-control form-control-sm' ~ el.value.class,
										'value' : el.value.preValue,
										'defaut' : el.value.formValues,
										'disabled' : el.value.disabled,
										'datatypeid' : el.value.id,
										'autocomplete' : 'off',
										'placeholder' : el.value.placeholder,
										'readonly' : el.value.readonly,
										'rows' : el.value.rows,
										'internalName' : el.value.internalName,
										'before' : t['before'][el.value.internalName]
									},
									'label' : {
										'position' : 'before',
										'label' : el.value.label,
										'class' : 'control-label'
									}
								}) }}
								</div>

							{% elseif el.value.formType == "select" %}
								<div class="form-group{% if el.value.name in prevalue['form'][formIN]['validationErrors'] %} has-error{% endif %}">
								{{ f.select ({
									'select' : {
										'name' : el.value.name,
										'id' : 'id_' ~ el.value.internalName ~ '_id',
										'class' : 'form-control form-control-sm' ~ el.value.class,
										'values' : el.value.formValues,
										'valueDefaut' : el.value.preValue,
										'readonly' : el.value.readonly,
										'disabled' : el.value.disabled,
										'datatypeid' : el.value.id,
										'autocomplete' : 'off',
										'internalName' : el.value.internalName,
										'before' : t['before'][el.value.internalName]
									},
									'label' : {
										'position' : 'before',
										'label' : el.value.label,
										'class' : 'control-label'
									}
								}) }}
								</div>

								{% elseif el.value.formType == "radio" %}
									<div class="form-group{% if el.value.name in prevalue['form'][formIN]['validationErrors'] %} has-error{% endif %}">
									{{ f.radio ({
										'radio' : {
											'name' : el.value.name,
											'id' : 'id_' ~ el.value.internalName ~ '_id',
											'class' : 'form-control form-control-sm' ~ el.value.class,
											'values' : el.value.formValues,
											'valueDefaut' : el.value.preValue,
											'readonly' : el.value.readonly,
											'disabled' : el.value.disabled,
											'datatypeid' : el.value.id,
											'autocomplete' : 'off',
											'internalName' : el.value.internalName,
											'before' : t['before'][el.value.internalName]
										},
										'label' : {
											'position' : 'before',
											'label' : el.value.label,
											'class' : 'control-label'
										}
									}) }}
									</div>

							{% elseif el.value.formType == "date" %}
								<div class="form-group{% if el.value.name in prevalue['form'][formIN]['validationErrors'] %} has-error{% endif %}">
								{{ f.input ({
									'input' : {
										'type' : 'text',
										'name' : el.value.name,
										'id' : 'id_' ~ el.value.internalName ~ '_id',
										'placeholder' : el.value.placeholder,
										'datatypeid' : el.value.id,
										'autocomplete' : 'off',
										'disabled' : el.value.disabled,
										'readonly' : el.value.readonly,
										'required' : el.value.required,
										'class' : 'form-control form-control-sm datepic' ~ el.value.class,
										'before' : '<div id="before_'~ el.value.internalName ~ '" class="input-group input-group-sm mx-0 date datepick" data-typeid="'~ el.value.id ~'">',
										'after' : '<div class="input-group-append"><span class="fa fa-calendar input-group-text"></span></div></div>',
										'value' : el.value.preValue,
										'defaut' : el.value.formValues,
										'plusg' : el.value.plusg,
										'internalName' : el.value.internalName
									},
									'label' : {
										'position' : 'before',
										'label' : el.value.label,
										'class' : 'control-label'
									}
								}) }}
								<span id="id_{{ el.value.internalName }}_idHelp" class="help-block"></span>
								</div>

							{% elseif el.value.formType == "submit" %}

								{{ f.input ({
									'input' : {
										'type' : 'submit',
										'value' : el.value.label,
										'disabled' : el.value.disabled,
										'class' : 'btn '~ el.value.class
									}
								}) }}

							{% endif %}


						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	{% endfor %}

	{% if t.global.noFormTags is not defined %}</form>{% endif %}

{% endmacro %}
