{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2019
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > navbar générale
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}
{% import "macroForm.html.twig" as f %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="z-index:100">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#top-navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="" class="navbar-brand">{{ config.designAppName }}</a>

  <div class="collapse navbar-collapse" id="top-navbar">
    {% if user.id > 0 %}

      {# Menu de navigation / peut être supprimé #}
      {% if noMenuInBar is empty %}
        <ul class="navbar-nav mr-auto">
          {% if config.agendaDistantLink %}
            <li class="nav-item">
              <a class="nav-link" href="{{ config.agendaDistantLink }}" target="agenda">
                {% if config.designTopMenuStyle == 'icones' %}
                  <i class="fas fa-calendar-alt fa-lg d-none d-lg-inline"></i>
                  <span class="d-lg-none">
                    Agenda</span>
                {% else %}
                  Agenda
                {% endif %}
              </a>
            </li>
          {% elseif page.agendaUsers|length == 1 %}
            {% for k, v in page.agendaUsers %}
              <li class="nav-item">
                <a class="nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ k }}/" target="agenda">
                  {% if config.designTopMenuStyle == 'icones' %}
                    <i class="fas fa-calendar-alt fa-lg d-none d-lg-inline"></i>
                    <span class="d-lg-none">
                      Agenda</span>
                  {% else %}
                    Agenda
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          {% elseif page.agendaUsers %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
                {% if config.designTopMenuStyle == 'icones' %}
                  <i class="fas fa-calendar-alt fa-lg d-none d-lg-inline"></i>
                  <span class="d-lg-none">
                    Agenda</span>
                {% else %}
                  Agenda
                {% endif %}
              </a>
              <div class="dropdown-menu">
                {% if user.id in page.agendaUsers | keys %}
                  <a class="d-none d-lg-block dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ user.id }}/" target="agenda">{{ page.agendaUsers[user.id] }}</a>
                  <a class="d-lg-none dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ user.id }}/">{{ page.agendaUsers[user.id] }}</a>

                  <div class="dropdown-divider"></div>
                {% endif %}
                {% for k, v in page.agendaUsers %}
                  {% if k != user.id %}
                    <a class="d-none d-lg-block dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ k }}/">{{ v }}</a>
                    <a class="d-lg-none dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ k }}/">{{ v }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          {% endif %}

          {% if page.patientsOfTheDay %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
                {% if config.designTopMenuStyle == 'icones' %}
                  <i class="fas fa-clock fa-lg d-none d-lg-inline"></i>
                  <span class="d-lg-none">
                    Aujourd'hui</span>
                {% else %}
                  Aujourd'hui
                {% endif %}
              </a>
              <div class="dropdown-menu">

                {% for v in page.patientsOfTheDay %}
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ v.id }}/">{{ v.heure }}
                    <small>{{ v.type }}</small>
                    {{ v.identite }}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/todays/">
                  <i class="fas fa-list-ul fa-fw text-muted mr-1"></i>
                  Afficher la liste
                </a>
              </div>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patients/" accesskey="=">
              {% if config.designTopMenuStyle == 'icones' %}
                <i class="fas fa-user fa-lg d-none d-lg-inline"></i>
                <span class="d-lg-none">
                  Patients</span>
              {% else %}
                Patients
              {% endif %}
            </a>
            <a class="d-none" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/create/" accesskey="+">Nouveau patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pros/">
              {% if config.designTopMenuStyle == 'icones' %}
                <i class="fas fa-user-md fa-lg d-none d-lg-inline"></i>
                <span class="d-lg-none">
                  Praticiens</span>
              {% else %}
                Praticiens
              {% endif %}
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
              {% if config.designTopMenuStyle == 'icones' %}
                <i class="fas fa-euro-sign fa-lg d-none d-lg-inline"></i>
                <span class="d-lg-none">
                  Comptabilité</span>
              {% else %}
                Comptabilité
              {% endif %}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/compta/aujourdhui/">
                <i class="fas fa-cash-register fa-fw text-muted mr-1"></i>
                Règlements du jour
              </a>
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/compta/">
                <i class="fas fa-chart-line fa-fw text-muted mr-1"></i>
                Recettes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/compta/memo-tarifs/">
                <i class="fas fa-sticky-note fa-fw text-muted mr-1"></i>
                Mémo tarifaire
              </a>
            </div>
          </li>
          {% if config.apicryptAdresse is not empty or config.apicryptInboxMailForUserID is not empty or config.apicryptInboxMailForUserID is same as(0) %}
            <li class="nav-item">
              <a class="nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/inbox/">
                {% if config.designTopMenuStyle == 'icones' %}
                  <i class="fas fa-at fa-lg d-none d-lg-inline"></i>
                  <span class="d-lg-none">
                    Boite de réception</span>
                  {% if page.inbox.numberOfMsg > 0 and config.designTopMenuInboxCountDisplay == 'true' %}
                    <span class="badge text-white" style="margin-left: -5px">{{ page.inbox.numberOfMsg }}</span>
                  {% endif %}
                {% else %}
                  Boite de réception
                  {% if page.inbox.numberOfMsg > 0 and config.designTopMenuInboxCountDisplay == 'true' %}
                    <span class="badge badge-light">{{ page.inbox.numberOfMsg }}</span>
                  {% endif %}
                {% endif %}
              </a>
            </li>
          {% endif %}

          {% if config.transmissionsPeutVoir == 'true' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/transmissions/">
                {% if config.designTopMenuStyle == 'icones' %}
                  {% if config.designTopMenuTransmissionsColorIconeUrgent == 'true' and page.transmissionsNbNonLues.urgentes > 0 %}
                    {% set transCompClass = 'text-danger' %}
                  {% elseif config.designTopMenuTransmissionsColorIconeImportant == 'true' and page.transmissionsNbNonLues.importantes > 0 %}
                    {% set transCompClass = 'text-warning' %}
                  {% else %}
                    {% set transCompClass = '' %}
                  {% endif %}

                  <i class="fas fa-comments fa-lg d-none d-lg-inline {{ transCompClass }}"></i>
                  <span class="d-lg-none">
                    Transmissions</span>
                  {% if page.transmissionsNbNonLues.toutes > 0 and config.designTopMenuTransmissionsCountDisplay == 'true' %}
                    <span class="badge text-white" style="margin-left: -5px">{{ page.transmissionsNbNonLues.toutes }}</span>
                  {% endif %}
                {% else %}
                  {% if config.designTopMenuTransmissionsColorIconeUrgent == 'true' and page.transmissionsNbNonLues.urgentes > 0 %}
                    {% set transCompClass = 'badge-danger' %}
                  {% elseif config.designTopMenuTransmissionsColorIconeImportant == 'true' and page.transmissionsNbNonLues.importantes > 0 %}
                    {% set transCompClass = 'badge-warning' %}
                  {% else %}
                    {% set transCompClass = 'badge-light' %}
                  {% endif %}
                  Transmissions
                  {% if page.transmissionsNbNonLues.toutes > 0 and config.designTopMenuTransmissionsCountDisplay == 'true' %}
                    <span class="badge {{ transCompClass }}">{{ page.transmissionsNbNonLues.toutes }}</span>
                  {% endif %}
                {% endif %}
              </a>
            </li>
          {% endif %}

          {% if config.smsProvider or config.mailRappelDaysBeforeRDV %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
                {% if config.designTopMenuStyle == 'icones' %}
                  <i class="fas fa-toolbox fa-lg d-none d-lg-inline {% if page.creditsSMS < config.smsSeuilCreditsAlerte and config.smsProvider %}text-danger{% endif %}"></i>
                  <span class="d-lg-none">
                    Outils</span>
                {% else %}
                  Outils
                  {% if page.creditsSMS < config.smsSeuilCreditsAlerte and config.smsProvider %}
                    <span class="badge badge-danger">!!!</span>
                  {% endif %}
                {% endif %}
              </a>

              <div class="dropdown-menu">
                {% if config.utiliserLap == 'true' or config.VoirRouletteObstetricale == 'true' %}
                  <h6 class="dropdown-header">Outils</h6>
                {% endif %}
                {% if config.utiliserLap == 'true' %}
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/outils/lap/">
                    <i class="fas fa-pills fa-fw text-muted mr-1"></i>
                    LAP et BDM
                  </a>
                {% endif %}
                {% if config.VoirRouletteObstetricale == 'true' %}
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/outils/roulette-obstetricale/" target="rouletteObs">
                    <i class="fas fa-circle-notch fa-fw text-muted mr-1"></i>
                    Roulette obstétricale
                  </a>
                {% endif %}
                {% if config.faxService == 'ecofaxOVH' %}
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/outils/envoyer-fax/">
                    <i class="fas fa-fax fa-fw text-muted mr-1"></i>
                    Envoyer un fax
                  </a>
                {% endif %}
                {% if config.utiliserLap == 'true' or config.VoirRouletteObstetricale == 'true' %}
                  <div role="separator" class="dropdown-divider"></div>
                {% endif %}
                {% if config.smsProvider or config.mailRappelDaysBeforeRDV %}
                  <h6 class="dropdown-header">Historique rappels RDV</h6>

                  {% if config.mailRappelDaysBeforeRDV %}
                    <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueRappelsMail/">
                      <i class="fas fa-bell fa-fw text-muted mr-1"></i>
                      Rappels email
                    </a>
                  {% endif %}
                  {% if config.smsProvider %}
                    <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueRappelsSMS/">
                      <i class="far fa-bell fa-fw text-muted mr-1"></i>
                      Rappels SMS
                    </a>
                    <a class="dropdown-item disabled{% if page.creditsSMS < config.smsSeuilCreditsAlerte %} text-danger font-weight-bold{% endif %}" href="#">
                      <i class="far fa-fw text-muted mr-1"></i>
                      <span class="small">Crédits :
                        {{ page.creditsSMS }}
                        SMS</span>
                    </a>
                  {% endif %}
                  <div class="dropdown-divider"></div>
                {% endif %}
                <h6 class="dropdown-header">Patients</h6>
                {% if config.smtpHost or config.apicryptSmtpHost %}
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueGeneralMailSend/">
                    <i class="fas fa-paper-plane fa-fw text-muted mr-1"></i>
                    Mails envoyés
                  </a>
                {% endif %}
                <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/people/deleted/">
                  <i class="fas fa-trash-restore fa-fw text-muted mr-1"></i>
                  Dossiers supprimés
                </a>
                {% if config.droitExportPeutExporterAutresData == 'true' or config.droitExportPeutExporterPropresData == 'true' %}
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/outils/export-data/">
                    <i class="fas fa-database fa-fw text-muted mr-1"></i>
                    Export de données
                  </a>
                {% endif %}
                {% if config.droitStatsPeutVoirStatsGenerales == 'true' %}
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header">Statistiques</h6>
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/outils/statistiques/">
                    <i class="fas fa-chart-line fa-fw text-muted mr-1"></i>
                    Statistiques générales
                  </a>
                {% endif %}
              </div>
            </li>
          {% endif %}
        </ul>

        <ul class="nav navbar-nav ml-md-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">{{ user.prenom }}
              {{ user.nom }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/edit/{{ user.id }}/">
                <i class="fas fa-user-edit fa-fw text-muted mr-1"></i>
                Edition profil
              </a>
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/user/userParameters/">
                <i class="fas fa-user-cog fa-fw text-muted mr-1"></i>
                Paramètres utilisateur
              </a>
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/user/userPhoneCaptureAccess/">
                <i class="fas fa-mobile-alt fa-fw text-muted mr-1"></i>
                Activer PhoneCapture
              </a>
              {% if user.rank == 'admin' %}
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">
                  <i class="fas fa-cogs fa-fw text-muted mr-1"></i>
                  Configuration
                </a>
              {% endif %}
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/login/logOutDo/">
                <i class="fas fa-power-off fa-fw text-muted mr-1"></i>
                Déconnexion
              </a>
            </div>
          </li>
        </ul>
      {% endif %}
    {% endif %}
  </div>

</nav>
