{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > page web racine
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}
{% import "macroForm.html.twig" as f %}
<!DOCTYPE html>
<html lang="fr">
    <head{% if page.ogHead %} {{ page.ogHead }} {% endif %}>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}{% endblock %}
        </title>
        <meta name="Description" content="{% block metaDescription %}{% endblock %}"/>
        <base href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}"/>

        {# css #}
        <link href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/FortAwesome/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet">
        <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/eonasdan/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
        <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet"/>
        <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/css/general.css" rel="stylesheet"/>
        {% if user.module %}
          <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/css/{{ user.module }}.css" rel="stylesheet"/>
        {% endif %}
        <style>
          #top-navbar {max-height:calc(100vh - 100px) !important}
        </style>

        {# js #}
        <script type="text/javascript" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/jquery/jquery/dist/jquery.min.js?{{ modules.base }}"></script>
        <script type="text/javascript" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/FezVrasta/popper.js/dist/umd/popper.min.js?{{ modules.base }}"></script>
        <script type="text/javascript" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/HubSpot/tether/dist/js/tether.min.js?{{ modules.base }}"></script>
        <script type="text/javascript" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/twbs/bootstrap/dist/js/bootstrap.min.js?{{ modules.base }}"></script>
        <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/moment/moment/min/moment.min.js?{{ modules.base }}"></script>
        <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/eonasdan/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js?{{ modules.base }}"></script>
        <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/jquery-ui-1.12.1.custom/jquery-ui.min.js?{{ modules.base }}"></script>
        <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/general.js?{{ modules.base }}"></script>
        <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/dennyferra/TypeWatch/jquery.typewatch.js?{{ modules.base }}"></script>
        <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/danielm/uploader/dist/js/jquery.dm-uploader.min.js?{{ modules.base }}"></script>
        <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/lrsjng/kjua/dist/kjua.min.js?{{ modules.base }}"></script>
        <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/joequery/stupid-table-plugin/stupidtable.min.js?{{ modules.base }}"></script>
        <script>
          var urlBase = '{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}';
          var phoneCaptureUrlAcces = '{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/phonecapture/';
        </script>

        {% block head %}{% endblock %}
    </head>

    <body {% block bodyTagAdd %} {% endblock %}>

        <div class="container-fluid">
          <div class="row fixed-top" style="z-index:20000">
            <div id="alert_section" class="col-md-auto mx-auto"></div>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="z-index:100">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#top-navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="" class="navbar-brand">MedShakeEHR</a>

                <div class="collapse navbar-collapse" id="top-navbar">
                {% if user.id > 0 %}

                  {# Menu de navigation / peut être supprimé #}
                  {% if noMenuInBar is empty %}
                  <ul class="navbar-nav mr-auto">
                      {% if config.agendaDistantLink %}
                        <li class="nav-item">
                            <a class="d-none d-lg-block nav-link" href="{{ config.agendaDistantLink }}" target="agenda">Agenda</a>
                            <a class="d-lg-none nav-link" href="{{ config.agendaDistantLink }}">Agenda</a>
                        </li>
                      {% elseif page.agendaUsers|length == 1 and user.id in page.agendaUsers|keys %}
                        {% for k,v in page.agendaUsers %}
                          <li class="nav-item">
                              <a class="d-none d-lg-block nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ k }}/" target="agenda">Agenda</a>
                              <a class="d-lg-none nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ k }}/">Agenda</a>
                          </li>
                        {% endfor %}
                      {% elseif page.agendaUsers %}
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">Agenda
                          </a>
                          <div class="dropdown-menu">
                            {% if user.id in page.agendaUsers|keys %}
                              <a class="d-none d-lg-block dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ user.id }}/" target="agenda">{{ page.agendaUsers[user.id] }}</a>
                              <a class="d-lg-none dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ user.id }}/">{{ page.agendaUsers[user.id] }}</a>

                              <div class="dropdown-divider"></div>
                            {% endif %}
                            {% for k,v in page.agendaUsers %}
                              {% if k != user.id %}
                                <a class="d-none d-lg-block dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ k }}/">{{ v }}</a>
                                <a class="d-lg-none dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ k }}/">{{ v }}</a>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </li>
                      {% endif %}
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patients/" aria-haspopup="true" aria-expanded="false">Patients
                          </a>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patients/">Rechercher</a>
                              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/create/">Nouveau patient</a>


                              {% if page.patientsOfTheDay %}
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Patients du jour</h6>
                                <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/todays/">Afficher la liste</a>
                                {% for v in page.patientsOfTheDay %}
                                <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ v.id }}/">{{ v.heure }} <small>{{ v.type }}</small> {{ v.identite }}</a>
                                  {% endfor %}

                              {% endif %}
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/confreres/" aria-haspopup="true" aria-expanded="false">Praticiens
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pros/">Rechercher</a>
                            <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/create/">Nouveau praticien</a>
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/compta/" aria-haspopup="true" aria-expanded="false">Comptabilité
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/compta/aujourdhui/">Règlements du jour</a>
                            <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/compta/">Recettes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/compta/memo-tarifs/">Mémo tarifaire</a>
                          </div>
                      </li>
                      {% if config.apicryptPopHost %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/inbox/">Boite de réception
                                {% if page.inbox.numberOfMsg > 0 %}
                                    <span class="badge badge-light">{{ page.inbox.numberOfMsg }}</span>
                                {% endif %}
                            </a>
                        </li>
                      {% endif %}

                      {% if config.transmissionsPeutVoir == 'true' %}
                          <li class="nav-item">
                              <a class="nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/transmissions/">Transmissions
                                {% if page.nbTransmissionsNonLues > 0 %}
                                    <span class="badge badge-light">{{ page.nbTransmissionsNonLues }}</span>
                                {% endif %}
                              </a>
                          </li>
                      {% endif %}

                      {% if config.smsProvider or config.mailRappelDaysBeforeRDV %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/" aria-haspopup="true" aria-expanded="false">Outils {% if page.creditsSMS < config.smsSeuilCreditsAlerte and config.smsProvider %}<span class="badge badge-danger">!!!</span>{% endif %}</a>

                        <div class="dropdown-menu">
                            {% if config.utiliserLap == 'true' or  config.VoirRouletteObstetricale == 'true' %}
                              <h6 class="dropdown-header">Outils</h6>
                            {% endif %}
                            {% if config.utiliserLap == 'true' %}
                              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/outils/lap/">LAP et BDM</a>
                            {% endif %}
                            {% if config.VoirRouletteObstetricale == 'true' %}
                              <a class="d-none d-lg-block dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/outils/roulette-obstetricale/" target="rouletteObs">Roulette obstétricale</a>
                              <a class="d-lg-none dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/outils/roulette-obstetricale/">Roulette obstétricale</a>
                              <div role="separator" class="dropdown-divider"></div>
                            {% endif %}
                            {% if config.smsProvider or config.mailRappelDaysBeforeRDV %}
                              <h6 class="dropdown-header">Historique rappels RDV</h6>

                              {% if config.mailRappelDaysBeforeRDV %}
                                <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueRappelsMail/">Rappels email</a>
                              {% endif %}
                              {% if config.smsProvider %}
                                <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueRappelsSMS/">Rappels SMS</a>
                                <a class="dropdown-item disabled" {% if page.creditsSMS < config.smsSeuilCreditsAlerte %}style="color : red"{% endif %} href="#">Crédits : {{ page.creditsSMS }} SMS</a>
                              {% endif %}
                              <div class="dropdown-divider"></div>
                            {% endif %}
                            <h6 class="dropdown-header">Patients</h6>
                            {% if config.smtpHost or config.apicryptSmtpHost %}
                              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueGeneralMailSend/">Mails envoyés</a>
                            {% endif %}
                              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/people/deleted/">Dossiers supprimés</a>
                        </div>
                      </li>
                      {% endif %}

                      {% if user.rank == 'admin' %}
                          <li class="nav-item">
                              <a class="nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
                          </li>
                      {% endif %}
                  </ul>

                    <ul class="nav navbar-nav ml-md-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patients/" aria-haspopup="true" aria-expanded="false">{{ user.prenom }}
                                {{ user.nom }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/edit/{{ user.id }}/">Edition profil</a>
                              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/user/userParameters/">Paramètres utilisateur</a>
                              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/user/userPhoneCaptureAccess/">Activer PhoneCapture</a>
                              <div role="separator" class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/login/logOutDo/">Déconnexion</a>
                            </div>
                        </li>
                    </ul>
                  {% endif %}
                {% endif %}
                </div>

        </nav>

        <div class="container-fluid" role="main" style="padding-top:70px; padding-bottom : 50px;">
            {% block body %}{% endblock %}
        </div>


        {# modals #}
        {% block modals %}{% endblock %}

    </body>
</html>
