{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > dicom : voir tous les examens d'un patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }}{% endblock %}

{% block head %}
  {{ parent() }}
  <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/dimsemenov/magnific-popup/dist/magnific-popup.css" rel="stylesheet"/>

  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/dimsemenov/magnific-popup/dist/jquery.magnific-popup.min.js?{{ modules.base }}"></script>
  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/dicom.js?{{ modules.base }}"></script>

  <style>
    .imageDc img {
      display: inline-block;
      width: 330px;
      margin: 5px;
      vertical-align: top;
    }
  </style>
{% endblock %}

{% block body %}

  <h1>Examens de
    {# firstname #}
    {{ page['patient']['administrativeDatas']['firstname']['value']|e }}
    {# name #}
    {% if page['patient']['administrativeDatas']['lastname']['value'] %}
      {{ page['patient']['administrativeDatas']['lastname']['value']|e }}
      {% if page['patient']['administrativeDatas']['birthname']['value'] %}
        ({{ page['patient']['administrativeDatas']['birthname']['value']|e }})
      {% endif %}
    {% else %}
      {{ page['patient']['administrativeDatas']['birthname']['value']|e }}
    {% endif %}
    <small>
      {{ page['patient']['administrativeDatas']['8']['value']|e }}
      -
      {# birthdate #}
      {{ page['patient']['administrativeDatas']['8']['age']|e }}
      {# age #}

    </small>
  </h1>

  <ol class="breadcrumb mt-4">
    <li class="active">{{ page['patient']['administrativeDatas']['firstname']['value']|e }}
      {{ page['patient']['administrativeDatas']['lastname']['value']|e }}</li>
  </ol>

  <div class="row">

    <div class="col-md-10">

      <div class="card">

        <div class="card-header">Examens du patient</div>
        <div class="card-body py-1">
          {% if not page.studiesDcData %}
            <p>
              <i>Pas d'examens référencés pour ce patient.</i>
            </p>
          {% endif %}
        </div>
        {% if page.studiesDcData %}
          <table id="listeExamens" class="table table-sm mb-0 table-striped table-hover">
            <thead>
              <th></th>
              <th>Date</th>
              <th>Opérateur</th>
              <th>Description</th>
              <th>Acte correspondant</th>
            </thead>
            <tbody>
              {% for v in page.studiesDcData %}
                <tr>
                  <td>
                    <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/dicom/{{ page.patient.id }}/study/{{ v.ID }}/">
                      <span class="fas fa-eye" aria-hidden="true"></span>
                    </a>
                  </td>
                  <td>{{ v.Datetime|date('d/m/Y - H:i') }}</td>
                  <td>{{ v.MainDicomTags.ReferringPhysicianName }}</td>
                  <td>{{ v.MainDicomTags.StudyDescription }}</td>
                  <td>{{ page['studiesDcDataRapro'][v.ID]['label'] }}
                    {% if page['studiesDcDataRapro'][v.ID]['titre'] %}
                      :
                      {{ page['studiesDcDataRapro'][v.ID]['titre'] }}
                      <small>({{ page['studiesDcDataRapro'][v.ID]['creationDate']|date('d/m/Y H:i') }})</small>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
