{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > signer sur périphérique tactil
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}
{% import "macroForm.html.twig" as f %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      Signer
    </title>
    <meta name="Description" content="{% block metaDescription %}{% endblock %}"/>
    <base href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}"/>

    {# css #}
    <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/scss/bs_custom.min.css" rel="stylesheet"/>

    {# js #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/jquery/jquery/dist/jquery.min.js?{{ modules.base }}"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/twbs/bootstrap/dist/js/bootstrap.min.js?{{ modules.base }}"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/brinley/jsignature/src/jSignature.js?{{ modules.base }}"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/brinley/jsignature/src/plugins/jSignature.CompressorSVG.js?{{ modules.base }}"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/signer.js?{{ modules.base }}"></script>

    <script>
      var urlBase = '{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}';
      var signPeriphName = '{{ page.signPeriphName }}';
    </script>

    <style>
      body {
        padding : 10px;
      }
      #consignes {

      }

      #signature {
        background: #EEE;
        border: 2px solid #888;
        margin-bottom : 80px;
      }

      .tailleFont{
        font-size: 14px;
      }
    </style>

    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="row">
      <div class="col">
    {% include( [page.docasigner.template ~ '_signer.html.twig' , page.docasigner.template ~ '.html.twig']) %}
    </div>
  </div>

    <div id="consignes" class="row mb-2 mt-5">
      <div class="col-2">
        <button class="btn btn-primary btn-lg resetSignature ">Recommencer</button>
      </div>
      <div class="col text-center">
        <h4>Merci de signer dans la zone grise ci-dessous puis de valider</h4>
      </div>
      <div class="col-2 text-right">
        <button class="btn btn-danger btn-lg saveSignature ">Valider</button>
      </div>
    </div>
    <div id="signature"></div>

    <p>


  </p>
  </body>
</html>
