{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Compta : compta du jour
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : règlements du jour{% endblock %}

{% block head %}
  {{ parent() }}
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/compta.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}

  <h1>Règlements du jour</h1>

  {% if page.tabRegC is empty and page.tabRegNC is empty %}
    <div class="mt-4 d-flex flex-column align-items-center justify-content-center" style="height: calc(100vh - 200px); min-height: 250px">
      <div class="mb-3"><i class="fas fa-cash-register fa-10x text-light"></i></div>
      <div class="text-muted">Il n'existe pas de règlement en date du jour.</div>
    </div>
  {% endif %}

  <div class="row mt-3">
    <div class="col-lg-10 col-md-12">

      {% if page.tabRegNC %}
      <div class="card mb-4">
        <div class="card-header h5 font-weight-bold">
          <i class="fas fa-exclamation-circle text-warning"></i> Paiements à recevoir
        </div>
        <div class="card-body">

          <table class="table table-sm mb-0 table-hover table-striped" style="min-width:870px">
            <thead>
              <tr>
                <th>Patient</th>
                {% if page.pratsAuto|length > 1 %}<th>Praticien</th>{% endif %}
                {% if page.secteur %}<th>CMU / TP ?</th>{% else %}<th style="width:0"></th>{% endif %}
                <th>Montant des actes</th>
                <th>Déjà réglé</th>
                <th>Reste à régler</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for obj, reg in page.tabRegNC %}
                <tr id="ligne{{ obj }}" data-montant="{{ reg.resteAPaye }}">
                  <td>
                    <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ reg.toID }}/">
                      <span class="fas fa-folder-open" aria-hidden="true" title="Voir dossier"></span>
                    </a>
                    {{ reg.prenom|e }}
                    {{ reg.nom|e }}
                  </td>
                  {% if page.pratsAuto|length > 1 %}
                    <td>
                      {{ page['pratsAuto'][reg.fromID]['prenom'] }} {{ page['pratsAuto'][reg.fromID]['nom'] }}
                    </td>
                  {% endif %}
                  {% if page.secteur %}
                    <td>
                      {% if reg.regleSituationPatient == 'CMU' or reg.regleSituationPatient == 'TP' %}{{ reg.regleSituationPatient }}{% endif %}
                    </td>
                  {% else %}
                    <td style="width:0"></td>
                  {% endif %}
                  <td>
                    <button type="button" class="btn  btn-sm" data-toggle="tooltip" data-placement="bottom" title="{{ reg.label|e('html_attr') }}">
                      <span class="fas fa-question-circle" aria-hidden="true"></span>
                    </button>
                    {% if reg.regleSituationPatient == 'CMU' or reg.regleSituationPatient == 'TP' %}
                      <strong>{{ reg.regleFacture|e }}€</strong>
                    {% else %}
                      <strong>{{ reg.regleFacture }}€</strong>
                      ({{ reg.regleTarifSSCejour|e }}€ +
                      {{ reg.regleDepaCejour|e }}€)
                    {% endif %}
                  </td>

                  <td>{{ reg.dejaPaye|e }}€</td>
                  <td>{{ reg.resteAPaye }}€</td>
                  <td class="text-right">
                    <button class="btn btn-danger btn-sm editReglement py-0" type="button" data-objetID="{{ obj }}" data-patientID="{{ reg.toID }}" data-patientname="{{ reg.prenom|e }} {{ reg.nom|e }}" data-porteur="{{ reg.typeID }}" data-aregler="{{ reg.resteAPaye|number_format(2, '.', '') }}" data-dejaCheque="{{ reg.dejaPayeTab.dejaCheque }}" data-dejaCB="{{ reg.dejaPayeTab.dejaCB }}"  data-dejaEspeces="{{ reg.dejaPayeTab.dejaEspeces }}" data-toggle="modal" data-target="#modalReglement">
                      Saisir règlement
                    </button>

                  </td>
                </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if page.tabRegC %}
      <div class="card">
        <div class="card-header h5 font-weight-bold">
          <i class="fas fa-check-circle text-success"></i> Paiements effectués
        </div>
        <div class="card-body">
          <table class="table table-sm mb-0 table-hover table-striped table-responsive-xl">
            <thead>
              <tr>
                <th>Patient</th>
                {% if page.pratsAuto|length > 1 %}<th>Praticien</th>{% endif %}
                {% if page.secteur %}<th>CMU / TP ?</th>{% else %}<th style="width:0"></th>{% endif %}
                <th>Montant à régler</th>
                <th>Payé</th>
                <th>Mode</th>
              </tr>
            </thead>
            <tbody>
              {% for reg in page.tabRegC %}
                <tr>
                  <td>
                    <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ reg.toID }}/" target="_blank">
                      <span class="fas fa-folder-open" aria-hidden="true" title="Voir dossier"></span>
                    </a>
                    {{ reg.prenom|e }}
                    {{ reg.nom|e }}
                  </td>
                  {% if page.pratsAuto|length > 1 %}
                    <td>
                      {{ page['pratsAuto'][reg.fromID]['prenom'] }} {{ page['pratsAuto'][reg.fromID]['nom'] }}
                    </td>
                  {% endif %}
                  <td>
                    {% if reg.regleSituationPatient == 'CMU' or reg.regleSituationPatient == 'TP' %}{{ reg.regleSituationPatient }}{% endif %}
                  </td>
                  <td>
                    <button type="button" class="btn  btn-sm" data-toggle="tooltip" data-placement="bottom" title="{{ reg.label|e('html_attr') }}">
                      <span class="fas fa-question-circle" aria-hidden="true"></span>
                    </button>
                    {% if reg.regleSituationPatient == 'CMU' or reg.regleSituationPatient == 'TP' %}{{ reg.regleFacture|e }}€
                    {% else %}
                      {{ reg.regleFacture|e }}€ ({{ reg.regleTarifSSCejour|e }}€ +
                      {{ reg.regleDepaCejour|e }}€)
                    {% endif %}
                  </td>
                  <td>{{ reg.dejaPaye|e }}€</td>
                  <td>
                    {% if reg.regleCheque > 0 %}Chèque{% endif %}
                    {% if reg.regleCB > 0 %}CB{% endif %}
                    {% if reg.regleEspeces > 0 %}Espèces{% endif %}
                  </td>
                </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    </div>

  </div>
{% endblock %}

{% block modals %}
<div id="modalReglement" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="nomPatient" class="modal-title font-weight-bold"></h4>
      </div>
      <div class="modal-body">

        <h5 id="montant"></h5>
        <form action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/compta/actions/saveReglementForm/" method="post" id="formName_" class="" data-instance="0">
          <input title=" / " name="page" value="comptaToday" type="hidden">
          <input title=" / " name="formIN" value="" type="hidden">
          <input title=" / " name="patientID" value="" type="hidden">
          <input title=" / " name="porteur" value="" type="hidden">
          <input title=" / " name="objetID" value="" type="hidden">
          <input title=" / " name="apayer" value="" type="hidden">
          <input title=" / " name="dejaCheque" value="" type="hidden">
          <input title=" / " name="dejaCB" value="" type="hidden">
          <input title=" / " name="dejaEspeces" value="" type="hidden">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="id_regleCheque_id">Chèque
                </label>
                <div class="input-group">
                  <input title="regleCheque / 193" id="id_regleCheque_id" name="regleCheque" class="form-control checkAmount" autocomplete="off" data-internalname="regleCheque" type="text">
                  <div class="input-group-append">
                    <span class="input-group-text" id="id_regleCheque_idAddOn">€</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="id_regleCB_id">CB
                </label>
                <div class="input-group">
                  <input title="regleCB / 194" id="id_regleCB_id" name="regleCB" class="form-control checkAmount" autocomplete="off" data-internalname="regleCB" type="text">
                  <div class="input-group-append">
                    <span class="input-group-text" id="id_regleCB_idAddOn">€</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="id_regleEspeces_id">Espèces
                </label>
                <div class="input-group">
                  <input title="regleEspeces / 195" id="id_regleEspeces_id" name="regleEspeces" class="form-control checkAmount" autocomplete="off" data-internalname="regleEspeces" type="text">
                  <div class="input-group-append">
                    <span class="input-group-text" id="id_regleEspeces_idAddOn">€</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label" for="id_regleIdentiteCheque_id">Identité payeur
                </label>
                <input title="regleIdentiteCheque / 205" id="id_regleIdentiteCheque_id" name="regleIdentiteCheque" placeholder="si différent patient" class="form-control" autocomplete="off" data-internalname="regleIdentiteCheque" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
