{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : actes
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : mémo des tarifs de consultation{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Mémo des tarifs de consultation</h1>

  {# Nav tabs #}
  {% if page.users | length > 1 %}
    <ul class="nav nav-pills my-3" role="tablist">
      {% for id, user in page.users %}
        <li role="presentation" class="nav-pills">
          <a class="nav-link{% if page.selectUser == id %} active{% endif %}" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/compta/memo-tarifs/{{ id }}/" aria-controls="prescriptions" role="tab">
            {% if id == 0 %}Tarifs communs{% else %}{{ user }}
            {% endif %}
          </a>
        </li>
      {% endfor %}

    </ul>
  {% endif %}

  {# Tab panes #}
  <div class="tab-content">

    {# categories tab #}
    <div role="tabpanel" class="tab-pane active" id="prescriptions">

      <p></p>

      {% for k, v in page.tabTypes %}
        <h2 id="cat{{ v.0.cat }}">{{ v.0.catLabel }}</h2>
        <table class="table table-sm mb-0 table-hover">
          <thead class="thead-light">
            <tr>
              <th>Code</th>
              <th>Label</th>
              {% if page.secteurs[k] != '' %}
                <th class="text-right">Tarif&nbsp;SS</th>
                <th class="text-right">Dépassement</th>
                <th class="text-right">Total</th>
              {% else %}
                <th class="text-right">Tarif</th>
              {% endif %}
              <th></th>

            </tr>
          </thead>
          <tbody>
            {% for w in v %}
              <tr>
                <td>
                  {{ w.syntheseActes }}
                </td>
                <td {% if w.flagImportant == '1' %} class="font-weight-bold" {% endif %}>
                  {{ w.label }}
                </td>
                <td class="text-right">
                  {{ w.tarif|number_format(2, '.', ' ') }}
                </td>
                {% if page.secteurs[k] != '' %}
                  <td class="text-right">
                    {{ w.depassement|number_format(2, '.', ' ') }}
                  </td>
                  <td class="text-right">
                    {{ w.total|number_format(2, '.', ' ') }}
                  </td>
                {% endif %}
                <td class="text-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-light btn-sm" data-toggle="collapse" aria-label="Editer" data-target=".details{{ w.id }}" id="details{{ w.id }}">
                      <span class="fas fa-search-plus" aria-hidden="true"></span>
                    </button>
                  </div>
                </td>
              </tr>
              {% for key, det in w.details %}
                <tr class="table-active collapse small details{{ w.id }}">
                  <td></td>
                  <td>
                    {% if det.quantite > 1 %}
                      {{ det.quantite }}{{ key }}
                    {% elseif page.secteurs[k] != '' %}
                      {{ key }}
                      {% if det.pourcents != '100' %}({{ det.pourcents }}%){% endif %}
                    {% endif %}
                    {% if det.modifsCCAM %}
                      +
                      {{ det.modifsCCAM }}
                    {% endif %}
                  </td>
                  <td class="text-right">
                    {{ det.tarif|number_format(2, '.', '')  }}
                  </td>
                  {% if page.secteurs[k] != '' %}
                    <td class="text-right">
                      {{ det.depassement|number_format(2, '.', '')  }}
                    </td>
                    <td class="text-right">
                      {{ (det.tarif + det.depassement)|number_format(2, '.', '')  }}
                    </td>
                  {% endif %}
                  <td colspan="2"></td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
  </div>
{% endblock %}
