{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : courrier vierge
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}



<p style="text-align:right">New York, le {{ "now"|date("d/m/Y") }}</p>
<br>
<h2>Résumé du dossier de {% if tag.14.value=='Homme' %}M.{% elseif tag.14=='Femme' %}Mme{% endif %} {{ tag.3 }} {{ tag.2 }}</h2>

<h3>Données administratives</h3>
<ul>
  <li>Date de naissance : {{ tag.8 }}</li>
  <li>Adresse : {{ tag.9 }} {{ tag.11 }} {{ tag.13 }} {{ tag.12 }}</li>
  <li>Activité professionnelle : {{ tag.19 }}</li>
</ul>

<h3>Données cliniques/biologiques actuelles et antécédents généraux</h3>
<ul>
  <li>Poids : {{ tag.34 }} kg</li>
  <li>Taille : {{ tag.35 }} cm</li>
  <li>Tabac et toxiques : {{ tag.42 }}</li>
  <li>Allergies : {{ tag.66|nl2br }}</li>
</ul>



<h3>Antécédents médicaux</h3>

{{ tag.39|nl2br }}

<h3>Antécédents médico-chirurgicaux</h3>

{{ tag.41|nl2br }}

<h3>Antécédents familiaux</h3>

{{ tag.38|nl2br }}
