{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : ordonnance ALD
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}


{% set ms = page.courrier.medoc.standard %}
{% set ma = page.courrier.medoc.ald %}


    <html>
        <head>
            <style>
                @page {
                    margin: 140pt 50pt 100pt;
                    font-family: Helvetica;
                }

                #header {
                    position: fixed;
                    left: 0;
                    top: -110pt;
                    right: 0;
                    height: 110pt;
                    margin-bottom: 30pt;

                }
                #footer {
                    position: fixed;
                    left: 0;
                    bottom: -110pt;
                    right: 0;
                    height: 100pt;
                    font-size: 8pt;
                    padding-top: 10pt;
                    border-top: 1pt solid #777;
                }

                #footer p {
                    display: inline-block;
                    width: 30%;
                    text-align: center;
                    vertical-align: top;
                }

                .gras {
                    font-weight: bold;
                }

                .blocsepa {
                    width: 100%;
                    border: 1px solid #000;
                    text-align: center;
                }

                .centrer {
                  text-align : center;
                }
                .t6 {
                  font-size : 6pt;
                }
                .t8 {
                  font-size : 8pt;
                }
                .t9 {
                  font-size : 9pt;
                }
                .t10 {
                  font-size : 10pt;
                }
                .t12 {
                  font-size : 12pt;
                }

            </style>
            <body>

                <div id="header">
                    <div class="centrer t8" style="display : inline-block; width : 45%;vertical-align : top; border : 1px solid #000;height : 110pt">

                    </div>

                    <div class="centrer t10" style=" display : inline-block; float : right; width : 45%; vertical-align : top; border : 1px solid #000; height : 110pt">
                        <br><br><br>
                        <span class="gras t10">{{ tag.identiteCompleteTitreCourt }}
                        </span><br>{{ tag.birthdate }} - {{ tag.age }}
                    </div>
                </div>

                <!-- footer standard -->
                <div id="footer">

                </div>
                <!-- stop head -->
                <div class="t10">
                    <p style="text-align : right;">Le
                        {{ tag.date|date("d/m/Y") }}</p>

                    <div>
                        <div class="centrer" style="width: 100%; border: 1px solid #000;">
                            <strong>Prescriptions relatives au traitement de l'affection de longue durée reconnue (liste ou hors liste)</strong><br>
                            (AFFECTION EXONERANTE)
                        </div>
                        {% if tag.ordoImpressionNbLignes != 'n' %}
                        <p class="t8" style="text-align : right;">{{ ma|length }} ligne{% if ma|length > 1 %}s{% endif %} de prescriptions</p>
                        {% endif %}

                        {% for v in ma %}
                            <p class="t8" style="margin-bottom: 8pt;">{{ v|nl2br }}</p>
                        {% endfor %}

                    </div>

                    <div class="centrer" style="width: 100%; border: 1px solid #000;">
                        <strong>Prescriptions SANS RAPPORTS avec l'affection de longue durée</strong><br>
                        (MALADIES INTERCURRENTES)
                    </div>
                    {% if tag.ordoImpressionNbLignes != 'n' %}
                    <p class="t8" style="text-align : right;">{{ ms|length }} ligne{% if ms|length > 1 %}s{% endif %} de prescriptions</p>
                    {% endif %}

                    {% for v in ms %}
                        <p class="t8" style="margin-bottom: 8pt;">{{ v|nl2br }}</p>
                    {% endfor %}

                </div>
                <!-- stop body -->
            </body>
        </html>
