{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > userParameters  
 #
 # @author fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR : Bienvenue{% endblock %}

{% block head %}
{{ parent() }}
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/parameters.js"></script>
  <script>
    var clicRdvConsults={{ page.clicRdvConsults }};
    var clicRdvConsultsRel={{ page.clicRdvConsultsRel }};
  </script>
{% endblock %}

{% block body %}

  <h1>Paramètres utilisateur</h1>
  {# validation error display bloc #}
  {{ f.errorFormDiv( session['form'][page.formIN]['validationErrorsMsg'] ) }}

  {# form display #}
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#pm" aria-controls="pm" role="tab" data-toggle="tab">Paramètres MedShakeEHR</a>
    </li>
    {% if page.useClicRDV %}
      <li role="presentation">
        <a href="#pc" aria-controls="pc" role="tab" data-toggle="tab">Paramètres ClicRDV</a>
      </li>
    {% endif %}
  </ul>

  <div class="tab-content">

    {# formulaire mot de passe MedShake #}
    <div role="tabpanel" class="tab-pane active" id="pm" style="padding-top:10px">
      {{ f.formbuilder(page.formPassword , page.formIN , session) }}
    </div>

    {# formulaire clicRDV #}
    {% if page.useClicRDV %}
      <div role="tabpanel" class="tab-pane" id="pc" style="padding-top:10px">
        {{ f.formbuilder(page.formClicRdv , page.formIN , session) }}
      </div>
    {% endif %}

  </div>
{% endblock %}
