{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > page web racine
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }}{% endblock %}

{% block head %}
  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/phonecapture.js?{{ modules.base }}"></script>

  <script>
    var urlDestination = '{{ page.urlDestination }}';
  </script>

{% endblock %}

{% block body %}

    <h1>Utiliser PhoneCapture</h1>
    <div class="row">
      <div class="col-6 mb-3">

        <div class="row mb-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Principe d'activation de PhoneCapture sur un périphérique mobile</h5>
              </div>
              <div class="card-body">
                <p>PhoneCapture de MedShakeEHR permet de capturer des photos directement dans le dossier ouvert à l'écran avec un périphérique mobile doté d'un navigateur récent.</p>
                <p>Les images enregistrées le sont au format DICOM, le standard de l'imagerie médicale. C'est pourquoi le serveur DICOM libre et open source
                  <a href="https://www.orthanc-server.com/">Orthanc</a>
                  doit être installé et configuré sur votre réseau.</p>
                <p>Pour utiliser un nouveau smartphone ou pour reconnecter un smartphone, utilisez le QR code ci-contre et flashez le avec une application adéquate. L'URL qu'il contient vous conduira directement à l'interface de prise de vue. Notez que l'URL est
                  valable 5 minutes uniquement. Au-delà, il faudra recharger cette page pour obtenir une nouvelle URL et un nouveau QR code.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Révoquer vos périphériques mobiles actuellement autorisés</h5>
              </div>
              <div class="card-body">
                <p>En cas de disparition d'un de vos périphériques ou pour tout autre besoin, vous pouvez révoquer l'autorisation en cours. Si vous effectuez cette action, il faudra identifier à nouveau chaque périphérique avec un nouveau code flash.</p>
                <p>
                  <a class="btn btn-danger confimBefore" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/user/actions/changeUserPhoneCaptureFingerprint/">
                    Révoquer mes périphériques PhoneCapture
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <span id="QRcode"></span><br>
                {{ page.urlDestination }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
