{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > userParameters
 #
 # @author fr33z00 <https://github.com/fr33z00>
 # @contrib Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : paramètres{% endblock %}

{% block cssFiles %}
  {{ parent() }}
  <link href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/farbelous/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet">
{% endblock %}

{% block jsFiles %}
  {{ parent() }}
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/farbelous/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js?{{ modules.base }}"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/userParametersAgenda.js?{{ modules.base }}"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/userParametersPrescriptions.js?{{ modules.base }}"></script>
{% endblock %}

{% block jsEmbed %}
  {{ parent() }}
  var clicRdvConsults={{ page.clicRdvConsults|default('{}') }};
  var clicRdvConsultsRel={{ page.clicRdvConsultsRel|default('[]') }};

  $(document).ready(function() {
    if(window.location.hash) {
      var hashTab = window.location.hash;
      $("ul.nav-tabs a[href='" + hashTab + "']").trigger('click');
    }
  });
{% endblock %}

{% block cssEmbed %}
  {{ parent() }}
  td {vertical-align:middle !important}
  td.time {width:150px}
  .consult td:nth-of-type(1) {width:40px}
  .consult td:nth-of-type(2) {width:80px}
  .consult td:nth-of-type(3) {width:300px}
  .consult td:nth-of-type(4) {width:120px}
  .consult td:nth-of-type(5) {width:120px}
  .consult td:nth-of-type(6) {width:80px}
{% endblock %}

{% block body %}

  <h1>Paramètres utilisateur</h1>
  {# validation error display bloc #}
  {{ f.errorFormDiv( session['form'][page.formIN]['validationErrorsMsg'] ) }}

  {# form display #}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active" href="#pergonomie" aria-controls="pergonomie" role="tab" data-toggle="tab">Ergonomie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#padministratif" aria-controls="padministratif" role="tab" data-toggle="tab">Réglages administratifs</a>
    </li>
    {% if page.hasAgenda %}
      <li class="nav-item">
        <a class="nav-link" href="#pagenda" aria-controls="pagenda" role="tab" data-toggle="tab">Agenda</a>
      </li>
    {% endif %}
    {% if config.optionGeActiverLapInterne == 'true' or config.administratifPeutAvoirPrescriptionsTypes == 'true' %}
    <li class="nav-item">
      <a class="nav-link" href="#plap" aria-controls="plap" role="tab" data-toggle="tab">Prescriptions</a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="#pmdp" aria-controls="pmdp" role="tab" data-toggle="tab">Mot de passe</a>
    </li>
  </ul>

  <div class="tab-content">
    {# formulaire ergonomie #}
    <div role="tabpanel" class="tab-pane active" id="pergonomie" >
      {% include('inc-tabUserParametersErgonomie.html.twig') %}
    </div>

    {# réglages administratifs #}
    <div role="tabpanel" class="tab-pane" id="padministratif" >
      {% include('inc-tabUserParametersAdministratif.html.twig') %}
    </div>

    {# formulaire mot de passe MedShake #}
    <div role="tabpanel" class="tab-pane" id="pmdp" >
      {% include('inc-tabUserParametersPassword.html.twig') %}
    </div>

    {# LAP #}
    {% if config.optionGeActiverLapInterne == 'true' or config.administratifPeutAvoirPrescriptionsTypes == 'true' %}
      <div role="tabpanel" class="tab-pane" id="plap">
        {% include('inc-tabUserParametersLap.html.twig') %}
      </div>
    {% endif %}

    {# formulaire Agenda MedShake #}
    {% if page.hasAgenda %}
      <div role="tabpanel" class="tab-pane" id="pagenda">
        {% include('inc-tabUserParametersAgenda.html.twig') %}
      </div>
    {% endif %}

  </div>

{% endblock %}

{% block modals %}

{# modal catégorie de prescription : création / édition #}
{% include 'inc-userParamModalPresTypesCatNew.html.twig' %}

{# modal des prescriptions types hors LAP : création / édition #}
{% include 'inc-userParamModalPresTypesNew.html.twig' %}

{% endblock %}
