{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patients : résultat recherche patients / pro
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% set porpurl= page.porp in ['patient', 'today'] ? 'patient' : 'pro' %}

{% if page.outputTableHead %}
  <table class="table table-sm mb-0 table-hover">
    <caption></caption>
    <thead>
      <tr>
        <th class="d-none d-sm-table-cell"></th>
        {% for th in page.outputTableHead %}
          {% if loop.first %}
            <th class="d-table-cell">{{ th }}</th>
          {% else %}
            <th class="d-none d-lg-table-cell">{{ th }}</th>
          {% endif %}
        {% endfor %}
        <th class="d-table-cell"></th>
      </tr>
    </thead>
    <tbody>

      {% for patientID, tab in page.outputTableRow %}
        {% if page.porp == 'externe' %}
          <tr class="extAsPatient" style="cursor:pointer" data-patientid="{{ patientID }}">
        {% else %}
          {% set patientIDmod = page['outputType'][patientID]['type']=='externe' and patientID in page.extToInt|keys ? page.extToInt[patientID] : patientID %}
          <tr class="openPatient{% if page['outputType'][patientID]['type'] == 'pro' and page.porp == 'patient' %} table-info{% elseif page['outputType'][patientID]['type'] == 'dcd' %} table-active dcd{% endif %}" data-url="/{{ porpurl }}/{{ patientIDmod }}/">
        {% endif %}
          <td class="d-none d-sm-table-cell">
            {% if page.porp != 'pro' %}
              {% if (page['outputType'][patientID]['type']=='externe' and patientIDmod == patientID) or page.porp == 'externe' %}
                <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ porpurl }}/{{ patientIDmod }}/" title="Lier à un dossier">
                  <span class="fa fa-paperclip fa-fw" aria-hidden="true"></span>
                </a>
              {% else %}
                <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ porpurl }}/{{ patientIDmod }}/" title="Ouvrir le dossier">
                  <span class="fa fa-folder-open fa-fw" aria-hidden="true"></span>
                </a>
              {% endif %}
            {% else %}
              <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ porpurl }}/{{ patientIDmod }}/" title="Afficher la synthèse">
                <span class="fa fa-user fa-fw" aria-hidden="true"></span>
              </a>
            {% endif %}
          </td>

          {% for k, p in tab %}
            {% if loop.first %}
              <td class="d-table-cell">{{ p }}</td>
            {% else %}
              <td class="d-none d-lg-table-cell">{{ p }}</td>
            {% endif %}
          {% endfor %}

          <td class="text-right">
            <div class="btn-group">
              {% if page.porp != 'externe' and (page['outputType'][patientID]['type']!='externe' or patientID in page.extToInt|keys) %}
                <a class="btn btn-light btn-sm d-none d-sm-inline-block" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ porpurl }}/edit/{{ patientIDmod }}/" title="Édition des données administratives">
                  <span class="fa fa-pencil-alt" aria-hidden="true"></span>
                </a>
                {% if page.porp != 'pro' %}
                  <a class="btn btn-light btn-sm d-none d-sm-inline-block" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ porpurl }}/relations/{{ patientIDmod }}/" title="Édition des relations">
                    <span class="fa fa-link" aria-hidden="true"></span>
                  </a>
                  {% if page.modelesDocASigner|length == 1 %}
                    <button class="btn btn-light btn-sm sendSign d-none d-sm-inline-block" type="button" data-patientID="{{ patientIDmod }}" data-typeID="{{ page.modelesDocASigner[0]['id'] }}" title="Faire signer {{ page.modelesDocASigner[0]['label']|e('html_attr') }}">
                      <span class="fa fa-edit" aria-hidden="true"></span>
                    </button>
                  {% elseif page.modelesDocASigner|length > 1 %}
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-edit" aria-hidden="true"></span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        {% for docSign in page.modelesDocASigner %}
                        <a class="dropdown-item sendSign" href="#" data-patientID="{{ patientIDmod }}" data-typeID="{{ docSign.id }}">{{ docSign.label }}</a>
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}

                  {% if config.transmissionsPeutCreer == 'true' %}
                    <button type="button" class="btn btn-light btn-sm newTransmission" data-patientID="{{ patientIDmod }}" title="Rédiger une transmission à propos de ce patient"><i class="far fa-comments"></i></button>
                  {% endif %}
                {% endif %}
                <div class="btn-group">
                  <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-ellipsis-h" aria-hidden="true"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item d-block d-sm-none" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ porpurl }}/edit/{{ patientIDmod }}/">Éditer</a>
                    <a class=" dropdown-item d-block d-sm-none" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ porpurl }}/relations/{{ patientIDmod }}/">Relations</a>
                    {% if page['outputType'][patientID]['type'] != 'pro' %}
                      <a class="dropdown-item switchPraticienListe" data-patientID="{{ patientIDmod }}" href="#">Ajouter à la liste Praticiens</a>
                    {% else %}
                      <a class="dropdown-item switchPraticienListe" data-patientID="{{ patientIDmod }}" href="#">Retirer de la liste Praticiens</a>
                    {% endif %}
                    {% if config.smtpTracking %}
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueMailSendToPatient/{{ patientIDmod }}/" >Historique des mails envoyés</a>
                    {% endif %}
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item markDeleted" data-patientID="{{ patientIDmod }}" href="#">Supprimer ce dossier</a>
                  </div>
                </div>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<div style="margin-bottom:20px">Pas de résultat correspondant à la recherche</div>
{% endif %}
