{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patients : listing recherche patients / pro
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR :
{% if page.porp in ['patient', 'today'] %}
patients
{% elseif page.porp == 'pro' %}
praticiens
{% elseif page.porp == 'externe' %}
associer patient
{% endif %}{% endblock %}

{% block head %}
{{ parent() }}
{# JS Transmissions #}
{% if config.transmissionsPeutCreer == 'true' %}
	<script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/transmissions_functions.js?{{ modules.base }}"></script>
{% endif %}
{% if config.vitaleActiver =='true' %}
	<script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/vitale_functions.js?{{ modules.base }}"></script>
{% endif %}
<script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/rechercher.js?{{ modules.base }}"></script>
<style>
.openPatient td:nth-child(-n+7) {
	cursor: pointer;
}
</style>
{% endblock %}
{% block body %}


{% if page.porp == 'patient'%}
<h1>Patients</h1>
{% elseif page.porp == 'today' %}
<h1>Patients du jour</h1>
{% elseif page.porp == 'pro' %}
<h1>Praticiens</h1>
{% elseif page.porp == 'externe' %}
<h1>Associer un patient externe à un patient MedShakeEHR</h1>
{% endif %}

<div class="card card-body bg-light my-4">
	<div class="row ">

	  <form class="form-inline col-12 col-lg-9 mx-0 row my-lg-2" data-dataset="data_types">
	    <div class="form-group col-12 m-0 p-0 col-lg-3">
	      {{ f.input ({
		      'input' : {
			      'type' : 'text',
			      'id' : 'd2',
			      'name' : 'lastname',
	          'value' : (page.patient.administrativeDatas.lastname|default(page.patient.administrativeDatas.birthname|default('')))|trim,
			      'placeholder' : 'Nom',
			      'class' : 'form-control col-12 searchupdate',
			      'autocomplete' : 'off',
			      'dataAcTypeID' : 'data-acTypeID="2:1:3"',
			      'datatypeid' : '2'
		      },
		      'label' : {
			      'position' : 'before',
		      }
	      }) }}
	    </div>

			<div class="form-group col-12 my-2 my-lg-0 m-0 p-0 pl-lg-3 col-lg-3">
				{{ f.input ({
					'input' : {
						'type' : 'text',
						'id' : 'd3',
						'name' : 'firstname',
						'value' : page.patient.administrativeDatas.firstname|default(''),
						'placeholder' : 'Prénom',
						'class' : 'form-control col-12 searchupdate',
						'autocomplete' : 'off',
						'dataAcTypeID' : 'data-acTypeID="3"',
						'datatypeid' : '2'
					},
					'label' : {
						'position' : 'before',
					}
				}) }}
			</div>

	    <div class="col-12 my-2 my-lg-0 mx-0 p-0 pl-lg-4 col-lg-6">
	      <div class="input-group mx-0">
	        {{ f.input ({
	          'input' : {
		          'id' : 'autreCritVal',
		          'type' : 'text',
		          'name' : 'autre',
	            'placeholder': 'Autre critère',
		          'class' : 'form-control searchupdate',
							'autocomplete' : 'off',
	          },
	          'label' : {
		          'position' : 'before',
		          'label' : '',
	          }
	        }) }}
	        <div class="input-group-append" style="max-width:50%">
	          {{ f.selectOptgroup ({
	            'select' : {
		            'id' : 'autreCrit',
		            'name' : 'autre',
		            'class' : 'custom-select input-group-text form-control',
		            'values' : page.tabTypes,
	        	    'valueDefaut' : 'birthdate',
								'autocomplete' : 'off',
	            },
	            'label' : {
		            'position' : 'before',
		            'label' : '',
	            }
	          }) }}
	        </div>
	      </div>
	    </div>
	  </form>

	  <div class="col-12 col-lg-3 text-right my-lg-2">

	  {% if page.porp in ['patient', 'today'] %}
			{% if page.porp == 'patient' and config.vitaleActiver =='true' %}
				<button type="button" class="btn btn-success lireCpsVitale"><i class="fas fa-user"></i> Vitale</button>
			{% endif %}
	    <a class="btn btn-primary my-lg-1" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/create/"><i class="fas fa-plus"></i> Nouveau patient</a>
	  {% elseif page.porp == 'pro' and config.droitDossierPeutCreerPraticien == 'true' %}
	    <a class="btn btn-primary float-right my-lg-1" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/create/"><i class="fas fa-plus"></i> Nouveau praticien</a>
	  {% endif %}
	  </div>
	</div>
</div>

<div class="row mt-3">
	<div id="listing" data-porp="{{ page.porp }}" class="col">
	</div>
</div>

{% if page.porp == 'externe' %}
	<div>
	  <button class="btn btn-primary extToNew" data-externID={{ page.patient.id }} role="button"><i class="fas fa-plus"></i> Créer nouveau patient</button>
	</div>
{% endif %}

{% endblock %}

{% block modals %}
	{# modal nouvelle transmission #}
	{% if config.transmissionsPeutCreer == 'true' %}
	  {# modal nouvelle transmission #}
	  {% include 'inc-transmissionsNouvelleModal.html.twig' %}
	{% endif %}

	{# modal résultat lecture CPS Vitale  #}
	{% if config.vitaleActiver =='true' %}
		{% include 'inc-modalLectureCpsVitale.html.twig' %}
	{% endif %}

	{# modal rendre utilisateur #}
	{% if user.rank == 'admin' and config.optionGeAdminActiverLiensRendreUtilisateur == 'true' %}
		{% include 'inc-modalRendreUtilisateur.html.twig' %}
	{% endif %}

{% endblock %}
