{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # LAP > monographie sur base Thériaque
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set noMenuInBar = 'ok' %}
{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ page.speData.sp_nom }} - {{ config.designAppName }}
{% endblock %}

{% block head %}
  {{ parent() }}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/lapMonographie.js?{{ modules.base }}"></script>

    <script>
    var spe = {{ page.spe }};
    var section = '{{ page.section }}';
    </script>

    <style>
    h4 {
      margin-top : 1.5em;
    }
    h4:first-child {
      margin-top : 0;
    }
    </style>
{% endblock %}

{% block body %}
  <h1 style="margin-bottom : 1em;">{{ page.speData.sp_nom|trim('§') }}<br><small>{{ page.speData.sp_nomlong }}</small></h1>

  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills flex-column" role="tablist">
        <li class="nav-item">
          <a  class="nav-link{% if page.section == 'administratif' %} active{% endif %}" href="#administratif" role="tab" aria-controls="administratif" data-toggle="pill">Renseignements administratifs</a>
        </li>
        <li class="nav-item" {% if page.section == 'mvgeneriques' %} class="active"{% endif %}>
          <a class="nav-link" href="#mvgeneriques" role="tab" aria-controls="mvgeneriques" data-toggle="pill">Médicaments virtuels / Génériques</a>
        </li>
        <li class="nav-item" {% if page.section == 'formesPharma' %} class="active"{% endif %}>
          <a class="nav-link" href="#formesPharma" role="tab" aria-controls="formes pharmaceutiques" data-toggle="pill">Forme(s) pharmaceutique(s)</a>
        </li>
        <li class="nav-item" {% if page.section == 'composition' %} class="active"{% endif %}>
          <a class="nav-link" href="#composition" role="tab" data-toggle="pill">Composition</a>
        </li>
        <li class="nav-item" {% if page.section == 'classifications' %} class="active"{% endif %}>
          <a class="nav-link" href="#classifications" role="tab" data-toggle="pill">Classifications</a>
        </li>
        <li class="nav-item" {% if page.section == 'pharmacologie' %} class="active"{% endif %}>
          <a class="nav-link" href="#pharmacologie" role="tab" data-toggle="pill">Pharmacologie</a>
        </li>
        <li class="nav-item" {% if page.section == 'recommandations' %} class="active"{% endif %}>
          <a class="nav-link" href="#recommandations" role="tab" data-toggle="pill">Recommandations</a>
        </li>
        <li class="nav-item" {% if page.section == 'presentations' %} class="active"{% endif %}>
          <a class="nav-link" href="#presentations" role="tab" data-toggle="pill">Présentations</a>
        </li>
        <li class="nav-item" {% if page.section == 'indications' %} class="active"{% endif %}>
          <a class="nav-link" href="#indications" role="tab" data-toggle="pill">Indications</a>
        </li>
        <li class="nav-item" {% if page.section == 'nonindications' %} class="active"{% endif %}>
          <a class="nav-link" href="#nonindications" role="tab" data-toggle="pill">Non-indications</a>
        </li>
        <li class="nav-item" {% if page.section == 'contreindications' %} class="active"{% endif %}>
          <a class="nav-link" href="#contreindications" role="tab" data-toggle="pill">Contre-indications</a>
        </li>
        <li class="nav-item" {% if page.section == 'mgpe' %} class="active"{% endif %}>
          <a class="nav-link" href="#mgpe" role="tab" data-toggle="pill">Mises en garde et précautions d'emploi</a>
        </li>
        <li class="nav-item" {% if page.section == 'noncontreindications' %} class="active"{% endif %}>
          <a class="nav-link" href="#noncontreindications" role="tab" data-toggle="pill">Non contre-indications</a>
        </li>
        <li class="nav-item" {% if page.section == 'interactions' %} class="active"{% endif %}>
          <a class="nav-link" href="#interactions" role="tab" data-toggle="pill">Interactions médicamenteuses</a>
        </li>
        <li class="nav-item" {% if page.section == 'posologies' %} class="active"{% endif %}>
          <a class="nav-link" href="#posologies" role="tab" data-toggle="pill">Posologies</a>
        </li>
        <li class="nav-item" {% if page.section == 'modeAdministration' %} class="active"{% endif %}>
          <a class="nav-link" href="#modeAdministration" role="tab" data-toggle="pill">Mode d’administration<br>Manipulation / Incompatibilités</a>
        </li>
        <li class="nav-item" {% if page.section == 'grossesse' %} class="active"{% endif %}>
          <a class="nav-link" href="#grossesse" role="tab" data-toggle="pill">Grossesse / Allaitement</a>
        </li>
        <li class="nav-item" {% if page.section == 'effetsindesirables' %} class="active"{% endif %}>
          <a class="nav-link" href="#effetsindesirables" role="tab" data-toggle="pill">Effets indesirables</a>
        </li>
        <li class="nav-item" {% if page.section == 'conduite' %} class="active"{% endif %}>
          <a class="nav-link" href="#conduite" role="tab" data-toggle="pill">Conduite de véhicules</a>
        </li>
      </ul>
    </div>

    <div class="col-md-10">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if page.section == 'administratif' %} active{% endif %}" id="administratif">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'mvgeneriques' %} active{% endif %}" id="mvgeneriques">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'formesPharma' %} active{% endif %}" id="formesPharma">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'composition' %} active{% endif %}" id="composition">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'classifications' %} active{% endif %}" id="classifications">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'pharmacologie' %} active{% endif %}" id="pharmacologie">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'recommandations' %} active{% endif %}" id="recommandations">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'presentations' %} active{% endif %}" id="presentations">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'indications' %} active{% endif %}" id="indications">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'nonindications' %} active{% endif %}" id="nonindications">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'contreindications' %} active{% endif %}" id="contreindications">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'mgpe' %} active{% endif %}" id="mgpe">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'noncontreindications' %} active{% endif %}" id="noncontreindications">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'interactions' %} active{% endif %}" id="interactions">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'posologies' %} active{% endif %}" id="posologies">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'modeAdministration' %} active{% endif %}" id="modeAdministration">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'grossesse' %} active{% endif %}" id="grossesse">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'effetsindesirables' %} active{% endif %}" id="effetsindesirables">Chargement ...</div>
        <div role="tabpanel" class="tab-pane{% if page.section == 'conduite' %} active{% endif %}" id="conduite">Chargement ...</div>
      </div>
    </div>
  </div>



{% endblock %}
