{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2018
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Transmissions, index
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR : transmissions{% endblock %}

{% block head %}
  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/transmissions_functions.js?{{ modules.base }}"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/transmissions.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}
  <h1>Transmissions</h1>

  <div class="row my-4">
    <div class="col">
      <div id="toolbarTransmissions" class="btn-toolbar">
        <div class="btn-group mr-4">
          <button type="button" id="inbox" class="btn btn-secondary"><i class="fas fa-arrow-down"></i> Reçues</button>
          <button type="button" id="outbox" class="btn btn-light"><i class="fas fa-arrow-up"></i> Envoyées</button>
        </div>
        <div class="btn-group">
          <button type="button" id="nontraitees" class="btn btn-secondary">Non traitées</button>
          <button type="button" id="traitees" class="btn btn-light">Toutes</button>
        </div>
      </div>
    </div>
      <div class="col text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTransmission">Nouvelle transmission</button>
    </div>
  </div>
          <table id="listeTransmissions" class="table table-hover text-left my-4">
            <thead class="thead-light">
              <tr>
                <th>Création</th>
                <th>Sujet</th>
                <th>Concerne</th>
                <th>Auteur</th>
                <th>Destinataires</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>

<div class="row">
  <div class="col"></div>
  <div class="col text-center"><span id="pageCourante"></span></div>
  <div class="col text-right">
    <button id="pageSuivante" class="btn btn-secondary d-none pageChange"><i class="fas fa-angle-double-left"></i></button>
    <button id="pagePrecedente" class="btn btn-secondary d-none pageChange"><i class="fas fa-angle-double-right"></i></button>
  </div>
</div>


{% endblock %}

{% block modals %}
{# modal nouvelle transmission #}
{% include 'inc-transmissionsNouvelleModal.html.twig' %}
{% endblock %}
