{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > userParameters : tab LAP
 #
 # @author fr33z00 <https://github.com/fr33z00>
 # @contrib Bertrand Boutillier <b.boutillier@gmail.com>
 #}
{% import "macroForm.html.twig" as f %}
<div class="row">
  <div class=" col-md-2">

    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link  active" href="#lapMedics" data-toggle="tab">Paramètres globaux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#lapSams" data-toggle="tab">SAM</a>
      </li>
    </ul>
  </div>

  <div class="col-md-9">
    <div class="tab-content">

      {# paramètres perso du LAP #}
      <div role="tabpanel" class="tab-pane active" id="lapMedics">
        <h3>Paramétrage du LAP</h3>

        <div class="alert alert-warning" role="alert">
          Le changement des paramètres sur cette page peut affecter le niveau d'efficacité du LAP et abaisser son seuil de performance en dessous de celui prévu lors de la certification. Le cas échéant, les options concernées apparaissent sur fond jaune.
        </div>

        <form class="ajaxForm checkboxFixValue" method="post" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/user/ajax/userParametersLap/">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td class="table-primary" colspan="2">Paramètres de recherche pour nouvelle prescription</td>
              </tr>
              <tr>
                <td>Montrer les médicaments hospitaliers</td>
                <td><input name="theriaqueShowMedicHospi" value="{{ page.lap.params.theriaqueShowMedicHospi }}" type="checkbox" {% if page.lap.params.theriaqueShowMedicHospi == 'true' %} checked="checked"{% endif %} autocomplete="off"></td>
              </tr>
              <tr>
                <td>Montrer les médicaments non commercialisés</td>
                <td><input name="theriaqueShowMedicNonComer" value="{{ page.lap.params.theriaqueShowMedicNonComer }}" type="checkbox" {% if page.lap.params.theriaqueShowMedicNonComer == 'true' %} checked="checked"{% endif %} autocomplete="off"></td>
              </tr>
              <tr>
                <td class="table-primary" colspan="2">Paramètres des alertes à l'ouverture du LAP</td>
              </tr>
              <tr {% if page.lap.params.lapAlertPatientTermeGrossesseSup46 != 'true' %} class="table-warning" {% endif %}>
                <td>Alerte pour un terme de grossesse supérieur à 46SA</td>
                <td><input
                  class="alerteInfSeuilCertif"
                  name="lapAlertPatientTermeGrossesseSup46"
                  value="{{ page.lap.params.lapAlertPatientTermeGrossesseSup46 }}"
                  type="checkbox"
                  {% if page.lap.params.lapAlertPatientTermeGrossesseSup46 == 'true' %} checked="checked"{% endif %}
                  autocomplete="off"></td>
              </tr>
              <tr {% if page.lap.params.lapAlertPatientAllaitementSup3Ans != 'true' %} class="table-warning" {% endif %}>
                <td>Alerte pour allaitement supérieur à 3 ans</td>
                <td><input
                  class="alerteInfSeuilCertif"
                  name="lapAlertPatientAllaitementSup3Ans"
                  value="{{ page.lap.params.lapAlertPatientAllaitementSup3Ans }}"
                  type="checkbox"
                  {% if page.lap.params.lapAlertPatientAllaitementSup3Ans == 'true' %} checked="checked"{% endif %}
                  autocomplete="off"></td>
              </tr>
            </tbody>
          </table>
          <input class="btn btn-primary mt-2" type="submit" value="Valider"></input>
        </form>
      </div>

      {# paramètres perso des SAMs #}
      <div role="tabpanel" class="tab-pane" id="lapSams">
        <h3>Paramétrage des alertes SAM (Système d’Aide à la décision par Médicament)</h3>

        <h4>SAMs gérés</h4>

        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Identifiant</th>
              <th>Titre</th>
              <th>Reconnu</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for sam in page.lap.samsList %}
              <tr>
                <td>{{ sam.id }}</td>
                <td>{{ sam.titre }}</td>
                <td>{{ sam.methode }}</td>
                <td><button type="button" data-samID="{{ sam.id }}" class="btn btn-light btn-sm displayListSamPatientsDisabled"><i class="fas fa-user"></i></button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>
