{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : en-tête du dossier patient (données administratives)
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

<div class="col-12">
  <h1>
    {# firstname #}
    {{ page['patient']['administrativeDatas']['firstname']['value']|e }}

    {# lastname & birthname #}
    {% if page['patient']['administrativeDatas']['birthname']['value'] and page['patient']['administrativeDatas']['lastname']['value'] %}
      {{ page['patient']['administrativeDatas']['lastname']['value']|e }}
      (né{% if page['patient']['administrativeDatas']['administrativeGenderCode']['value'] == 'F' %}e{% endif %}
      {{ page['patient']['administrativeDatas']['birthname']['value']|e }})
      {# birthname only #}
    {% elseif page['patient']['administrativeDatas']['birthname']['value'] %}
      {{ page['patient']['administrativeDatas']['birthname']['value']|e }}
      {# lastname only #}
    {% elseif page['patient']['administrativeDatas']['lastname']['value'] %}
      {{ page['patient']['administrativeDatas']['lastname']['value']|e }}
    {% endif %}
    <small>
      {# birthdate #}
      {{ page['patient']['administrativeDatas']['birthdate']['value']|e }}
      -
      {% if page['patient']['administrativeDatas']['deathdate']['value'] != '' %}
        {# date décès #}
        {{ page['patient']['administrativeDatas']['deathdate']['value']|e }}
      {% else %}
        {# age #}
        <span title="{{ page['patient']['administrativeDatas']['birthdate']['ageFormats']['ageComposantes']['y']|e }}A {{ page['patient']['administrativeDatas']['birthdate']['ageFormats']['ageComposantes']['m']|e }}M {{ page['patient']['administrativeDatas']['birthdate']['ageFormats']['ageComposantes']['d']|e }}J">{{ page['patient']['administrativeDatas']['birthdate']['age']|e }}</span>

      {% endif %}
       - {% if page['patient']['administrativeDatas']['administrativeGenderCode']['value'] == 'F' %}&#9792;{% elseif page['patient']['administrativeDatas']['administrativeGenderCode']['value'] == 'M' %}&#9794;{% endif %}

        <div class="btn-group">
          {% if page['patient']['administrativeDatas']['notes']['value'] %}
            <button id="voirNotesPatient" type="button" class="btn btn-light btn-sm" title="Voir les notes">
                <i class="far fa-comment-alt"></i>
            </button>
          {% endif %}

          <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#editAdmin" title="Édition des données administratives"><span class="fa fa-pencil-alt" aria-hidden="true"></span></button>
          {% if config.transmissionsPeutCreer == 'true' %}
            <button type="button" class="btn btn-light btn-sm newTransmission" data-toggle="modal" title="Rédiger une transmission à propos de ce patient"><i class="far fa-comments"></i></button>
          {% endif %}
        </div>

   </small>
</h1>
<div style="margin-bottom : 8px;">
    {# email #}
    {% if page['patient']['administrativeDatas']['personalEmail']['value'] %}
      <div class="btn-group">
        <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ page['patient']['administrativeDatas']['personalEmail']['value']|e }}
        </button>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item newMail" href="#" data-formtocall="baseSendMail" data-mailtype="ns">Envoyer un mail</a></li>
          <li><a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueMailSendToPatient/{{ page.patient.id }}/" >Historique des mails envoyés</a></li>

        </ul>
      </div>

      -

    {% endif %}

    {# tel #}
    {{ page['patient']['administrativeDatas']['homePhone']['value']|e }}
    {% if page['patient']['administrativeDatas']['homePhone']['value'] and page['patient']['administrativeDatas']['mobilePhone']['value'] %}
      /
    {% endif %}
    {{ page['patient']['administrativeDatas']['mobilePhone']['value']|e }}
    -
    {# adresse #}
    {{ page['patient']['administrativeDatas']['streetNumber']['value']|e }}
    {{ page['patient']['administrativeDatas']['street']['value']|e }}
    {{ page['patient']['administrativeDatas']['postalCodePerso']['value']|e }}
    {{ page['patient']['administrativeDatas']['city']['value']|e }}

    {% if page.correspondants %}
      <div class="btn-group ml-4">
        <button type="button" class="btn btn-light btn-sm editerRelationsPatient" title="Édition des relations">
          <span class="fa fa-link" aria-hidden="true"></span>
        </button>
        {% for v in page.correspondants %}
          <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/{{ v.pratID }}/" title="">
            {% if v.titre %}{{ v.titre }} {% endif %}{{ v.prenom }} {{ v.nom }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
<div class="col-12">
  <div id="notesPatient" class="card bg-light p-2" style="display: none;">
    {{ page['patient']['administrativeDatas']['notes']['value']|e|nl2br }}
  </div>

</div>
