{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : tableau des Allergies structurées
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

<button class="btn btn-light btn-sm float-right getAllergiesPanel" data-toggle="modal" data-target="#searchAllergie" data-parentid="{{ parentTypeID }}" title="Ajouter une allergie"><i class="fas fa-plus"></i></button>

<table id="atcdTableauAllergieStruc" class="table table-sm table-hover table-bordered{% if allergiesData is empty %} d-none{% endif %}">
  <tbody class="addIn">
    {% if allergiesData %}
      {% for id, aller in allergiesData %}
        <tr class="tr{{ id }} table-warning small">
          <td data-toggle="collapse" data-target="#atcdDet{{ id }}" style="cursor: pointer">
            {{ aller.libelle }}
            <div id="atcdDet{{ id }}" class="collapse">
              <table class="table table-sm" style="margin-top:8px;">
                <tr>
                  <td>Code Thériaque</td>
                  <td>{{ aller.value }}</td>
                </tr>
                <tr>
                  <td>Auteur</td>
                  <td>{{ aller.fromName }}</td>
                </tr>
                <tr>
                  <td>Ajout le</td>
                  <td>{{ aller.registerDate }}</td>
                </tr>
                <tr>
                  <td colspan="2" class="text-right">
                    <button data-objetid="{{ id }}" class="btn btn-light btn-sm removeAllergie" title="Supprimer">
                      <span class="fas fa-times" aria-hidden="true"></span></button>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
