{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : en-tête du dossier patient (données administratives)
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

<div class="col-12">
  <h1>
    {# firstname #}
    {{ page['patient']['administrativeDatas']['firstname']['value']|e }}

    {# lastname & birthname #}
    {% if page['patient']['administrativeDatas']['birthname']['value'] and page['patient']['administrativeDatas']['lastname']['value'] %}
      {{ page['patient']['administrativeDatas']['lastname']['value']|e }}
      (né{% if page['patient']['administrativeDatas']['administrativeGenderCode']['value'] == 'F' %}e{% endif %}
      {{ page['patient']['administrativeDatas']['birthname']['value']|e }})
      {# birthname only #}
    {% elseif page['patient']['administrativeDatas']['birthname']['value'] %}
      {{ page['patient']['administrativeDatas']['birthname']['value']|e }}
      {# lastname only #}
    {% elseif page['patient']['administrativeDatas']['lastname']['value'] %}
      {{ page['patient']['administrativeDatas']['lastname']['value']|e }}
    {% endif %}
    <small>
      {# birthdate #}
      {%  if page['patient']['administrativeDatas']['birthdate']['value'] is not empty %}
        {% if page['patient']['administrativeDatas']['birthdate']['ageFormats']['ageComposantes']['m'] == 0 and page['patient']['administrativeDatas']['birthdate']['ageFormats']['ageComposantes']['d'] == 0 %}
          <i class="fas fa-birthday-cake text-danger" title="Joyeux anniversaire !"></i>
        {% endif %}
        <span id="patientBirthdate" data-birthYear="{{ page['patient']['administrativeDatas']['birthdate']['ageFormats']['birthYear']|e }}">
          {{ page['patient']['administrativeDatas']['birthdate']['value']|e }}
        </span>
        -
      {% endif %}
      {% if page['patient']['administrativeDatas']['deathdate']['value'] != '' %}
        {# date décès #}
        {{ page['patient']['administrativeDatas']['deathdate']['value']|e }}
        - <i class="fas fa-cross fa-xs"></i>
        <span title="{{ page['patient']['administrativeDatas']['deathAge']['ageComposantes']['y']|e }}A {{ page['patient']['administrativeDatas']['deathAge']['ageComposantes']['m']|e }}M {{ page['patient']['administrativeDatas']['deathAge']['ageComposantes']['d']|e }}J">{{ page['patient']['administrativeDatas']['deathAge']['ageDisplay']|e }}</span>
      {% else %}
        {# age #}
        <span title="{{ page['patient']['administrativeDatas']['birthdate']['ageFormats']['ageComposantes']['y']|e }}A {{ page['patient']['administrativeDatas']['birthdate']['ageFormats']['ageComposantes']['m']|e }}M {{ page['patient']['administrativeDatas']['birthdate']['ageFormats']['ageComposantes']['d']|e }}J">
          {{ page['patient']['administrativeDatas']['birthdate']['age']|e }}
        </span>

      {% endif %}
       -
      {% if page['patient']['administrativeDatas']['administrativeGenderCode']['value'] == 'F' %}
        <i class="fas fa-venus text-muted" title="&#9792;"></i>
      {% elseif page['patient']['administrativeDatas']['administrativeGenderCode']['value'] == 'M' %}
        <i class="fas fa-mars text-muted" title="&#9794;"></i>
      {% endif %}

        <div class="btn-group">
          {% if page['patient']['administrativeDatas']['notes']['value'] %}
            <button data-toggle="collapse" data-target="#notesPatient" type="button" class="btn btn-light btn-sm" title="Voir les notes">
                <i class="far fa-comment-alt text-danger"></i>
            </button>
          {% endif %}

          <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#editAdmin" title="Édition des données administratives"><span class="fas fa-pencil-alt" aria-hidden="true"></span></button>
          {% if config.optionGeActiverTransmissions == 'true' and config.transmissionsPeutCreer == 'true' %}
            <button type="button" class="btn btn-light btn-sm newTransmission" data-toggle="modal" title="Rédiger une transmission à propos de ce patient"><i class="far fa-comments"></i></button>
          {% endif %}
        </div>

        {% if page.patient.id in config.statsExclusionPatientsArray %}
          <span class="badge badge-danger float-right">Patient test</span>
        {% endif %}

   </small>

</h1>
<div style="margin-bottom : 8px;">
    {# email #}
    {% if page['patient']['administrativeDatas']['personalEmail']['value'] %}
      <i class="fas fa-at text-muted"></i>
      <div class="btn-group mr-3">
        <button type="button" class="btn  btn-sm dropdown-toggle pl-0 pr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ page['patient']['administrativeDatas']['personalEmail']['value']|e }}
        </button>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item newMail" href="#" data-formtocall="baseSendMail" data-mailtype="ns"><i class="fas fa-at fa-fw text-muted mr-1"></i> Envoyer un mail</a></li>
          <li><a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueMailSendToPatient/{{ page.patient.id }}/"><i class="fas fa-history fa-fw text-muted mr-1"></i>  Historique des mails envoyés</a></li>
        </ul>
      </div>

    {% endif %}

    {# tel #}
    {% if page['patient']['administrativeDatas']['homePhone']['value']  %}
      <span class="mr-3"><i class="fas fa-phone text-muted"></i>
      {% if config.click2callService is not empty %}<span class="click2call">{% endif %}
      {{ page['patient']['administrativeDatas']['homePhone']['value']|e }}
      {% if config.click2callService is not empty %}</span>{% endif %}
      </span>
    {% endif %}

    {% if page['patient']['administrativeDatas']['mobilePhone']['value']  %}
      <span class="mr-3"><i class="fas fa-mobile-alt text-muted"></i>
      {% if config.click2callService is not empty %}<span class="click2call">{% endif %}
      {{ page['patient']['administrativeDatas']['mobilePhone']['value']|e }}
      {% if config.click2callService is not empty %}</span>{% endif %}
      </span>
    {% endif %}

    {# adresse #}
    {% if page['patient']['administrativeDatas']['city']['value'] %}<i class="fas fa-home text-muted"></i>{% endif %}
    {{ page['patient']['administrativeDatas']['streetNumber']['value']|e }}
    {{ page['patient']['administrativeDatas']['street']['value']|e }}
    {{ page['patient']['administrativeDatas']['postalCodePerso']['value']|e }}
    {{ page['patient']['administrativeDatas']['city']['value']|e }}
    {% if  page['patient']['administrativeDatas']['country']['value_label'] is defined %} - {{ page['patient']['administrativeDatas']['country']['value_label']|e }}{% endif %}

    {% if page.correspondants %}
      <div class="d-inline ml-4">
        <button type="button" class="btn btn-light btn-sm editerRelationsPatient" title="Édition des relations">
          <span class="fas fa-link" aria-hidden="true"></span>
        </button>
        {% for v in page.correspondants %}
        <div class="btn-group">
          <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/{{ v.peopleID }}/" title="{{ v.typeRelationTxt|e('html_attr') }}">
            {% if v.titre %}{{ v.titre }} {% endif %}{{ v.identiteUsuelle }}
            {% if v.typeRelation == 'MTD' %}<sup><i class="fas fa-star fa-sm"></i></sup>{% endif %}
          </a>
          <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
              <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <div class="dropdown-header">Téléphones / fax pros</div>
            {% if v.telPro %}
              <div class="dropdown-item">
                <i class="fas fa-phone fa-fw text-muted mr-1"></i>
                {% if config.click2callService is not empty %}<span class="click2call">{% endif %}
                {{ v.telPro }}
                {% if config.click2callService is not empty %}</span>{% endif %}
              </div>
            {% endif %}
            {% if v.telPro2 %}
              <div class="dropdown-item">
                <i class="fas fa-phone fa-fw text-muted mr-1"></i>
                {% if config.click2callService is not empty %}<span class="click2call">{% endif %}
                {{ v.telPro2 }}
                {% if config.click2callService is not empty %}</span>{% endif %}
              </div>
            {% endif %}
            {% if v.mobilePhonePro %}
              <div class="dropdown-item">
                <i class="fas fa-mobile-alt fa-fw text-muted mr-1"></i>
                {% if config.click2callService is not empty %}<span class="click2call">{% endif %}
                {{ v.mobilePhonePro }}
                {% if config.click2callService is not empty %}</span>{% endif %}
              </div>
            {% endif %}
            {% if v.faxPro %}
              <div class="dropdown-item">
                <i class="fas fa-fax fa-fw text-muted mr-1"></i>
                {{ v.faxPro }}
              </div>
            {% endif %}
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">Emails pros</div>
            {% if v.profesionnalEmail %}
              <div class="dropdown-item">
                <i class="fas fa-at fa-fw text-muted mr-1"></i>
                {{ v.profesionnalEmail }}
              </div>
            {% endif %}
            {% if v.emailApicrypt %}
              <div class="dropdown-item">
                <i class="fas fa-lock fa-fw text-muted mr-1"></i>
                {{ v.emailApicrypt }}
              </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
<div id="notesPatient" class="col-12 collapse">
  <div class="card bg-light p-2">
    {{ page['patient']['administrativeDatas']['notes']['value']|e|nl2br }}
  </div>
</div>
