{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : tableau des liens familiaux
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}




<div class="card" style="margin-top : 8px">
  <div class="card-header font-weight-bold">Liens familiaux
  </div>

  <table class="table table-sm table-striped table-hover small">
    <thead>
      <tr>
        <th class="col-md-1"></th>
        <th class="col-md-5">patient</th>
        <th class="col-md-3">ddn</th>
        <th class="col-md-3">relation</th>
      </tr>
    </thead>
    <tbody>
      {% for v in page.liensFamiliaux %}
        <tr>
          <td>
            <a target="_blank" class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ v.patientID }}/">
              <span class="fas fa-folder-open" aria-hidden="true"></span></a>
          </td>
          <td class="font-weight-bold">{{ v.nom }}
            {{v.prenom }}</td>
          <td>{{ v.ddn }}</td>
          <td>{{ v.typeRelation }}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<a class="btn btn-info btn-block" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/relations/{{ page.patient.id }}/" title="Édition des relations">
  <span class="fas fa-link" aria-hidden="true"></span> Gérer les liens familiaux</a>
