{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : formulaire de règlement
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% import "macroForm.html.twig" as f %}
<div class="jumbotron col-md-12">
    <button id="cleanNewReglement" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    {% if page.form.addHidden.objetID > 0 %}
        <h3>Édition du règlement</h3>
    {% else %}
        <h3>Nouveau règlement</h3>
    {% endif %}

    <div class="row mb-3">
        {% for k, v in page.menusActes %}
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="selectActe{{ loop.index }}">{{ k }}
                    </label>
                    <select class="custom-select selectActeStarter" id="selectActe{{ loop.index }}ID" name="selectActe{{ loop.index }}" autocomplete="off">
                        <option value=''></option>
                        {% for val in v %}
                            <option value="{{ val.id }}"
                            {% if val.id == page.selectedFactureTypeID %} selected="selected" {% endif %}
                             style="padding-top : 6px; padding-bottom : 6px; border-top : 1px solid #DDD;
                            {% if val.flagCmu %}background : #EEE; {% endif %}
                            {% if val.flagImportant %}font-weight : bold; {% endif %}
                            "
                          >{{ val.numIndexFSE }}. {{ val.label }} &harr; {{ val.syntheseActes }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="detFacturation" class="card col-md-12 px-0 mb-3" style="display: none;">
      <div class="card-header text-center font-weight-bold">Facturation à appliquer</div>

      <table class="table table-sm mb-0">
        <thead>
          <tr>
            <th class="">acte</th>
            <th class="text-left"></th>
            <th class="text-left" {% if page.form.addHidden.reglementForm == 'baseReglementLibre' %} style="display : none"{% else %} style="width : 100px;"{% endif %}>code asso.</th>
            <th class="text-center">base</th>
            {% if page.formIN != 'baseReglementLibre' %}
              <th class="pourcents text-center" style="width : 100px;">quantité</th>
            {% endif %}
            <th class="text-center" {% if page.form.addHidden.reglementForm == 'baseReglementLibre' %} style="display : none"{% else %} style="width : 120px;"{% endif %}>modif CCAM</th>
            <th class="text-center" {% if page.form.addHidden.reglementForm == 'baseReglementLibre' %} style="display : none"{% endif %}></th>
            <th class="text-center"></th>
            {% if page.secteur == 'baseReglementLibre' %}
              <th class="text-center" style="width : 120px;">modulation</th>
            {% else %}
              <th class="text-center" style="width : 120px;">dépassement</th>
              <th class="text-right" style="width : 80px;"></th>
            {% endif %}
            <th class="text-right">total</th>
            <th class=""></th>
          </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>
    {{ f.formbuilder(page.form , page.formIN ) }}


    {% if page.form.addHidden.objetID > 0 %}
    <script>
      setTimeout(function() {
        construireTabActesEdition();
      }, 200);
      </script>
    {% endif %}

    <script>
      modificateursCcamValue = {
        {% for code, val in page.modifcateursCcam %}
        '{{ code }}' : '{{ val.tarif }}',
        {% endfor %}
      };

      modificateursCcamUnit = {
        {% for code, val in page.modifcateursCcam %}
        '{{ code }}' : '{{ val.tarifUnit }}',
        {% endfor %}
      };
    </script>
</div>
