{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : dossier patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @edited fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ page['patient']['administrativeDatas']['3']['value']|e }}
    {{ page['patient']['administrativeDatas']['2']['value']|e }} : dossier patient - MedShakeEHR{% endblock %}

{% block head %}
    <script>
      {# provoquer envoie asynchrone du patient dans le DICOM si config ok #}
      var dicomAutoSendPatient2Echo = {{ config.dicomAutoSendPatient2Echo }};
    </script>

    {{ parent() }}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/bower_components/tinymce/tinymce.min.js"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/bower_components/tinymce/jquery.tinymce.min.js"></script>

    {# JS général du dossier patient #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/patient.js"></script>

    {# JS commun au formulaire de consultation du module #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/common.js"></script>

    {# JS spécifiques des formulaires présents à l'affichage initial de la page #}
    {% for i in page.listeForms %}
      <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/formsScripts/{{ i }}.js"></script>
    {% endfor %}

    <style>
        #newDoc{
          display: none;
        }

    </style>

{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% if page.patient.dossierType =="deleted" %}
        <div class="row alert alert-danger" role="alert">Ce dossier est marqué comme supprimé !</div>
        {% endif %}
        <div class="row" id="identitePatient" data-patientID="{{ page.patient.id }}">

            {% include('inc-ajax-patientAdminData.html.twig') %}

        </div>

        <div class="row">

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ordonnance
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                      <a id="linkAddNewOrdo" href="#">Nouvelle prescription</a>
                  </li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courriers &amp; Certificats
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Certificats</li>
                    {% for v in page.modelesCertif %}
                        <li>
                            <a class="newCourrier" data-modeleID="{{ v.id }}" href="#">{{ v.label }}</a>
                        </li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Courriers</li>
                    {% for v in page.modelesCourrier %}
                        <li>
                            <a class="newCourrier" data-modeleID="{{ v.id }}" href="#">{{ v.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Document
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a id="linkAddNewDoc" href="#">Ajouter un document au dossier</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled="disabled"{% endif %}>
                    Règlement
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                      <a id="linkAddNewReglement" href="#">Nouveau règlement</a>
                  </li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    DICOM
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                      <a href="#" class="catchLastDicomSrData">Récupérer dernières mesures</a>
                  </li>
                  <li>
                      <a href="#" class="catchOthersDicomSrData">Récupérer mesures antérieures</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/dicom/{{ page.patient.id }}/" target="_blank">Voir tous les examens du patient</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                      <a href="#" class="prepareEcho">Envoyer patient à échographe</a>
                  </li>
                </ul>
            </div>


        </div>

        <div class="row" style="margin-top : 40px;">
            <div  class="col-md-3">
              {# Formulaire dlatéral des ATCD #}
              <div id="latForm" class=" changeObserv">
                  {{ f.formbuilder(page.formData_baseATCD , page.formName_baseATCD , valFormLat ) }}
              </div>
              {# Liens familiaux #}
              {% if page.liensFamiliaux %}

              <div class="panel panel-default">
          			<div class="panel-heading gras">Liens familiaux <a class="btn btn-default btn-xs pull-right" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/relations/{{ page.patient.id }}/" title="Édition des relations"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
                </div>

                <table class="table table-striped table-condensed table-hover small">
          				<thead>
          					<tr>
          						<th class="col-md-1"></th>
          						<th class="col-md-5">patient</th>
                      <th class="col-md-3">ddn</th>
          						<th class="col-md-3">relation</th>
          					</tr>
          				</thead>
          				<tbody>
                    {% for v in page.liensFamiliaux %}
                    <tr>
                      <td>
                        <a target="_blank" class="btn btn-default btn-xs" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ v.patientID }}/"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a>
                      </td>
                      <td class="gras">{{ v.nom }} {{v.prenom }}</td>
                      <td>{{ v.ddn }}</td>
                      <td>{{ v.typeRelation }}</td>
                    </tr>
                    {% endfor %}
          				</tbody>

          			</table>
          		</div>

              {% endif %}
            </div>

            {# colonne principale #}
            <div class="col-md-9" style="padding-left : 35px">

                {# Div d'import de nouveau doc #}
                <div id="newDoc" class="row">{% include 'importDocForm.html.twig' %}</div>

                {# historique du jour #}
                {% if page.patient.today %}{% include 'patientHistoriqueToday.html.twig' %}{% endif %}

                {# Div d'insertion de nouveau reglement #}
                <div id="newReglement" class="row"></div>

                {# Div d'insertion de nouveau courrier #}
                <div id="newCourrier" class="row"></div>

                {# Div d'insertion de nouvelle ordonance #}
                <div id="newOrdo" class="row"></div>

                {# Div d'insertion de nouvelle consultation #}
                <div id="nouvelleCs" class="row checkboxFixValue"></div>

                {# Div d'insertion de nouveau mail  #}
                <div id="newMail" class="row"></div>

              {# Synthèse patient #}
              {% include 'patientSynthese.html.twig' %}

              {# Historique complet #}
              {% if page.patient.historique %}{% include 'patientHistoriqueMedical.html.twig' %}{% endif %}
            </div>
          </div>

    </div>

    {# modal changer nom consultation ou doc #}
    <div class="modal fade" id="alternatTitreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>

            <h4 class="modal-title" id="exampleModalLabel">Compléter le titre</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="titreActu" class="control-label">Complément :</label>
                <input type="text" class="form-control" id="titreActu">
                <input type="hidden" id="objetID" value="" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" id="alternatTitreModalSubmit">Modifier</button>
           </div>
         </div>
       </div>
     </div>

     {# modal rapatrier mesures examen particulier #}
     <div class="modal fade" id="listeDicomStudiesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
       aria-hidden="true">&times;</span></button>

             <h4 class="modal-title">Choisir un examen</h4>
           </div>
           <div class="modal-body">
             <form>
               <div class="form-group">
                 <label for="titreActu" class="control-label">Liste des études DICOM trouvées :</label>
                 <select class="form-control" id="listeDicomStudies"></select>

               </div>
             </form>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
             <button type="button" class="btn btn-primary" id="listeDicomStudiesSubmit">Rapatrier</button>
            </div>
          </div>
        </div>
      </div>

      {# modal éditer infos adminsitratives du patient #}
      <div id="editAdmin" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title gras">Edition des informations administratives du patient</h4>
            </div>
            <div class="modal-body changeObserv">
              {{ f.formbuilder(page.formEditAdmin , 'baseNewPatient' , session) }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary modalAdminClose" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>

      {# modal changer la date d'une ligne d'historique #}
      <div id="modalCreationDate" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title gras">Modifier la date affichée d'un élément de l'historique</h4>
            </div>
            <div class="modal-body">
              <p>Cet élément a été enregistré en base le <span id="modalRegisterDateDisplay"></span></p>
              <p>Il est actuellement affiché en date du <span id="modalCreationDateDisplay"></span></p>
              <form id="formNewCreationDate" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/actions/changeObjetCreationDate/{{ page.patient.id }}/" method="post">
                <input name="objetID" type="hidden" value="" />
                <div class="form-group">
                    <label for="datepickHisto">Modifier la date d'effet pour le</label>
                    <div class="input-group date  col-md-6" id="datepickHisto">
                        <input name="newCreationDate" type="text" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary modalCreationDateClose" data-dismiss="modal">Modifier</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
