{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : formulaire d'ordonnance
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% import "macroForm.html.twig" as f %}
{# Formulaire de synthèse #}
<div class="jumbotron col-md-12">
    <button id="cleanNewOrdo" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <h3>Nouvelle ordonnance</h3>


    <div class="row" style="margin-bottom : 30px">
        {% for k, v in page.menusPrescriptions %}
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="selectActe{{ loop.index }}">{{ k }}
                    </label>
                    <select class="custom-select selectPrescriptionStarter" id="selectPrescription{{ loop.index }}ID" name="selectPrescription{{ loop.index }}" autocomplete="off">
                        <option value=''></option>
                        {% for val in v %}
                            <option value="{{ val.id }}" {% if val.id == page.formActes.prevalue %} selected="selected" {% endif %}>{{ val.optionmenu }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
    </div>

    <form id="ordoComposer" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/actions/saveOrdoForm/" target="_blank" method="post" class="">
        <input type="hidden" name="porteur" value="{{ page.ordo.porteur }}" />
        <input type="hidden" name="module" value="{{ page.ordo.module }}" />
        <input type="hidden" name="ordoForm" value="{{ page.ordo.ordoForm }}" />
        <input type="hidden" name="asUserID" value="{{ page.ordo.asUserID }}" />
        <div class="row">
            <div class="col-auto">
                <div class="form-group">
                    <label class="control-label">Modèle impression
                    </label>
                    <select class="custom-select" name="ordoTypeImpression" autocomplete="off">
                        <option value="standard">standard</option>
                        <option value="ald"{% if page.courrier.modeprint == 'ald' %} selected="selected"{% endif %}>ALD</option>
                    </select>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-group">
                    <label class="control-label">Imprimer le nombre de lignes de prescription
                    </label>
                    <select class="custom-select" name="ordoImpressionNbLignes" autocomplete="off">
                        <option value="o" {% if page.courrier.ordoImpressionNbLignes == 'o' %} selected="selected"{% endif %}>oui</option>
                        <option value="n" {% if page.courrier.ordoImpressionNbLignes == 'n' %} selected="selected"{% endif %}>non</option>
                    </select>

                </div>

            </div>
        </div>

        {# si édition alors on recrée l'ordo #}
        {% if page.courrier.medoc %}
          {% for ligne in page.courrier.medoc %}
            {% include 'ligneOrdoForm.html.twig' %}
          {% endfor %}

        {% endif %}

        <div class="row insertBeforeMe">

            <div class="col-md-12">
                {% if page.courrier.objetID > 0 %}<input type="hidden" name="objetID" value="{{ page.courrier.objetID }}" />{% endif %}
                {% if page.courrier.modeprintObjetID > 0 %}<input type="hidden" name="modeprintObjetID" value="{{ page.courrier.modeprintObjetID }}" />{% endif %}
                <input type="hidden" name="patientID" value="{{ page.patient.id }}" />
                <input value="Valider" class="btn btn-warning btn-lg btn-block" type="submit">

            </div>
        </div>
    </form>
</div>
