{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : dossier patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}

{% block title %}{{ page.patient.administrativeDatas.firstname.value|e }}
    {{ (page.patient.administrativeDatas.lastname.value|default(page.patient.administrativeDatas.birthname.value))|e }}
    : dossier patient - MedShakeEHR
{% endblock %}

{% block head %}
  {# provoquer envoie asynchrone du patient dans le DICOM si config ok #}
  <script>
    var dicomAutoSendPatient = {{ config.dicomAutoSendPatient }};
  </script>

  {{ parent() }}
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/tinymce/tinymce/tinymce.min.js"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/tinymce/tinymce/jquery.tinymce.min.js"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/dimsemenov/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/mattbryson/TouchSwipe-Jquery-Plugin/jquery.touchSwipe.min.js"></script>

  {# JS général du dossier patient #}
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/patient.js"></script>

  {# JS LAP #}
  {% if config.utiliserLap == 'true' %}
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/lap.js"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/lapOrdonnance.js"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/lapTTenCours.js"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/lapHistoriqueOrdos.js"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/lapHistoriqueTT.js"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/lapPrescription.js"></script>
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/lapSam.js"></script>
  {% endif %}

  {# JS commun au formulaire de consultation du module #}
  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/commonGynobs.js"></script>

  {# JS spécifiques des formulaires présents à l'affichage initial de la page #}
  {% for i in page.listeForms %}
    <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/formsScripts/{{ i }}.js"></script>
  {% endfor %}

  {# CSS spécifique #}
  <link type="text/css" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/dimsemenov/magnific-popup/dist/magnific-popup.css" rel="stylesheet"/>
  <style>

    tr.collapsing {
        transition:none;
        -webkit-transition: none;
        display:table-row;
    }

    #newDoc {
      display: none;
    }

    .imageDc {
        display: inline-block;
        width: 330px;
        margin: 5px;
    }

    .imageDc img {
        display: inline-block;
        width: 330px;
        vertical-align: top;
        border: 10px solid #EEE;
    }

    .voirframes {
      cursor: pointer;
    }

  </style>

{% endblock %}

{% block body %}

    {# alerte dossier supprimé #}
    {% if page.patient.dossierType == "deleted" %}
      <div class="row alert alert-danger" role="alert">Ce dossier est marqué comme supprimé !</div>
    {% endif %}

    {# identité patient #}
    <div class="row" id="identitePatient" data-genre="{{ page.patient.administrativeDatas.administrativeGenderCode.value }}" data-patientid="{{ page.patient.id }}">
      {% include('inc-ajax-patientAdminData.html.twig') %}
    </div>

    {# Onglets #}
    <ul class="nav nav-tabs gras" role="tablist" style="margin-top : 15px;">
      <li class="nav-item">
        <a id="ongletDossierMedical" class="nav-link active" href="#tabDossierMedical" aria-controls="tabDossierMedical" aria-selected="true" role="tab" data-toggle="tab">Dossier médical</a>
      </li>
      {% if config.utiliserLap == 'true' %}
      <li class="nav-item">
        <a id="ongletLAP" class="nav-link" href="#tabLAP" aria-controls="tabLAP" aria-selected="false" role="tab" data-toggle="tab">LAP</a>
      </li>
      {% endif %}
      {% if config.dicomHost != '' %}
        <li class="nav-item">
          <a id="ongletDicom" class="nav-link" href="#tabDicom" aria-controls="tabDicom" aria-selected="false" role="tab" data-toggle="tab">Imagerie</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a id="ongletLiensPatient" class="nav-link" href="#tabLiensPatient" aria-controls="tabLiensPatient" aria-selected="false" role="tab" data-toggle="tab">Relations</a>
      </li>
    </ul>

    {# tabs  #}
    <div class="tab-content container-fluid" style="padding-top :15px; padding-bottom: 15px;">

      {# tab dossier médical #}
      <div id="tabDossierMedical" class="tab-pane active" role="tabpanel">
        {% include('inc-patientTabDossierMedical.html.twig') %}
      </div>

      {# tab lap #}
      {% if config.utiliserLap == 'true' %}
      <div id="tabLAP" class="tab-pane" role="tabpanel">
        {% include('inc-tabLAP.html.twig') %}
      </div>
      {% endif %}

      {# tab dicom #}
      <div id="tabDicom" class="tab-pane" role="tabpanel" data-rootUrl="/patient/{{ page.patient.id }}/tab/tabDicomStudiesList/"></div>

      {# tab liens patient #}
      <div id="tabLiensPatient" class="tab-pane" role="tabpanel" data-rootUrl="/patient/{{ page.patient.id }}/tab/tabLiensPatient/"></div>
    </div>

{% endblock %}

{% block modals %}
{# modal courbes de poids/taille/IMC #}
{% include 'inc-patientModal-GraphsIMC.html.twig' %}

{# modal changer nom consultation ou doc #}
{% include 'inc-patientModal-changerTitre.html.twig' %}

{# modal rapatrier mesures examen particulier #}
{% include 'inc-patientModal-getSpecificDicomData.html.twig' %}

{# modal éditer infos adminsitratives du patient #}
{% include 'inc-patientModal-editAdminData.html.twig' %}

{# modal changer la date d'une ligne d'historique #}
{% include 'inc-patientModal-changerDateEffet.html.twig' %}

{# modal phonecapture #}
{% include 'inc-patientModal-phonecapture.html.twig' %}

{# modals spécifiques LAP ON #}
{% if config.utiliserLap == 'true' %}
  {# recherche CIM10 #}
  {% include 'inc-patientModal-searchCIM10.html.twig' %}

  {# recherche Allergie #}
  {% include 'inc-patientModal-searchAllergie.html.twig' %}

  {# modal recherche de médicament #}
  {% include 'inc-lapModalRechercher.html.twig' %}

  {# modal voir ordonnance #}
  {% include 'inc-lapModalVoirOrdonnance.html.twig' %}

  {# modal spécifier date d'arrêt effective #}
  {% include 'inc-lapModalMedicDateArretEffective.html.twig' %}

  {# modal générique pour les alertes LAP #}
  {% include 'inc-lapModalAlertes.html.twig' %}

  {# modal générique pour les alertes SAM #}
  {% include 'inc-lapModalAlerteSam.html.twig' %}

  {# modal générique pour les infos médicament #}
  {% include 'inc-lapInfosMedic.html.twig' %}
{% endif %}

{% endblock %}
