{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : dossier patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ page['patient']['administrativeDatas']['3']['value']|e }}
    {% if page['patient']['administrativeDatas']['2']['value'] %}{{ page['patient']['administrativeDatas']['2']['value']|e }}
    {% else %}{{ page['patient']['administrativeDatas']['1']['value']|e }}{% endif %}
    : dossier patient - MedShakeEHR
{% endblock %}

{% block head %}
    <script>
      {# provoquer envoie asynchrone du patient dans le DICOM si config ok #}
      var dicomAutoSendPatient2Echo = {{ config.dicomAutoSendPatient2Echo }};
    </script>

    {{ parent() }}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/bower_components/tinymce/tinymce.min.js"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/bower_components/tinymce/jquery.tinymce.min.js"></script>

    {# JS général du dossier patient #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/patient.js"></script>

    {# JS commun au formulaire de consultation du module #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/commonBase.js"></script>

    {# JS spécifiques des formulaires présents à l'affichage initial de la page #}
    {% for i in page.listeForms %}
      <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/formsScripts/{{ i }}.js"></script>
    {% endfor %}

    <style>
        #newDoc{
          display: none;
        }

    </style>

{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% if page.patient.dossierType =="deleted" %}
        <div class="row alert alert-danger" role="alert">Ce dossier est marqué comme supprimé !</div>
        {% endif %}
        <div class="row" id="identitePatient" data-genre="{{ page.patient.administrativeDatas.14 }}" data-patientID="{{ page.patient.id }}">

            {% include('inc-ajax-patientAdminData.html.twig') %}

        </div>

        <div class="row">

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ordonnance
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {% if config.LapOnOff == 'on' %}
                    <li>
                      <a href="/lap/{{ page.patient.id }}/" target="_blank">Prescription médicamenteuse (LAP)</a>
                    </li>
                  {% endif %}
                  {% for k,v in page.formOrdo %}
                    <li>
                        <a id="linkAddNewOrdo" data-porteur="{{ k }}" data-module="{{ v.module }}" data-ordoForm="{{ v.form }}" href="#">{% if page.formOrdo|length > 1 %} {{ v.module }} : {% endif %}{% if config.LapOnOff == 'on' %}Autres prescriptions{% else %}Nouvelle prescription{% endif %}</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courriers &amp; Certificats
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Certificats</li>
                    {% for v in page.modelesCertif %}
                        <li>
                            <a class="newCourrier" data-modeleID="{{ v.id }}" href="#">{{ v.label }}</a>
                        </li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Courriers</li>
                    {% for v in page.modelesCourrier %}
                        <li>
                            <a class="newCourrier" data-modeleID="{{ v.id }}" href="#">{{ v.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Document
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a id="linkAddNewDoc" href="#">Ajouter un document au dossier</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled="disabled"{% endif %}>
                    Règlement
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {% for k,v in page.formReglement %}
                    <li>
                      <a id="linkAddNewReglement" data-porteur="{{ k }}" data-module="{{ v.module }}" data-reglementForm="{{ v.form }}" href="#">{% if page.formReglement|length > 1 %} {{ v.module }} : {% endif %}Nouveau règlement</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    DICOM
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                      <a href="#" class="catchLastDicomSrData">Récupérer dernières mesures</a>
                  </li>
                  <li>
                      <a href="#" class="catchOthersDicomSrData">Récupérer mesures antérieures</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/dicom/{{ page.patient.id }}/" target="_blank">Voir tous les examens du patient</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                      <a href="#" class="prepareEcho">Envoyer patient à échographe</a>
                  </li>
                </ul>
            </div>


        </div>

        <div class="row" style="margin-top : 40px;">
          <div class="col-md-3">

            {# Onglets colonne latérale #}
            <ul class="nav nav-tabs" style="margin-bottom : 12px;">
              <li role="presentation" class="active" data-toggle="tab" title="Panneau principal">
                <a href="#panelATCD" data-toggle="tab"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
              </li>
              <li role="presentation" title="Liens familiaux">
                <a href="#panelLiensFamiliaux" data-toggle="tab"><span class="glyphicon glyphicon glyphicon-link" aria-hidden="true"></span></a></a>
              </li>
              {% if config.LapOnOff == 'on' %}
              <li role="presentation" title="Autres actions">
                <a href="#panelOptions" data-toggle="tab"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a></a>
              </li>
              {% endif %}
            </ul>

            <div class="tab-content">

              {# Formulaire ajout ALD #}
              {% if config.LapOnOff == 'on' %}
              <div role="tabpanel" class="tab-pane" id="panelOptions">
                <button class="btn btn-info btn-block newCS" type="submit" data-parentID="0" data-formtocall="aldDeclaration" data-mode="create">Ajouter une ALD</button>
              </div>
              {% endif %}

              {# Formulaire latéral des ATCD #}
              <div role="tabpanel" class="tab-pane active" id="panelATCD">
                {% if page.patient.ALD %}
                  {% include 'inc-patientAldStruc.html.twig' %}
                {% endif %}
                <div id="latForm" class="changeObserv">
                  {{ f.formbuilder(page.formData_baseATCD , page.formName_baseATCD , valFormLat ) }}
                </div>
              </div>

              {# Liens familiaux #}
              <div role="tabpanel" class="tab-pane" id="panelLiensFamiliaux">
                {% if page.liensFamiliaux %}
                  {% include 'inc-patientLiensFamiliaux.html.twig' %}
                {% endif %}
              </div>
            </div>
          </div>

            {# colonne principale #}
            <div class="col-md-9" style="padding-left : 35px">

                {# Div d'import de nouveau doc #}
                <div id="newDoc" class="row">{% include 'importDocForm.html.twig' %}</div>

                {# historique du jour #}
                {% if page.patient.today %}{% include 'patientHistoriqueToday.html.twig' %}{% endif %}

                {# Div d'insertion de nouveau reglement #}
                <div id="newReglement" class="row"></div>

                {# Div d'insertion de nouveau courrier #}
                <div id="newCourrier" class="row"></div>

                {# Div d'insertion de nouvelle ordonance #}
                <div id="newOrdo" class="row"></div>

                {# Div d'insertion de nouvelle consultation #}
                <div id="nouvelleCs" class="row checkboxFixValue"></div>

                {# Div d'insertion de nouveau mail  #}
                <div id="newMail" class="row"></div>

              {# Synthèse patient #}
              {% include 'patientSynthese.html.twig' %}

              {# Historique complet #}
              {% if page.patient.historique %}{% include 'patientHistoriqueMedical.html.twig' %}{% endif %}
            </div>
          </div>

    </div>

    {# modal courbes de poids/taille/IMC #}
    {% include 'inc-patientModal-GraphsIMC.html.twig' %}

    {# modal changer nom consultation ou doc #}
    {% include 'inc-patientModal-changerTitre.html.twig' %}

    {# modal rapatrier mesures examen particulier #}
    {% include 'inc-patientModal-getSpecificDicomData.html.twig' %}

    {# modal éditer infos adminsitratives du patient #}
    {% include 'inc-patientModal-editAdminData.html.twig' %}

    {# recherche CIM10 #}
    {% include 'inc-patientModal-searchCIM10.html.twig' %}

    {# modal changer la date d'une ligne d'historique #}
    {% include 'inc-patientModal-changerDateEffet.html.twig' %}

{% endblock %}
