{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : dossier patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ page.patient.administrativeDatas.firstname.value|e }}
    {{ (page.patient.administrativeDatas.lastname.value|default(page.patient.administrativeDatas.birthname.value))|e }}
    : dossier patient - MedShakeEHR
{% endblock %}

{% block head %}
    <script>
      {# provoquer envoie asynchrone du patient dans le DICOM si config ok #}
      var dicomAutoSendPatient2Echo = {{ config.dicomAutoSendPatient2Echo }};
    </script>

    {{ parent() }}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/tinymce/tinymce/tinymce.min.js"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/tinymce/tinymce/jquery.tinymce.min.js"></script>

    {# JS général du dossier patient #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/patient.js"></script>

    {# JS commun au formulaire de consultation du module #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/commonBase.js"></script>

    {# JS spécifiques des formulaires présents à l'affichage initial de la page #}
    {% for i in page.listeForms %}
      <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/formsScripts/{{ i }}.js"></script>
    {% endfor %}

    <style>

       @media screen and (orientation:portrait) {
         #landscape{display: none;}
        }
       @media screen and (orientation:landscape) {
         #portrait{display: none;}
        }

        #newDoc{
          display: none;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="portrait" class="container" style="padding-top: 40px;">
      <div class="jumbotron col-md-12" role="alert"><p>Placez votre écran en mode paysage!</p></div>
    </div>

    <div id="landscape">
     <div class="container-fluid">
        {% if page.patient.dossierType =="deleted" %}
        <div class="row alert alert-danger" role="alert">Ce dossier est marqué comme supprimé !</div>
        {% endif %}
        <div id="identitePatient" data-genre="{{ page.patient.administrativeDatas.administrativeGenderCode.value }}" data-patientID="{{ page.patient.id }}">

            {% include('inc-ajax-patientAdminData.html.twig') %}

        </div>

        <div class="row">

            {% if page.formOrdo|length > 1 %}
              <div class="btn-group m-1">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ordonnances
                </button>
                <ul class="dropdown-menu">
                  {% for v in page.formOrdo %}
                    <li>
                        <a class="dropdown-item addNewOrdo" title="{{ v.description }}" data-porteur="{{ v.id }}" data-module="{{ v.module }}" data-ordoForm="{{ v.formValues }}" href="#">{{ v.label }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              <a class="addNewOrdo btn btn-primary" type="button" title="{{ page.formOrdo[0]['description'] }}" data-porteur="{{ page.formOrdo[0]['id'] }}" data-module="{{ page.formOrdo[0]['module'] }}" data-ordoForm="{{ page.formOrdo[0]['formValues'] }}" href="#">{{ page.formOrdo[0]['label'] }}</a>
            {% endif %}

            <div class="btn-group m-1">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courriers &amp; Certificats
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Certificats</li>
                    {% for v in page.modelesCertif %}
                        <li>
                            <a class="dropdown-item newCourrier" data-modeleID="{{ v.id }}" href="#">{{ v.label }}</a>
                        </li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Courriers</li>
                    {% for v in page.modelesCourrier %}
                        <li>
                            <a class="dropdown-item newCourrier" data-modeleID="{{ v.id }}" href="#">{{ v.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="btn-group m-1">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Document
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" id="linkAddNewDoc" href="#">Ajouter un document au dossier</a>
                    </li>
                    {% if config.dicomHost=='' %}
                      <li>
                          <a class="dropdown-item prepareReceptionDoc" href="#">Ajouter des documents au dossier via phonecapture</a>
                      </li>
                    {% endif %}
                </ul>
            </div>

            {% if page.formReglement|length > 1 %}
              <div class="btn-group m-1">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled="disabled"{% endif %}>
                    Règlements
                </button>
                <ul class="dropdown-menu">
                  {% for v in page.formReglement %}
                    <li>
                      <a class="dropdown-item addNewReglement" title="{{ v.description }}" data-porteur="{{ v.id }}" data-module="{{ v.module }}" data-reglementForm="{{ v.formValues }}" href="#">{{ v.label }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              <a class="addNewReglement btn btn-primary" type="button" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled{% endif %} title="{{ page.formReglement[0]['description'] }}" data-porteur="{{ page.formReglement[0]['id'] }}" data-module="{{ page.formReglement[0]['module'] }}" data-reglementForm="{{ page.formReglement[0]['formValues'] }}" href="#">{{ page.formReglement[0]['label'] }}</a>
            {% endif %}

            {% if config.dicomHost!='' %}
              <div class="btn-group m-1">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      DICOM
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="catchLastDicomSrData dropdown-item">Récupérer dernières mesures</a>
                    </li>
                    <li>
                        <a href="#" class="catchOthersDicomSrData dropdown-item">Récupérer mesures antérieures</a>
                    </li>
                    <div role="separator" class="dropdown-divider"></div>
                    <li>
                        <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/dicom/{{ page.patient.id }}/" target="_blank">Voir tous les examens du patient</a>
                    </li>
                    <div role="separator" class="dropdown-divider"></div>
                    <li>
                        <a href="#" class="dropdown-item prepareEcho">Envoyer patient à échographe</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item prepareReceptionDoc dicom">Envoyer patient à phonecapture</a>
                    </li>
                  </ul>
              </div>
            {% endif %}

        </div>

        <div class="row" style="margin-top : 40px;">
            <div  class="col-md-3">
              {# Formulaire dlatéral des ATCD #}
              <div id="latForm" class=" changeObserv">
                  {{ f.formbuilder(page.formData_baseATCD , page.formName_baseATCD , valFormLat ) }}
              </div>
              {# Liens familiaux #}
              {% if page.liensFamiliaux %}
              <div class="col-md-12 p-0">
                <div class="card mb-3">
                  <div class="card-header py-0 gras">Liens familiaux <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/relations/{{ page.patient.id }}/">
                    <button class="btn btn-default btn-sm float-right m-1" role="button" title="Édition des relations"><span class="fa fa-link" aria-hidden="true"></span></button></a>
                  </div>

                  <table class="table table-sm mb-0 table-striped table-condensed table-hover small mb-0">
                    <thead>
                      <tr>
                        <th></th>
                        <th>patient</th>
                        <th>ddn</th>
                        <th>relation</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for v in page.liensFamiliaux %}
                        <tr>
                          <td>
                            <a target="_blank" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ v.patientID }}/">
                              <button class="btn btn-default btn-sm" role="button"><span class="fa fa-folder-open" aria-hidden="true"></span></button>
                            </a>
                          </td>
                          <td class="gras">{{ v.nom }} {{v.prenom }}</td>
                          <td>{{ v.ddn }}</td>
                          <td>{{ v.typeRelation }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>

                  </table>
                </div>
              </div>
              {% endif %}
            </div>

            {# colonne principale #}
            <div class="col-md-9" style="padding-left : 35px">

              {# Div d'import de nouveau doc #}
              <div id="newDoc" class="row toclear">{% include 'importDocForm.html.twig' %}</div>

              {# historique du jour #}
              <div id="historiqueToday" class="row">
                {% include 'patientHistoriqueToday.html.twig' %}
              </div>

              {# Div d'insertion de nouveau reglement #}
              <div id="newReglement" class="row toclear"></div>

              {# Div d'insertion de nouveau courrier #}
              <div id="newCourrier" class="row toclear"></div>

              {# Div d'insertion de nouvelle ordonance #}
              <div id="newOrdo" class="row toclear"></div>

              {# Div d'insertion de nouvelle consultation #}
              <div id="nouvelleCs" class="row toclear checkboxFixValue"></div>

              {# Div d'insertion de nouveau mail  #}
              <div id="newMail" class="row toclear"></div>

              {# Synthèse patient #}
              {% include 'patientSynthese.html.twig' %}

              {# Historique complet #}
              <div id="historique" class="row">
                {% include 'patientHistoriqueMedical.html.twig' %}
              </div>
            </div>
          </div>

      </div>
    </div>

    {# modal courbes de poids/taille/IMC #}
    {% include 'inc-patientModal-GraphsIMC.html.twig' %}

    {# modal changer nom consultation ou doc #}
    {% include 'inc-patientModal-changerTitre.html.twig' %}

    {# modal rapatrier mesures examen particulier #}
    {% include 'inc-patientModal-getSpecificDicomData.html.twig' %}

    {# modal éditer infos adminsitratives du patient #}
    {% include 'inc-patientModal-editAdminData.html.twig' %}

    {# modal changer la date d'une ligne d'historique #}
    {% include 'inc-patientModal-changerDateEffet.html.twig' %}

    {# modal phonecapture #}
    {% include 'inc-patientModal-phonecapture.html.twig' %}

{% endblock %}
