{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient > historique : ligne pour un règlement
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

 <tr class="tr{{ cs.id }} trLigneExamen" data-objetID="{{ cs.id }}" data-alternatTitre="{{ cs.titre|e('html_attr') }}" data-registerDate="{{ cs.registerDate }}" data-creationDate="{{ cs.creationDate }}" data-groupe="{{ cs.groupe|e('html_attr') }}">
       <td>
         {{ cs.creationTime }}
         {% if cs.creationDate != cs.registerDate %}&nbsp;<button type="button" class="btn btn-default btn-xs changeCreationDate" title="Création réelle le {{ cs.registerDate|date("d/m/Y H:i:s") }}">
           <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
         </button>{% endif %}
       </td>
       <td>
        {# edit #}
        <a class="btn btn-default btn-xs editReglement" href="#" role="button">
            {% if cs.iconeType == 'update' %}
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editer"></span>
            {% else %}
                <span class="glyphicon glyphicon-share" aria-hidden="true" title="Dupliquer"></span>
                {% endif %}
            </a>

        </td>
        <td>
            <span class="icoImportant{{ cs.id }}">
                {% if cs.important == 'y' %}
                    <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                {% endif %}
            </span>
            {{ cs.label }}
            <span class="alternatTitre{{ cs.id }}">
                {% if cs.titre %}
                    :
                    {{ cs.titre|e }}{% endif %}
            </span>

        </td>
        <td>{{ cs.prenom|e }} {{ cs.nom|e }}</td>
        <td>

            {# option #}
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#" class="toogleImportant" data-objetID="{{ cs.id }}" data-importanceActu="{{ cs.important }}">
                            {% if cs.important == 'n' %}Rendre important{% else %}N'est plus important{% endif %}
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#alternatTitreModal">Compléter titre</a>
                    </li>
                    <li>
                        <a href="#" class="changeCreationDate">Modifier la date</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="disabled">
                        <a href="#">#{{ cs.id }}</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#" class="suppCs" data-objetID="{{ cs.id }}">Supprimer</a>
                    </li>
                </ul>
            </div>

        </td>
    </tr>
