{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > lap : tableau de résultat de recherche de médicaments pour lap Outils
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

<div class="col-md-12">

  {% if page.medicListeSpe | length > 0 %}
    <table id="tabMedicaments" class="table table-hover table-sm tablesorter">
      <thead class="thead-light">
        <tr>
          <th></th>
          <th class="col-6" data-sort="alphanum" {% if config.lapSearchResultsSortBy == 'nom' %}data-sort-default="asc" data-sort-onload="yes"{% endif %}>Nom</th>
          <th class="col-2">Substances actives</th>
          <th class="col-2">Codes</th>
          <th data-sort="string">Forme</th>
          <th data-sort="float" {% if config.lapSearchResultsSortBy == 'prixUcd' %}data-sort-default="asc" data-sort-onload="yes"{% endif %}>Prix/UCD</th>
          <th data-sort="int">Taux&nbsp;SS</th>
        </tr>
      </thead>
      <tbody>
        {% for medic in page.medicListeSpe %}
          {% for pres in medic.presentations %}

              <tr data-speThe="{{ medic.sp_code_sq_pk }}" data-presThe="{{ pres.pre_code_pk }}" data_prixucd="{{ medic.prixEstim }}" data-tauxrbt="{{ pres.rbtVille }}">
                <td>
                  <a class="btn btn-light" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/lap/monographie/{{ medic.sp_code_sq_pk }}/" target="_blank">
                    <span class="fas fa-book" aria-hidden="true"></span>
                  </a>
                </td>
                <td>
                  {{ medic.sp_nom|trim('§') }}
                  {% if medic.statutDelivrance.rh == 'OUI' or medic.statutDelivrance.ph == 'OUI' or  medic.statutDelivrance.puh == 'OUI' or medic.statutDelivrance.sp == 'OUI' or medic.statutDelivrance.ps == 'OUI' or medic.statutDelivrance.prep_h == 'OUI' or medic.statutDelivrance.atu == 'OUI' %}
                    <span class="badge badge-warning" title="Ce médicament est à prescription / délivrance restreinte, consultez la monographie pour les détails"><span class="fas fa-exclamation-triangle"></span></span>
                  {% endif %}
                  {% if pres.reservhop != 'NON' %}
                    <span class="badge badge-primary" title="Ce médicament est à prescription hospitalière, consultez la monographie pour les détails">H</span>
                  {% endif %}
                  {% if pres.pre_adm %}
                    <br><span>{{ pres.pre_adm }}</span>
                  {% endif %}
                </td>

                <td class="small">
                  <ul class="list-unstyled">
                    {% for code,suba in page.suba[medic.sp_code_sq_pk] %}
                      <li>{{ suba }} ({{ code }})</li>
                    {% endfor %}
                  </ul>
                </td>

                <td class="small">
                  <ul class="list-unstyled">
                    <li>Code spécialité : {{ medic.sp_code_sq_pk }}</li>
                    <li>Code présentation : {{ pres.pre_code_pk }}</li>
                    <li>Code ATC : {{ pres.pre_catc_code_fk }}</li>
                  </ul>
                </td>

                <td>
                  {% if pres.pre_nat %}
                    <span class="badge badge-secondary">{{ pres.pre_nat }}</span>{% endif %}
                </td>
                <td data-sort-value="{{ medic.prixEstim|number_format(5, '.', '') }}">
                  {% if medic.prixEstim %}
                    <span class="badge badge-secondary" title="{{ medic.prixEstim }}€">{{ medic.prixEstim|number_format(2, ',', ' ') }}€</span>
                  {% endif %}
                </td>
                <td>
                  {% if pres.rbtVille not in ['0 %'] %}
                    <span class="badge badge-secondary">{{ pres.rbtVille }}</span>{% endif %}
                </td>
              </tr>

          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-warning" role="alert">Votre recherche n'a produit aucun résultat</div>
  {% endif %}
</div>
