{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > lap : prescriptions pré enregistrées
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

<div id="accordion" role="tablist" aria-multiselectable="true">
  {% for id, cat in page.cat %}
    <div class="card mb-1">
      <div class="card-body p-2" id="heading{{ id }}" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ id }}" style="cursor: pointer">
        <span class="card-title">{{ cat.label }}
        <span class="badge float-right">{{ cat.enfants }}</span><br>
        <small class="card-subtitle mb-2 text-muted">{{ cat.description }}</small>
      </div>
      <div class="collapse" id="collapse{{ id }}">
        <ul class="list-group list-group-flush small  border-top">
          {% for k, pres in page['pres'][id] %}
            <li class="list-group-item">{{ pres.label }}</li>
          {% endfor %}

          <li class="list-group-item">
            <button class="btn btn-light btn-sm" title="Éditer cette catégorie">
              <span class="fa fa-pencil-alt" aria-hidden="true"></span></button>
            {% if cat.enfants == 0 %}
              <button class="btn btn-light btn-sm" title="Supprimer cette catégorie">
                <span class="fa fa-times" aria-hidden="true"></span></button>
            {% endif %}
          </li>
        </ul>
      </div>

      </div>
    {% endfor %}
  </div>
