{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > lap : tableau de résultat de recherche CIM 10
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

<div class="col-md-12">
  <table class="table table-sm table-hover">
    {% for codepere, codesfils in page.cim10code %}
      {% if codepere == 'ZZ' %}
        <tr>
          <td colspan="3">Autres</td>
        </tr>
      {% endif %}
      {% for code, label in codesfils %}
        {% if code | length == 3 %}
          <tr class="table-info">
            <td>{{ code }}</td>
            <td>{{ label }}</td>
            <td>
              <button type="button" data-code="{{ code }}" data-label="{{ label }}" class="btn btn-light btn-sm catchCIM10">
                <span class="fas fa-arrow-circle-down" aria-hidden="true"></span></button>
            </td>
          </tr>
        {% elseif code|length == 4 %}
          <tr>
            <td>&nbsp;&nbsp;&nbsp;-&nbsp;{{ code }}</td>
            <td>{{ label }}</td>
            <td>
              <button type="button" data-code="{{ code }}" data-label="{{ label }}" class="btn btn-light btn-sm catchCIM10">
                <span class="fas fa-arrow-circle-down" aria-hidden="true"></span></button>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </table>
</div>
