{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > page web racine
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

{% set noMenuInBar = 'yes' %}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}LAP - MedShakeEHR
{% endblock %}

{% block head %}
  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/bower_components/mathjs/dist/math.min.js"></script>
  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/bower_components/jquery-stupid-table/stupidtable.min.js"></script>

  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/lap.js"></script>
  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/lapPrescription.js"></script>

{% endblock %}

{% block body %}

  <h1 id="identitePatient" data-patientid="{{ page.patient.id }}" style="margin-bottom : 14px;">
    {# firstname #}
    {{ page.patientAdminData.firstname|e }}

    {# lastname & birthname #}
    {% if page.patientAdminData.birthname and page.patientAdminData.lastname %}
      {{ page.patientAdminData.lastname|e }}
      (né{% if page.patientAdminData['14'] == 'F' %}e{% endif %}
      {{ page.patientAdminData.birthname|e }})
      {# birthname only #}
    {% elseif page.patientAdminData.birthname %}
      {{ page.patientAdminData.birthname|e }}
      {# lastname only #}
    {% elseif page.patientAdminData.lastname %}
      {{ page.patientAdminData.lastname|e }}
    {% endif %}
    <small>
      {{ page.patientAdminData.birthdate|e }}
      -
      {# birthdate #}
      {{ page.patientAdminData.age|e }}
      an{% if page.patientAdminData.age > 0 %}s{% endif %}

      {# sexe #}
      {% if page.patientAdminData.administrativeGenderCode == 'F' %}
        - &#9792;
      {% elseif page.patientAdminData.administrativeGenderCode =='M' %}
        - &#9794;
      {% endif %}
    </small>
  </h1>

  <div class="row">
    {# Colonne de gauche : données physio #}
    <div id="patientLateralData" class="col-md-2">
      {% include('inc-lapPatientLateralData.html.twig') %}
    </div>

    {# Colonne de droite #}
    <div class="col-md-10">

      {# Onglets #}
      <ul class="nav nav-tabs gras" role="tablist">
        <li class="active" role="presentation">
          <a href="#ordonnanceTab" aria-controls="profile" role="tab" data-toggle="tab">Ordonnance</a>
        </li>
        <li role="presentation">
          <a href="#tttencoursTab" aria-controls="messages" role="tab" data-toggle="tab">Traitement en cours</a>
        </li>
      </ul>

      <div class="tab-content" style="padding-top :15px; padding-bottom: 15px;">
        {# Onglet Ordonnance #}
        <div role="tabpanel" class="tab-pane active" id="ordonnanceTab">
          <div class="row bottom-space">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary nouvellePrescription"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouvelle prescription</button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimer</button>
            </div>
            <div class="col-md-6 text-right">
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#" class="removeAllLignesPrescription"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer tout</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" class="ordoLiveRestore"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Récupération d'urgence</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="row">
            <div id="conteneurOrdonnance" class="col-md-12">
              <div class="alert alert-danger gras" role="alert">Prescriptions ALD</div>
              <div id="conteneurPrescriptionsALD" style="min-height:15px;" class="connectedOrdoZones ald"></div>
              <div class="alert alert-success gras" role="alert">Prescriptions standards</div>
              <div id="conteneurPrescriptionsG" style="min-height:15px;" class="connectedOrdoZones"></div>
            </div>
          </div>
        </div>

        {# Onglet Traitement en cours #}
        <div role="tabpanel" class="tab-pane" id="tttencoursTab">
          <div class="row bottom-space">
            <div class="col-md-12">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalRecherche">Saisir traitement</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  {# modal recherche de médicament #}
  {% include 'inc-lapModalRechercher.html.twig' %}

  {# modal ajout de médicament #}
  {# include 'inc-lapModalAddMedic.html.twig' #}

{% endblock %}
