{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2020
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Public : procédure lost password, mise en place du nouveau
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : nouveau mot de passe{% endblock %}

{% block body %}

<div class="mt-4 d-flex flex-column align-items-center justify-content-center" style="height: calc(100vh - 200px); min-height: 250px">
  <div class="mb-3"><i class="fas fa-lock fa-10x text-warning"></i></div>

  <div id="newPassTreatConfirmation" class="d-none text-center">
    <p><strong>La procédure est terminée !</strong></p>
    <p><a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/" class="btn btn-outline-primary mt-3" >S'identifier</a></p>
  </div>

  <div id="newPassAskForm" class="text-center">
    <p class="font-weight-bold">Complétez le formulaire pour définir un nouveau mot de passe</p>

    {# validation error display bloc #}
    <div class="text-left">
      {{ f.errorsBloc() }}
    </div>

    {{ f.formbuilder(page.baseUserPasswordRecovery , 'baseUserPasswordRecovery' , session) }}
    <button id="treatNewPass" class="btn btn-primary btn-sm">Définir le nouveau mot de passe</button>
    <script>{{ page.baseUserPasswordRecoveryJS }}</script>
  </div>
</div>

{% endblock %}
