{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2023
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > écran formulaire pour configuration pour install.php
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}


{% extends "install-base-page.html.twig" %}

{% block body %}
	<h2>Configuration rapide</h2>
	<p>Nous allons créer le fichier de configuration nécessaire au démarrage.</p>
	<form action="{{ page.request_uri }}" class="mb-4" method="post">
		<input name="configForm" type="hidden"/>
		<div class="row">
			<div class="col-md-4">
				<h3>Paramètres généraux</h3>
				<div class="form-group">
					<label class="control-label">Chemin du dossier de stockage</label>
					<input name="stockageLocation" type="text" class="form-control" autocomplete="off" required="required" value="{{ page.homepath }}stockage/"/>
				</div>
				<div class="form-group">
					<label class="control-label">Chemin du dossier de sauvegarde</label>
					<input name="backupLocation" type="text" class="form-control" autocomplete="off" required="required" value="{{ page.homepath }}backups/"/>
				</div>
				<div class="form-group">
					<label class="control-label">Empreinte de sécurité pour les sessions (chaîne aléatoire)</label>
					<input name="fingerprint" type="text" class="form-control" autocomplete="off" required="required" value="{{ page.fingerprintRandom }}"/>
				</div>
				<h3>Paramètres de la base de données</h3>
				<div class="form-group">
					<label class="control-label">Serveur SQL</label>
					<input name="sqlServeur" type="text" class="form-control" autocomplete="off" required="required" value="localhost"/>
				</div>
				<div class="alert alert-dark" role="alert">
					<div class="form-check">
						<input name="sqlNotCreatDb" type="checkbox" class="form-check-input"/>
						<label class="form-check-label">Ne pas créer la base de donnée</br>(seulement si vous avez déjà créé la base de données et l'utilisateur pour MedShakeEHR)</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Nom utilisateur root MySQL (ne sera pas enregistré)</label>
				<input name="sqlRootId" type="text" class="form-control" autocomplete="off" required="required" value="root"/>
			</div>
			<div class="form-group">
				<label class="control-label">Mot de passe utilisateur root MySQL (ne sera pas enregistré)</label>
				<input name="sqlRootPwd" type="password" class="form-control" autocomplete="off" required="required" value=""/>
			</div>
			<div class="form-group">
				<label class="control-label">Nom de la base à utiliser</label>
				<input name="sqlBase" type="text" pattern="[a-zA-Z0-9_]{1,64}" class="form-control" autocomplete="off" required="required" value="medshakeehr"/>
				<small class="form-text text-muted">Caractères alphanumériques et underscore uniquement</small>
			</div>
			<div class="row">
				<div class="col form-group">
					<label class="control-label">Nom d'utilisateur de la base à utiliser</label>
					<input name="sqlUser" type="text" class="form-control" autocomplete="off" required="required" value=""/>
				</div>
				<div class="col form-group">
					<label class="control-label">Hote(s) de l'utilisateur</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">@</div>
						</div>
						<input name="sqlUserHost" type="text" class="form-control" autocomplete="off" required="required" value=""/>
					</div>
					<small class="form-text text-muted">localhost, %, IP ...</small>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Mot de passe de l'utilisateur à utiliser</label>
				<input name="sqlPass" type="text" class="form-control" autocomplete="off" required="required" value=""/>
			</div>
			<div class="form-group">
				<label class="control-label">Empreinte de sécurité pour les mots de passe de la base (chaîne aléatoire)</label>
				<input name="sqlVarPassword" type="text" class="form-control" autocomplete="off" required="required" value="{{ page.sqlVarPasswordRandom }}"/>
			</div>
			<input type="submit" title="Valider" value="Valider" class="btn btn-primary"/>
		</div>
	</form>
{% endblock %}
