{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : vérification des répertoires de stockage
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}
{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : configuration{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#journaux">Journaux et informations techniques</a>
      </li>
	    <li class="breadcrumb-item active">
			    Informations système
	    </li>
    </ol>
    <h1>Informations système</h1>

    <div class="row">
      <div class="col-12 col-xl-6">

        <h2>Binaires</h2>

        <table class="table table-sm table-hover">
          <thead class="thead-light">
            <tr>
                <th>
                    Binaire
                </th>
                <th class="w-15">
                    Est présent
                </th>
            </tr>
          </thead>
          <tbody>
          {% for bin, val in page.commands %}
            <tr>
                <td>{{ bin }}</td>
                <td class="{% if val %}bg-success{% else %}bg-danger{% endif %}">&nbsp;</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        {% if page.apicrypt2present and config.apicryptVersion == '2' %}
          <h2 class="d-flex justify-content-between mt-4">
            <span>Apicrypt 2</span>
            <small>
              <a class="btn btn-sm btn-outline-secondary" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/actions/configRestartApicrypt2/"><i class="fas fa-sync"></i> Relancer</a>
            </small>
          </h2>

          <table class="table table-sm table-hover">
            <tbody>
              <tr>
                  <td>Réponse du service au ping</td>
                  <td class="w-15 {% if page.apicrypt2ping %}bg-success{% else %}bg-danger{% endif %}">&nbsp;</td>
              </tr>
            </tbody>
          </table>

        {% endif %}


      </div>
      <div class="col-12 col-xl-6">

        <h2 class="d-flex justify-content-between">
          <span>PHP</span>
          <small>
            <a class="btn btn-sm btn-outline-secondary" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/phpinfo/" target="_blank">
              <i class="fas fa-external-link-alt"></i> phpinfo()
            </a>
          </small>
        </h2>

        <table class="table table-sm table-hover mb-3">
          <thead class="thead-light">
            <tr>
                <th>
                    Variable
                </th>
                <th class="text-right w-15">
                    Valeur
                </th>
            </tr>
          </thead>
          <tbody>
          {% for var, val in page.varPHP %}
            <tr>
                <td>{{ var }}</td>
                <td class="text-right {% if val.valBrute < page.recoVarPHP[var] %}bg-warning{% endif %}">
                  {{ val.val }}
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>


        <table class="table table-sm table-hover">
          <thead class="thead-light">
            <tr>
                <th>
                    Module
                </th>
                <th class="w-15">
                    Est présent
                </th>
            </tr>
          </thead>
          <tbody>
          {% for mod, val in page.modulesPHP %}
            <tr>
                <td>{{ mod }}</td>
                <td class="{% if val %}bg-success{% else %}bg-danger{% endif %}">&nbsp;</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>

    <h2>Accessibilité en écriture des répertoires généraux</h2>

    <p>Les répertoires testés sont ceux de la configuration générale.</p>

    <div class="row">

        <div class="col-md-12">

            <table class="table table-sm table-hover">
              <thead class="thead-light">
                <tr>
                    <th>
                        Répertoire
                    </th>
                    <th>
                        Chemin
                    </th>
                    <th class="w-15">
                        Existe
                    </th>
                    <th class="w-15">
                        Est accessible en écriture
                    </th>
                </tr>
              </thead>
              <tbody>
                {% for k, v in page.check %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ config[k] }}
                        </td>
                        <td class="{% if v.is_dir == 1 %}bg-success{% else %}bg-danger{% endif %}">&nbsp;</td>
                        <td class="{% if v.is_writable == 1 %}bg-success{% else %}bg-danger{% endif %}">&nbsp;</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

    <h2>Packages tiers</h2>

    <h3>Back-end</h3>

    <table class="table table-sm table-hover table-striped">
      <thead class="thead-light">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Version
            </th>
            <th>
                Homepage
            </th>
        </tr>
      </thead>
      <tbody>
        {% for k, v in page.composerBack.packages %}
            <tr>
                <td class="w-25">{{ v.name }}</td>
                <td>{{ v.version }}
                </td>
                <td class="small w-50">
                  {% if v.homepage %}{% set lien = v.homepage %}{% else %}{% set lien = v.source.url %}{% endif %}
                  <a href="{{ lien }}">{{ lien}}</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>Front-end</h3>

    <table class="table table-sm table-hover table-striped">
      <thead class="thead-light">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Version
            </th>
            <th>
                Homepage
            </th>
        </tr>
      </thead>
      <tbody>
        {% for k, v in page.composerFront.packages %}
            <tr>
                <td class="w-25">{{ v.name }}</td>
                <td>{{ v.version }}
                </td>
                <td class="small w-50">
                  {% if v.homepage %}{% set lien = v.homepage %}{% else %}{% set lien = v.source.url %}{% endif %}
                  <a href="{{ lien }}">{{ lien}}</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
