{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : liste des formulaires
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : configuration{% endblock %}

{% block jsFiles %}
{{ parent() }}
<script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js?{{ modules.base }}"></script>
{% endblock %}

{% block jsEmbed %}
{{ parent() }}
$(document).ready(function() {
  $("tr.btn-edit").on("click", function() {
    window.location.href = $(this).find("a.btn-edit").attr('href');
  });
});
{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
  </li>
  <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#ca">Paramètres avancés</a>
  </li>
	<li class="breadcrumb-item active">
			  <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/forms/">Formulaires</a>
	</li>
  {% if page.groupe is not empty %}
  <li class="breadcrumb-item active">
		  {{ page.tabTypes[page.groupe]['0']['catLabel'] }}
	</li>
  {% endif %}
</ol>

<h1>Liste des formulaires
  {% if page.groupe is not empty %}<small> - {{ page.tabTypes[page.groupe]['0']['catLabel'] }}</small>{% endif %}
</h1>

<div>

	{# Nav tabs #}
	<ul class="nav nav-tabs mt-3" role="tablist">
		<li role="presentation" class="nav-item"><a class="nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/forms/cat/" aria-controls="categories" role="tab">Catégories</a></li>
		<li role="presentation" class="nav-item"><a class="nav-link active" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/forms/" aria-controls="types" role="tab">Formulaires</a></li>
	</ul>

  {# Tab panes #}
	<div class="tab-content">

		{# type tab #}
		<div role="tabpanel" class="tab-pane active" id="types">

      <div class="row mt-3">
        <div class="col text-right">
          <button type="button" class="btn btn-primary reset-modal" data-toggle="modal" data-target="#modalNewType">
            <i class="fas fa-plus"></i> Nouveau formulaire
          </button>
        </div>
      </div>

			{% for k,v in page.tabTypes %}
        {% if page.groupe == '' or page.groupe == v.0.catName %}
				  <h2 id="cat{{ v.0.catName }}">{{ v.0.catLabel }} <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/forms/{{ v.0.catName }}/">
            <span class="fas fa-search-plus" aria-hidden="true"></span>
          </a></h2>
				  <table class="table table-sm table-hover mb-3">
				  <thead class="thead-light">
				  <tr>
					  <th>#</th>
            <th>Module</th>
            <th>Nom interne</th>
					  <th>Label</th>
					  <th>Description</th>
					  <th></th>
				  </tr>
				  </thead>
				  <tbody>
				  {% for w in v %}
					  <tr class="btn-edit" style="cursor: pointer;">
					  <td>{{ w.id }}</td>
            <td>{{ w.module }}</td>
            <td>{{ w.internalName }}</td>
            <td>{{ w.name }}</td>
            <td>{{ w.description }}</td>
            <td class="text-right">
              <div class="btn-group">
                <a class="btn btn-light btn-sm btn-edit" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/forms/edit/{{ w.id }}/">
                  <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                </a>
              </div>
					  </td>
					  </tr>
				  {% endfor %}
				  </tbody></table>
        {%endif %}
			{% endfor %}

		</div>

	</div>

</div>
{% endblock %}

{% block modals %}
{# modal new type #}
<div class="modal fade" id="modalNewType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold" id="myModalLabel">Création formulaire</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

	  		{{ f.errorsBloc() }}

			<form id="formModalNewType" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/ajax/configFormCreate/">

				<div class="form-group">
				{{ f.input ({
					'input' : {
						'type' : 'text',
						'name' : 'internalName',
						'placeholder' : 'nom à usage interne, pas d\'espace, pas d\'accent, pas de caractères spéciaux',
						'class' : 'form-control',
						'autocomplete' : 'off'
					},
					'label' : {
						'position' : 'before',
						'label' : 'Nom à usage interne (non modifiable)',
					}
				}) }}
				</div>

				<div class="form-group">
				{{ f.input ({
					'input' : {
						'type' : 'text',
						'name' : 'name',
						'placeholder' : 'nom',
						'class' : 'form-control',
						'autocomplete' : 'off'
					},
					'label' : {
						'position' : 'before',
						'label' : 'Nom',
					}
				}) }}
				</div>


				<div class="form-group">
				{{ f.input ({
					'input' : {
						'type' : 'text',
						'name' : 'description',
						'placeholder' : 'description',
						'class' : 'form-control',
						'autocomplete' : 'off'
					},
					'label' : {
						'position' : 'before',
						'label' : 'Description',
					}
				}) }}
				</div>

        <div class="form-group">
        {{ f.select ({
          'select' : {
            'name' : 'module',
            'class' : 'form-control',
            'autocomplete' : 'off',
            'values' : page.modules,
            'valueDefaut': 'base'
          },
          'label' : {
            'position' : 'before',
            'label' : 'Module concerné',
          }
        }) }}
        </div>

				<div class="form-group">
				{{ f.select ({
					'select' : {
						'name' : 'cat',
						'class' : 'form-control',
						'autocomplete' : 'off',
						'values' : page.catList,
						'valueDefaut': ''
					},
					'label' : {
						'position' : 'before',
						'label' : 'Catégorie',
					}
				}) }}
				</div>


			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Abandonner</button>
        <button type="button" class="btn btn-primary modal-save" data-form="formModalNewType" data-modal="modalNewType">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
