{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : édition d'un formulaire
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR : configuration{% endblock %}

{% block head %}
{{ parent() }}
<script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
  </li>
  <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#ca">Paramètres avancés</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/forms/">Formulaires</a>
  </li>
  <li class="breadcrumb-item active">{{ page.form.name }}
  </li>
</ol>

<h1>Edition de formulaire : {{ page.form.name }}</h1>

<div class="row">
	<div class="col-md-5" style="padding-right : 40px">
	<h2>Références</h2>

	<h3>Types utilisables <a class="btn btn-sm btn-secondary" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/medical/"><i class="fas fa-pen"></i> Modifier</a></h3>

		<table class="table table-sm mb-0 table-hover">
		<tr>
			<th>#</th>
      <th>Tag</th>
			<th>Label</th>
			<th>Description</th>
		</tr>
		{% for k,v in page.tabTypes %}
		<tr>
			<th colspan="4">
				<button id="cat{{ v.0.cat }}" type="button" class="btn btn-light btn-sm typeToggleVisibility">
  				<span class="fa fa-search" aria-hidden="true"></span>
				</button> {{ v.0.catLabel }}
			</th>
		</tr>
		{% for w in v %}
			<tr class="cat{{ v.0.cat }} small" style="display : none;">
			<td>{{ w.id }}</td>
      <td>{{ w.name }}</td>
			<td>{{ w.label }}</td>
			<td>{{ w.description }}</td>
			</tr>
		{% endfor %}
		{% endfor %}
		</table>



	</div>



	<form id="formParamsEdit" class="col-md-7 ajaxForm"  method="post" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/ajax/configFormEdit/">
    <button type="submit" class="btn btn-primary float-right m-1" style="margin-top : 25px">Enregistrer</button>
	<h2>Édition <small>formulaire #{{ page.form.id }}</small></h2>

  <ul class="nav nav-tabs mb-3" id="navTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="generalites-tab" data-toggle="tab" href="#generalites-pan">Généralités</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="structure-tab" data-toggle="tab" href="#structure-pan">Structure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cda-tab" data-toggle="tab" href="#cda-pan">CDA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="javascript-tab" data-toggle="tab" href="#javascript-pan">JavaScript</a>
    </li>
  </ul>

  <div class="tab-content" id="navTabContent">
    <div class="tab-pane fade show active" id="generalites-pan" >
  		{{ f.input ({
  			'input' : {
  				'type' : 'hidden',
  				'name' : 'id',
  				'value' : page.form.id
  			},
  		}) }}

      <div class="form-group">
  		{{ f.input ({
  			'input' : {
  				'type' : 'text',
  				'name' : 'internalName',
  				'placeholder' : 'nom à usage interne, pas d\'espace, pas d\'accent',
  				'class' : 'form-control',
  				'autocomplete' : 'off',
  				'value' : page.form.internalName,
          'readonly' : 'readonly'
  			},
  			'label' : {
  				'position' : 'before',
  				'label' : 'Nom à usage interne',
  			}
  		}) }}
  		</div>

      <div class="form-group">
  		{{ f.select ({
  			'select' : {
  				'name' : 'module',
  				'class' : 'form-control',
  				'autocomplete' : 'off',
  				'values' : page.modules,
  				'valueDefaut': page.form.module
  			},
  			'label' : {
  				'position' : 'before',
  				'label' : 'Module concerné',
  			}
  		}) }}
  		</div>

  		<div class="form-group">
  		{{ f.input ({
  			'input' : {
  				'type' : 'text',
  				'name' : 'name',
  				'placeholder' : 'nom du formulaire',
  				'class' : 'form-control',
  				'autocomplete' : 'off',
  				'value' : page.form.name
  			},
  			'label' : {
  				'position' : 'before',
  				'label' : 'Nom du formulaire',
  			}
  		}) }}
  		</div>

  		<div class="form-group">
  		{{ f.input ({
  			'input' : {
  				'type' : 'text',
  				'name' : 'description',
  				'placeholder' : 'description du formulaire',
  				'class' : 'form-control',
  				'autocomplete' : 'off',
  				'value' : page.form.description
  			},
  			'label' : {
  				'position' : 'before',
  				'label' : 'Description du formulaire',
  			}
  		}) }}
  		</div>

  		<div class="form-group">
  		{{ f.select ({
  			'select' : {
  				'name' : 'cat',
  				'class' : 'form-control',
  				'autocomplete' : 'off',
  				'values' : page.tabCat,
  				'valueDefaut': page.form.cat
  			},
  			'label' : {
  				'position' : 'before',
  				'label' : 'Catégorie',
  			}
  		}) }}
  		</div>

  		<div class="form-group">
  		{{ f.input ({
  			'input' : {
  				'type' : 'text',
  				'name' : 'printModel',
  				'placeholder' : 'modèle pour l\'impression',
  				'class' : 'form-control',
  				'autocomplete' : 'off',
  				'value' : page.form.printModel
  			},
  			'label' : {
  				'position' : 'before',
  				'label' : 'Modèle pour l\'impression',
  			}
  		}) }}
  		</div>

  		<div class="form-group">
  		{{ f.input ({
  			'input' : {
  				'type' : 'text',
  				'name' : 'formAction',
  				'placeholder' : 'url de destination à la validation',
  				'class' : 'form-control',
  				'autocomplete' : 'off',
  				'value' : page.form.formAction
  			},
  			'label' : {
  				'position' : 'before',
  				'label' : 'URL de destination à la validation (action)',
  			}
  		}) }}
  		</div>

    </div>
    <div class="tab-pane fade" id="structure-pan">

  		<div class="form-group">
  		{{ f.textarea ({
  			'textarea' : {
  				'name' : 'yamlStructure',
  				'placeholder' : 'valeurs par défaut',
  				'class' : 'form-control',
  				'autocomplete' : 'off',
  				'value' : page.form.yamlStructure,
  				'add' : 'rows="20" style="font-family:monospace;"'
  			},
  			'label' : {
  				'position' : 'before',
  				'label' : 'Structure du formulaire (format yaml)'
  			}
  		}) }}
  		</div>
    </div>
    <div class="tab-pane fade" id="cda-pan">
      <div class="form-group">
  		{{ f.textarea ({
  			'textarea' : {
  				'name' : 'cda',
  				'placeholder' : 'Code au format YAML pour la génération du document au format XML CDA R2',
  				'class' : 'form-control',
  				'autocomplete' : 'off',
  				'value' : page.form.cda,
  				'add' : 'rows="20" style="font-family:monospace;"'
  			},
  			'label' : {
  				'position' : 'before',
  				'label' : 'Variables pour construction du CDA'
  			}
  		}) }}
  		</div>
    </div>

    <div class="tab-pane fade" id="javascript-pan">
      <div class="form-group">
      {{ f.textarea ({
        'textarea' : {
          'name' : 'javascript',
          'placeholder' : 'Le code entré ici n\'est interprété que pour les formulaires de consultation',
          'class' : 'form-control',
          'autocomplete' : 'off',
          'value' : page.form.javascript,
          'add' : 'rows="20" style="font-family:monospace;"'
        },
        'label' : {
          'position' : 'before',
          'label' : 'Javascript'
        }
      }) }}
      </div>
    </div>

		<button type="submit" class="btn btn-primary float-right m-1">Enregistrer</button>

		<p>
		{{ page.form.yaml }}
		</p>
    </div>
	</form>

</div>

{% endblock %}
