{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : credits
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : credits{% endblock %}

{% block head %}
  {{ parent() }}

{% endblock %}

{% block body %}

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#ap">A propos</a>
      </li>
      <li class="breadcrumb-item active">
        Crédits
      </li>
    </ol>

    <h1>Crédits</h1>

    <h2 class="my-2">Auteur</h2>
    <p>
        Bertrand Boutillier <b.boutillier@gmail.com><br>
        Medecin généraliste et informaticien <br>
        <a href="http://www.medshake.net">MedShake</a> &amp; <a href="http://www.logiciel-cabinet-medical.fr/">MedShakeEHR</a>
    </p>

    <h2 class="my-2">Contributeurs</h2>
    <p>MedShakeEHR n'aurait pas été ce qu'il est sans leurs contributions, grandes ou modestes. Merci à eux!</p>

      <table class="table table-sm mb-0 table-striped table-hover">
        <tr>
          <td>
            fr33z00
          </td>
          <td>
            Tombé dans l'informatique quand il était déjà... toujours pas grand, et depuis longtemps!
          </td>
          <td>
            <a href="https://github.com/fr33z00">https://github.com/fr33z00</a>
          </td>
        </tr>
      </table>


    <h2 class="my-2">Remerciements</h2>
    <p>MedShakeEHR utilise ou est basé sur (liste non exhaustive!) ces excelents logiciels, librairies, class, plugins... Merci à leurs auteurs respectifs!</p>

      <table class="table table-sm mb-0 table-striped table-hover">
        {% for k, v in page.thanks %}
          <tr>
            <td>
              {{ k }}
            </td>
            <td>
              {{ v.description }}
            </td>
            <td>
              <a href="{{ v.url }}">{{ v.url }}</a>
            </td>
          </tr>
        {% endfor %}
      </table>

{% endblock %}
