{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : liste des utilisateurs
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : configuration{% endblock %}

{% block head %}
  {{ parent() }}
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#cc">Paramètres courants</a>
    </li>
		<li  class="breadcrumb-item active">
				Utilisateurs et options
		</li>
  </ol>

  <h1>Liste des utilisateurs</h1>

  <div class="row mb-2">
    <div class="col text-right">
      <button class="btn btn-primary newUser" type="button" data-toggle="modal" data-target="#modalUserCreation">
        <i class="fas fa-plus"></i>
        Nouvel utilisateur</button>
    </div>
  </div>

  <table class="table table-sm mb-0 table-hover text-center table-striped">
    <thead class="thead-light">
      <tr>
        <th class="text-left">#</th>
        <th>Identifiant</th>
        <th>Identité</th>
        <th>Module</th>
        <th>Administrateur</th>
        {% if config.optionGeLoginPassAttribution == 'admin' %}<th>Mot de passe</th>{% endif %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for v in page.users %}
        <tr>
          <td class="text-left">
            <a class="btn btn-light btn-sm mr-2" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/{{ v.id }}/" title="Voir fiche pro" target="_blank">
              <i class="fas fa-user-md fa-fw" aria-hidden="true"></i>
            </a>
          #{{ v.id }}</td>
          <td>{{ v.name }}</td>
          <td>{{ v.prenom }} {{ v.nom }}</td>
          <td>
             <select class="custom-select custom-select-sm changeModule" data-userid="{{ v.id }}">
              {% for mv in page.modules %}
                <option value="{{ mv }}" {% if mv==v.module %}selected{% endif %}>{{ mv }}</option>
              {% endfor %}
            </select>
         </td>
          <td>
            <a {% if v.id != page.userid %} class="changeAdmin" data-userid="{{ v.id }}" href="javascript:void(0)" {% endif %}>
              <span class="far fa-{% if v.rank =='' %}square{% else %}check-square{% endif %}" aria-hidden="true" titre="Cliquez pour changer"></span>
            </a>
          </td>
          {% if config.optionGeLoginPassAttribution == 'admin' %}
          <td>
            {% if v.id != page.userid %}
              <div class="input-group my-0 input-group-sm">
                <input title="Nouveau mot de passe" autocomplete="off" data-userid="{{ v.id }}" value="" class="form-control" type="password"/>
                <div class="input-group-append changePassword" data-userid="{{ v.id }}" data-name="{{ v.name }}">
                  <span aria-hidden="true" title="Valider le nouveau mot de passe" class="far fa-arrow-alt-circle-down input-group-text"></span>
                </div>
              </div>
            {% endif %}
          </td>
          {% endif %}
          <td class="text-right">
            <div class="btn-group">
              <div class="dropdown">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
                  <i class="fas fa-wrench"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/user-param/{{ v.id }}/">
                    <i class="fas fa-cogs fa-fw text-muted mr-1"></i>
                    Paramètres spécifiques de configuration
                  </a>
                  {% if v.id != page.userid or config.optionGeLogin2FA == 'true' or config.optionGeLoginPassAttribution == 'random' %}
                    <div class="dropdown-divider"></div>
                  {% endif %}
                  {% if config.optionGeLoginPassAttribution == 'random' %}
                    <a class="dropdown-item changePassword" href="#" title="Envoyer un nouveau mot de passe aléatoire par mail" data-userid="{{ v.id }}" data-name="{{ v.name }}">
                      <i class="fas fa-paper-plane fa-fw text-muted mr-1"></i>
                      Envoyer un nouveau mot de passe par mail
                    </a>
                  {% endif %}
                  {% if v.id != page.userid %}
                    <a class="dropdown-item  revokeUser" href="#" title="Révoquer cet identifiant utilisateur (ne supprime pas les fiches pro/patient)" data-userid="{{ v.id }}" data-name="{{ v.name }}">
                      <i class="fas fa-user-minus fa-fw text-muted mr-1"></i>
                      Révoquer cet utilisateur
                    </a>
                  {% endif %}
                  {% if config.optionGeLogin2FA == 'true' %}
                    <a class="dropdown-item revoke2faKey" data-userid="{{ v.id }}" href="#">
                      <i class="fas fa-qrcode fa-fw text-muted mr-1"></i>
                      Révoquer la clef 2FA de cet utilisateur
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block modals %}
<div id="modalUserCreation" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold">Nouvel utilisateur</h4>
      </div>
      <div class="modal-body">
        {{ f.errorsBloc(false) }}
        {{ f.formbuilder(page.formModal , page.formIN , session) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary modal-save" data-form="formName_{{ page.formIN }}" data-modal="modalUserCreation">Valider</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
