{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : édition des paramètres agenda
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : configuration{% endblock %}

{% block head %}
  {{ parent() }}
  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#ca">Paramètres avancés</a>
    </li>
    <li class="breadcrumb-item active">
      Agendas
    </li>
  </ol>

  <h1>Gestion des agendas</h1>

  {# Nav tabs #}
  <ul class="nav nav-tabs mb-4" role="tablist">
    <li role="presentation" class="nav-item">
      <a class="nav-link{% if page.selectUser < 1 %} active{% endif %}" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/agenda/" aria-controls="categories" role="tab">Configuration générale</a>
    </li>
    {% for id, user in page.agendaUsers %}
      <li role="presentation" class="nav-item">
        <a class="nav-link{% if page.selectUser == id %} active{% endif %}" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/agenda/{{ id }}/" aria-controls="prescriptions" role="tab">Agenda :
          {{ user }}</a>
      </li>
    {% endfor %}

  </ul>

  {% if page.selectUser > 0 %}
    <div class="row">
      <div class="col-md-12">
        <h2>Gestion de la grille horaire</h2>
      </div>
    </div>
    <form class="ajaxForm" method="post" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/ajax/configAgendaSave/">

      {{ f.input ({
          'input' : {
          'type' : 'hidden',
          'name' : 'userID',
          'value' : page.selectUser
      			},
      		}) }}
      <div class="row">

        <div class="col-md-4 form-group">
          {{ f.textarea ({
      			    'textarea' : {
      				    'name' : 'configAgenda',
      				    'placeholder' : 'entrer ici du yaml',
      				    'class' : 'form-control reload-on-mod',
      				    'autocomplete' : 'off',
      				    'value' : page.configAgenda,
      				    'add' : 'rows="31" style="font-family:monospace;"'
      			    },
      			    'label' : {
      				    'position' : 'before',
      				    'label' : "Paramétrage d'affichage de l'agenda (yaml)"
          			    }
          		    }) }}
        </div>

        <div class="col-md-8 form-group">
          {{ f.textarea ({
			      'textarea' : {
				      'name' : 'configAgendaJs',
				      'class' : 'form-control',
              'readonly' : 'readonly',
				      'value' : page.configAgendaJs,
				      'add' : 'rows="20" style="font-family:monospace;"'
			      },
			      'label' : {
				      'position' : 'before',
				      'label' : "Code JS résultant (altérable par l'utilisateur dans ses paramètres personnels)"
			      }
  		    }) }}
          <div style="margin-top:14px">
            {{ f.textarea ({
			        'textarea' : {
				        'name' : 'configAgendaAd',
				        'placeholder' : 'code javascript complémentaire',
				        'class' : 'form-control',
				        'autocomplete' : 'off',
				        'value' : page.configAgendaAd,
				        'add' : 'rows="8" style="font-family:monospace;"'
			        },
			        'label' : {
				        'position' : 'before',
				        'label' : "Code JS additionnel (inaltérable par l'utilisateur)"
			        }
		        }) }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Gestion des types de consultations</h2>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">

          {{ f.textarea ({
			    'textarea' : {
				    'name' : 'configTypesRdv',
				    'placeholder' : 'entrer ici du yaml',
				    'class' : 'form-control',
				    'autocomplete' : 'off',
				    'value' : page.typeRdv,
				    'add' : 'rows="20" style="font-family:monospace;"'
			    },
			    'label' : {
				    'position' : 'before',
				    'label' : 'Paramétrage des types de rendez-vous (format yaml - altérable par l\'utilisateur dans ses paramètres personnels)'
			    }
		    }) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </div>
    </form>
  {% else %}
    <table class="table table-sm mb-0 table-hover ">
      <thead class="thead-light">
        <th>Paramètre</th>
        <th>Valeur</th>
      </thead>
      <tbody>
        <tr>
          <td>agendaDistantLink</td>
          <td>{{ page.config.agendaDistantLink }}</td>
        </tr>
        <tr>
          <td>agendaDistantPatientsOfTheDay</td>
          <td>{{ page.config.agendaDistantPatientsOfTheDay }}</td>
        </tr>
        <tr>
          <td>agendaLocalPatientsOfTheDay</td>
          <td>{{ page.config.agendaLocalPatientsOfTheDay }}</td>
        </tr>
        <tr>
          <td>agendaNumberForPatientsOfTheDay</td>
          <td>{{ page.config.agendaNumberForPatientsOfTheDay }}</td>
        </tr>
        <tr>
          <td>administratifPeutAvoirAgenda</td>
          <td>{{ page.config.administratifPeutAvoirAgenda }}</td>
        </tr>
      </tbody>
    </table>

  {% endif %}

{% endblock %}
