{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : prescriptions types
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : configuration{% endblock %}

{% block head %}
    {{ parent() }}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#cc">Paramètres courants</a>
  </li>
  <li class="breadcrumb-item active">
    Prescriptions types
  </li>
</ol>

<h1>Gestion des prescriptions types</h1>

{# Nav tabs #}
<ul class="nav nav-tabs  mt-3" role="tablist">
  <li role="presentation" class="nav-item">
    <a class="nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/prescriptions-cat/" aria-controls="categories" role="tab">Catégories</a>
  </li>
  {% for id, user in page.users %}
    <li role="presentation" class="nav-item">
      <a
        class="nav-link{% if page.selectUser == id %} active{% endif %}"
        href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/prescriptions/{{ id }}/{% if page.groupe > 0 %}{{ page.groupe }}/{% endif %}"
        aria-controls="prescriptions"
        role="tab">
        {% if id == 0 %}Prescriptions communes{% else %}Prescriptions :
          {{ user }}
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>

{# Tab panes #}
<div class="tab-content">

  {# categories tab #}
  <div role="tabpanel" class="tab-pane active" id="prescriptions">

    <div class="row mt-3">
      <div class="col text-right">
        <button type="button" class="btn btn-primary reset-modal" data-toggle="modal" data-target="#modalNewCat">
          <i class="fas fa-plus"></i>
          Nouvelle prescription
        </button>
      </div>
    </div>

    {% for k, v in page.tabTypes %}
      <h2 id="cat{{ v.0.cat }}">{{ v.0.catLabel }}
        <small>
          <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/prescriptions/{{ page.selectUser }}/{{ v.0.cat }}/">
            <span class="fas fa-search" aria-hidden="true"></span>
          </a>
        </small>
      </h2>
      <table class="table table-sm mb-0 table-hover ">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Label</th>
            <th>Texte</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for w in v %}
            <tr>
              <td>{{ w.id }}</td>
              <td>{{ w.label }}</td>
              <td>{{ w.description }}</td>
              <td class="text-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-light btn-sm edit-by-prim-key" aria-label="Editer" data-id="{{ w.id }}" data-table="prescriptions" data-form="formModalNewCat" data-modal="modalNewCat">
                    <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                  </button>

                  <button type="button" class="btn btn-light btn-sm duplicate" data-id="{{ w.id }}" data-table="prescriptions" data-form="formModalNewCat" data-modal="modalNewCat">
                    <span class="fas fa-copy" aria-hidden="true"></span>
                  </button>

                  <button type="button" class="btn btn-light btn-sm delete-by-prim-key" aria-label="Supprimer" {% if w.enfants > 0 or w.module=="base" %} disabled="disabled" {% endif %} data-id="{{ w.id }}" data-table="prescriptions">
                    <span class="fas fa-times" aria-hidden="true"></span>
                  </button>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block modals %}
{# modal new category #}
<div class="modal fade" id="modalNewCat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold" id="myModalLabel">Création / édition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {{ f.errorsBloc() }}

        <form id="formModalNewCat" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/ajax/configPrescriptionCreate/">

          <div class="form-group">
            {{ f.input ({ 'input' : { 'type' : 'text', 'name' : 'label', 'placeholder' : 'label', 'class' : 'form-control', 'autocomplete' : 'off' }, 'label' : { 'position' : 'before', 'label' : 'Label', } }) }}
          </div>
          <div class="form-group">
            {{ f.select ({ 'select' : { 'name' : 'cat', 'class' : 'form-control', 'autocomplete' : 'off', 'values' : page.catList, 'valueDefaut': '' }, 'label' : { 'position' : 'before', 'label' : 'Catégorie', } }) }}
          </div>

          <div class="form-group">
            {{ f.select ({ 'select' : { 'name' : 'toID', 'class' : 'form-control', 'autocomplete' : 'off', 'values' : page.users, 'valueDefaut': '' }, 'label' : { 'position' : 'before', 'label' : 'Utilisateur', } }) }}
          </div>

          <div class="form-group">
            {{ f.textarea ({ 'textarea' : { 'name' : 'description', 'placeholder' : 'description', 'class' : 'form-control', 'autocomplete' : 'off', 'rows' : '8' }, 'label' : { 'position' : 'before', 'label' : 'Prescription', } }) }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Abandonner</button>
        <button type="button" class="btn btn-primary modal-save" data-form="formModalNewCat" data-modal="modalNewCat">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
