{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : paramètres de configuration spécifiques aux utilisteurs
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR : configuration{% endblock %}

{% block head %}
  {{ parent() }}
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js"></script>
{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#cc">Paramètres courants</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/users/">Utilisateurs et options</a>
    </li>
    <li class="breadcrumb-item active">Paramètres spécifiques à {{ page.userData.3 }} {% if page.userData.2 %}
      {{ page.userData.2 }}
    {% else %}
      {{ page.userData.1 }}
    {% endif %}
    </li>
  </ol>

  <h1>Paramètres spécifiques à {{ page.userData.3 }} {% if page.userData.2 %}
    {{ page.userData.2 }}
  {% else %}
    {{ page.userData.1 }}
  {% endif %}</h1>

  <form class="ajaxForm" method="post" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/ajax/configSpecificUserParam/">
    <div class="row">
      <ul class="nav nav-pills flex-column col-md-2">
        {% for k,v in page.userParams %}
          <li class="nav-item" role="presentation">
            <a class="nav-link{% if loop.first %} active{% endif %}" href="#cat{{ k|replace({' ':'_', '\'':'_'}) }}" aria-controls="cat{{ k }}" role="tab" data-toggle="tab">{{ page['catList'][k] }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="col-md-10 tab-content">
      {% for k,v in page.userParams %}
        <div id="cat{{ k|replace({' ':'_', '\'':'_'}) }}" role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %}">
          <table class="table table-sm mb-0 table-hover  table-striped checkboxFixValue">
            <thead>
              <tr>
                <th>Paramètre</th>
                <th>Valeur défaut</th>
                <th>Valeur utilisateur</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for w in v %}
                <tr>
                  <td>{{ w.name }}</td>
                  <td>{{ page['configDefaut'][w.name] }}</td>
                  <td>
                    {% if w.name == 'agendaNumberForPatientsOfTheDay' %}
                      {{ f.select ({
                        'select' : {
                          'type' : w.formType,
                          'name' : 'p_' ~ w.id,
                          'id' : w.name ~ 'ID',
                          'placeholder' : w.placeholder,
                          'class' : 'form-control',
                          'values' : w.formValues,
                          'valueDefaut' : w.userVal,
                          'autocomplete' : 'off'
                        }
                      }) }}
                    {% elseif w.name == 'administratifComptaPeutVoirRecettesDe' %}
                      {{ f.selectMultiple ({
                        'select' : {
                          'type' : w.formType,
                          'name' : 'p_' ~ w.id,
                          'id' : w.name ~ 'ID',
                          'placeholder' : w.placeholder,
                          'class' : 'form-control',
                          'values' : w.formValues,
                          'valueDefaut' : w.userVal,
                          'autocomplete' : 'off'
                        }
                      }) }}
                    {% else %}
                      {{ f.input ({
                        'input' : {
                          'type' : w.formType,
                          'name' : 'p_' ~ w.id,
                          'id' : w.name ~ 'ID',
                          'placeholder' : w.placeholder,
                          'class' : 'form-control',
                          'value' : w.userVal,
                          'autocomplete' : 'off'
                        }
                      }) }}
                    {% endif %}
                  </td>
                  <td>{{ w.description }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          {{ f.input ({
            'input' : {
              'type' : 'hidden',
              'name' : 'userID',
              'value' : page.userID
            }
          }) }}

          {{ f.input ({
            'input' : {
              'type' : 'submit',
              'value' : 'Enregistrer',
              'class' : 'btn btn-primary'
            }
          }) }}

        </div>
      {% endfor %}
    </div>
    </div>

  </form>

{% endblock %}
