{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : catégories d'actes
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR : configuration{% endblock %}

{% block head %}
{{ parent() }}
<script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
  </li>
  <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#cc">Paramètres courants</a>
  </li>
  <li class="breadcrumb-item active">
    Actes et tarifs
  </li>
</ol>

<h1>Catégories des actes</h1>
<div>
<div>

	{# Nav tabs #}
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="nav-item">
                   <a class="nav-link active" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/actes-cat/" aria-controls="categories" role="tab">Catégories</a>
                </li>
		<li role="presentation" class="nav-item">
		  <a class="nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/actes-base/" aria-controls="prescriptions" role="tab">Actes</a>
		</li>
		<li role="presentation" class="nav-item">
                  <a class="nav-link" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/actes/0/" aria-controls="types" role="tab" >Factures types communes</a>
                </li>
	</ul>

  {# Tab panes #}
	<div class="tab-content">

		{# categories tab #}
		<div role="tabpanel" class="tab-pane active" id="categories">

			<p></p>
			<button type="button" class="btn btn-primary float-right m-1 mb-3 reset-modal" data-toggle="modal" data-target="#modalNewCat">
			Nouvelle catégorie
			</button>

			<table class="table table-sm mb-0 table-hover">

			<thead>
			<tr>
				<th>#</th>
        <th>Module</th>
				<th>Ordre</th>
				<th>Label</th>
				<th>Enfants</th>
				<th>Description</th>
				<th></th>
			</tr>
			</thead><tbody>
			{% for k,v in page.tabCat %}
			<tr>
				<td>{{ k }}</td>
        <td>{{ v.module }}</td>
				<td>{{ v.displayOrder }}</td>
				<td>{{ v.label }}</td>
				<td>
                                  {% if v.enfants > 0 %}
                                    <div class="btn-group">
                                      <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/actes/0/{{ k }}/">
                                        <span class="fa fa-search-plus" aria-hidden="true"></span>
                                      </a>
                                    </div>
                                    {{ v.enfants }}
                                  {% endif %}
                                </td>
				<td>{{ v.description }}</td>
				<td class="text-right">
          <div class="btn-group">
					  <button type="button" class="btn btn-light btn-sm edit-by-prim-key" aria-label="Editer" data-id="{{ k }}" data-table="actes_cat" data-form="formModalNewCat" data-modal="modalNewCat">
					  <span class="fa fa-pencil-alt" aria-hidden="true"></span>
					  </button>

					  <button type="button" class="btn btn-light btn-sm delete-by-prim-key" aria-label="Supprimer" {% if v.enfants > 0 or v.module=="base" %}disabled{% endif %} data-id="{{ k }}" data-table="actes_cat">
					  <span class="fa fa-times" aria-hidden="true"></span>
					  </button>
          </div>
				</td>
			</tr>
			{% endfor %}
			</tbody>
			</table>

		</div>

	</div>

</div>


{# modal new category #}
<div class="modal fade" id="modalNewCat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Création / édition catégorie</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">

			<div class="alert alert-danger" role="alert" style="display : none;">
				Merci de considérer les informations suivantes et de corriger les champs concernés :
				<ul>
				</ul>
			</div>

			<form id="formModalNewCat" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/ajax/configActesCatCreate/" data-groupe="SERTaRIENici">
				<div class="form-group">
				{{ f.input ({
					'input' : {
						'type' : 'text',
						'name' : 'name',
						'placeholder' : 'nom à usage interne, pas d\'espace, pas d\'accent',
						'class' : 'form-control',
						'autocomplete' : 'off'
					},
					'label' : {
						'position' : 'before',
						'label' : 'Nom à usage interne',
					}
				}) }}
				</div>

				<div class="form-group">
				{{ f.input ({
					'input' : {
						'type' : 'text',
						'name' : 'label',
						'placeholder' : 'nom principal',
						'class' : 'form-control',
						'autocomplete' : 'off'
					},
					'label' : {
						'position' : 'before',
						'label' : 'Label',
					}
				}) }}
				</div>

				<div class="form-group">
				{{ f.input ({
					'input' : {
						'type' : 'text',
						'name' : 'description',
						'placeholder' : 'description',
						'class' : 'form-control',
						'autocomplete' : 'off'
					},
					'label' : {
						'position' : 'before',
						'label' : 'Description',
					}
				}) }}
				</div>

				<div class="form-group">
				{{ f.input ({
					'input' : {
						'type' : 'text',
						'name' : 'displayOrder',
						'placeholder' : 'ordre d\'affichage',
						'class' : 'form-control',
						'autocomplete' : 'off'
					},
					'label' : {
						'position' : 'before',
						'label' : 'Ordre d\'affichage',
					}
				}) }}
				</div>

        <div class="form-group">
    		{{ f.select ({
    			'select' : {
    				'name' : 'module',
    				'class' : 'form-control',
    				'autocomplete' : 'off',
    				'values' : page.modules
    			},
    			'label' : {
    				'position' : 'before',
    				'label' : 'Module concerné',
    			}
    		}) }}
    		</div>

			</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-primary modal-save" data-form="formModalNewCat" data-modal="modalNewCat">Sauvegarder</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
