{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : licence
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @edited fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR : licence{% endblock %}

{% block head %}
  {{ parent() }}

{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li>
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
    </li>
    <li>
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#licence">Licence</a>
    </li>
    <li class="active">
      Licence et crédits
    </li>
  </ol>

  <h1>Licence et credits</h1>

  <div class="container-fluid">
    <div class="row">
    <h2>Licence</h2>

      <div class="well col-md-6">
        MedShakeEHR is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        any later version.
        <br><br>
        MedShakeEHR is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.
        <br><br>
        You should have received a copy of the GNU General Public License
        along with MedShakeEHR.  If not, see <<a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>>.
        <br><br>
        The modules for this software developed by Bertrand Boutillier
        are distributed under the same terms and conditions.
      </div>
    </div>

    <div class="row">
    <h2>Auteur</h2>
        Copyright (c) 2017 - Bertrand Boutillier <b.boutillier@gmail.com><br>
        Medecin généraliste et informaticien <br>
        <a href="http://www.medshake.net">MedShake</a> &amp; <a href="http://www.logiciel-cabinet-medical.fr/">MedShakeEHR</a>
    </div>

    <div class="row">

     <h2>Contributeurs</h2>
      <p>MedShakeEHR n'aurait pas été ce qu'il est sans leurs contributions, grandes ou modestes. Merci à eux!</p>

      <table class="table table-striped table-hover">
        <tr>
          <td>
            fr33z00
          </td>
          <td>
            Tombé dans l'informatique quand il était déjà... toujours pas grand, et depuis longtemps!
          </td>
          <td>
            <a href="https://github.com/fr33z00">https://github.com/fr33z00</a>
          </td>
        </tr>
      </table>

    </div>

  </div>
{% endblock %}
