{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : aperçu des formulaires
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : configuration{% endblock %}

{% block head %}
  {{ parent() }}
  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#ca">Paramètres avancés</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/forms/">Formulaires</a>
    </li>
    <li class="breadcrumb-item active">Aperçu du formulaire #{{ page.formData.id }}
    </li>
  </ol>


  <div class="row">

    <div class=" col-md-4">
    {% for k,v in page.tabTypes %}
      <h2 class="mb-2" id="cat{{ v.0.cat }}">{{ v.0.catLabel }}</h2>
      <table class="table table-sm mb-0 table-hover mb-3">
      <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Module</th>
        <th>Nom</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for w in v %}
        <tr {% if w.id == page.formData.id %}class="table-success"{% endif %}>
        <td>{{ w.id }}</td>
        <td>{{ w.module }}</td>
        <td>{{ w.name }}</td>

        <td class="text-right">
          <div class="btn-group">
            <a class="btn btn-light btn-sm{% if k=='displayforms' %} disabled{% endif %}" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/forms/preview/{{ w.id }}/">
              <span class="fas fa-eye" aria-hidden="true"></span>
            </a>
            <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/forms/edit/{{ w.id }}/">
              <span class="fas fa-pencil-alt" aria-hidden="true"></span>
            </a>
          </div>
        </td>
        </tr>
      {% endfor %}
      </tbody></table>
    {% endfor %}
    </div>

    <div class=" col-md-8">

      <h1 class="mb-4">Aperçu du formulaire #{{ page.formData.id }}
        <small>{{ page.formData.name }}</small>
      </h1>

      <div class="alert alert-warning" role="alert">Les fichiers javascript n'étant pas chargés, ce formulaire n'est pas dynamique !</div>

      <div class="jumbotron col-md-12">
        {{ f.formbuilder(page.form , page.formIN ) }}
      </div>

      <div class="card my-3">
        <div class="card-header" data-toggle="collapse" data-target="#collapseTemplate" style="cursor: pointer">
          <button class="btn btn-light btn-sm"><i class="far fa-plus-square"></i></button> Template d'impression
        </div>
        <div id="collapseTemplate" class="collapse card-body">
          <div class="alert alert-warning" role="alert">
            Ce code est généré automatiquement pour servir de base à la création d'un template d'impression. Il doit être retravaillé pour obtenir un résultat correct.
          </div>
          <textarea class="form-control" rows="20">{{ page.basicTemplateCode }}</textarea>
        </div>
      </div>

      <div class="card my-3">
        <div class="card-header" data-toggle="collapse" data-target="#collapseSql" style="cursor: pointer">
          <button class="btn btn-light btn-sm">
            <i class="far fa-plus-square"></i>
          </button>
          Code SQL de création
        </div>
        <div id="collapseSql" class="collapse card-body">
          <textarea class="form-control" rows="20">{{ page.sqlCode }}</textarea>
        </div>
      </div>

      <div class="card my-3">
        <div class="card-header" data-toggle="collapse" data-target="#collapseTools" style="cursor: pointer">
          <button class="btn btn-light btn-sm">
            <i class="far fa-plus-square"></i>
          </button>
          Outils
        </div>
        <div id="collapseTools" class="collapse card-body">
          <p>
            Fixer l'ordre d'affichage des types utilisés dans ce formulaire en fonction de l'ordre d'apparition dans la structure de celui-ci :
            <button class="btn btn-danger fixDisplayOrder" data-formid="{{ page.formData.id }}"><i class="fas fa-sort-amount-down"></i> Fixer l'ordre</button>
          </p>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
