{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : assigner un password à un utilisateur
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR : configuration{% endblock %}

{% block head %}
    {{ parent() }}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js"></script>
{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li>
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
    </li>
    <li>
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#users">Gestion des utilisateurs</a>
    </li>
    <li class="active">
        Assigner un mot de passe
    </li>
  </ol>


  <a href="javascript:void(0)" class="btn btn-primary pull-right" role="button">Nouvel utilisateur</a>
  <table class="table table-hover">
    <caption></caption>
    <thead>
      <tr>
        <th>id</th>
        <th>Utilisateur</th>
        <th>Module</th>
        <th>Mot de passe</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for u,d in page.users %}
        <tr>
          <td>{{ d.id }}</td>
          <td>{{ d.name }}</td>
          <td>
            <select id="selectUser{{ d.id }}">
              {% for k,v in page['modules'] %}
                <option value="{{ v }}" {% if v==d.module %}selected{% endif %}>{{ v }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <input type="password" value="" title="Nouveau mot de passe"></input> 
         </td>
          <td>
            <a href="javascript:void(0)" class="btn btn-default btn-xs validateUserChanges" role="button" data-id="{{ d.id }}" title="Valider les changements">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {# modal nouvel utilisateur #}
  <div id="newUser" class="modal fade" tabindex="-1" role="dialog">
    <h3>Nouvel utilisateur</h3>
    {{ f.formbuilder(page.form , page.formIN , session) }}
  </div>

{% endblock %}
