{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : sommaire de configuration
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR : configuration{% endblock %}

{% block head %}
  {{ parent() }}
  <script defer="defer" src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}
  <h1>Configuration</h1>

  <ul class="nav nav-tabs mb-3" role="tablist">
    <li role="presentation" class="nav-item">
      <a href="#cc" class="nav-link active" aria-controls="cc" role="tab" data-toggle="tab">Paramètres courants</a>
    </li>
    <li role="presentation" class="nav-item">
      <a href="#ca" class="nav-link" aria-controls="ca" role="tab" data-toggle="tab">Paramètres avancés</a>
    </li>
    <li role="presentation" class="nav-item">
      <a href="#journaux" class="nav-link" aria-controls="ca" role="tab" data-toggle="tab">Journaux et informations techniques</a>
    </li>
    <li role="presentation" class="nav-item">
      <a href="#ap" class="nav-link" aria-controls="licence" role="tab" data-toggle="tab">A propos</a>
    </li>
  </ul>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="cc">
      <h2 class="my-2">Configuration générale</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/configuration-globale/">Paramètres globaux
          </a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/modules/">Modules</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/cron/">Tâches planifiées</a>
        </li>
      </ul>

      <h2 class="my-2">Utilisateurs</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/users/">Utilisateurs et options
          </a>
        </li>
      </ul>

      <h2 class="my-2">Paramètres courants</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/actes-cat/">Actes et tarifs</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/agenda/">Agendas</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/prescriptions/">Prescriptions types</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/apicrypt-clefs/">Clefs Apicrypt</a>
        </li>
      </ul>

    </div>

    <div role="tabpanel" class="tab-pane" id="ca">

      <h2 class="my-2">Formulaires et modèles</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/forms/cat/">Edition des formulaires</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/templates-pdf/">Gestion des modèles de rapports</a>
        </li>
      </ul>

      <h2 class="my-2">DICOM</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/tags-dicom/">Correspondances DICOM</a>
        </li>
      </ul>

      <h2 class="my-2">Données</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/admin/">Administratives</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/medical/">Médicales</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/typecs/">Consultations</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/courrier/">Courriers et certificats</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/mail/">Mail</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/doc/">Documents importés</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/ordo/">Ordonnances</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/reglement/">Règlements</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/relation/">Relations</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/data-cat/dicom/">Dicom</a>
        </li>
      </ul>

      <h2 class="my-2">Ressources externes</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/refreshSams/">Rafraichir le XML HAS des SAMs
          </a>
        </li>
      </ul>



    </div>

    <div role="tabpanel" class="tab-pane" id="journaux">
      <h2 class="my-2">Journaux</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/">Logs généraux des écritures utilisateurs en base de données
          </a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/agenda/">Logs des agendas
          </a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/accesHttp/">Logs des accès (http)
          </a>
        </li>
      </ul>

      <h2 class="my-2">Informations techniques</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/check-directory/">Vérifications des répertoires de stockage
          </a>
        </li>
        <li class="list-group-item">
          Données de session
          <a class="btn btn-outline-secondary px-1 py-0 ml-2" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/cleanSession/" target="_blank">
            Supprimer
          </a>
        </li>
      </ul>

    </div>

    <div role="tabpanel" class="tab-pane" id="ap">
      <h2 class="my-2">Licence et crédits</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/licence/">Licence</a>
        </li>
        <li class="list-group-item">
          <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/credits/">Credits</a>
        </li>

      </ul>
    </div>
  </div>
{% endblock %}
