{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : paramètres de configuration spécifiques aux utilisteurs
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : configuration{% endblock %}

{% block head %}
  {{ parent() }}
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/configuration.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#cc">Paramètres courants</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/users/">Utilisateurs et options</a>
    </li>
    <li class="breadcrumb-item active">Paramètres spécifiques à {{ page.userData.firstname }} {% if page.userData.lastname %}
      {{ page.userData.lastname }}
    {% else %}
      {{ page.userData.birthname }}
    {% endif %}
    </li>
  </ol>

  <h1>Paramètres spécifiques à {{ page.userData.firstname }} {% if page.userData.lastname %}
    {{ page.userData.lastname }}
  {% else %}
    {{ page.userData.birthname }}
  {% endif %}</h1>

  {% if page.userParams|length < 1 %}
    <div class="alert alert-info mt-4 mb-3" role="alert">
      Aucun paramètre spécifique n'est défini pour le moment pour cet utilisateur.
    </div>
  {% endif %}

  <div class="row">
    {% if page.userTemplates|length > 0 %}
      <div class="col {% if page.userParams|length > 0 %}offset-2{% endif %}">
        <form class="form-inline" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/actions/configUserApplyTemplate/" method="post">
          <input type="hidden" name="userID" value="{{ page.userID }}">
          <select class="custom-select my-1 mr-sm-2" name="p_template">
            {% for val in page.userTemplates %}
              <option value="{{ val }}" {% if val == config.optionGeLoginCreationDefaultTemplate %}selected="selected"{% endif %}>{{ val }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-outline-primary ">Appliquer ce template de droits à l'utilisateur</button>
        </form>
      </div>
    {% endif %}
    <div class="col text-right">
      <button class="btn btn-primary addParam" type="button" data-toggle="modal" data-target="#modalAddParam"><i class="fas fa-plus"></i> Nouveau paramètre</button>
    </div>
  </div>

  <form class="ajaxForm" method="post" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/ajax/configSpecificUserParam/">
    <input type="hidden" name="userID" value="{{ page.userID }}" autocomplete="off"/>
    <div class="row mt-3">
      <div class=" col-md-2">
        <ul class="nav nav-pills flex-column">
          {% for k,v in page.userParams %}
            <li class="nav-item" role="presentation">
              <a class="nav-link{% if loop.first %} active{% endif %}" href="#cat{{ k|replace({' ':'_', '\'':'_'}) }}" aria-controls="cat{{ k }}" role="tab" data-toggle="tab">{{ k }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-10 tab-content">

      {% for k,v in page.userParams %}
        <div id="cat{{ k|replace({' ':'_', '\'':'_'}) }}" role="tabpanel" class="tab-pane row{% if loop.first %} active{% endif %}">
          <div class="col-12">
            <table class="table table-sm mb-0 table-hover  table-striped checkboxFixValue">
              <thead class="thead-light">
                <tr>
                  <th>Paramètre</th>
                  <th class="col-3">Valeur défaut</th>
                  <th>Valeur utilisateur</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for w in v %}
                  <tr data-name="{{ w.name }}">
                    <td>{{ w.name }}</td>
                    <td {% if w.type == 'textarea' %}class="small"{% endif %}>{{ w.default|nl2br }}</td>
                    <td {% if w.type=='checkbox' %}class="text-center"{% endif %}>
                      {% if w.name == 'agendaNumberForPatientsOfTheDay' %}
                        {{ f.select ({
                          'select' : {
                            'name' : w.name,
                            'id' : w.name ~ 'ID',
                            'placeholder' : w.placeholder,
                            'class' : 'form-control',
                            'values' : w.formValues,
                            'valueDefaut' : w.value,
                            'autocomplete' : 'off'
                          }
                        }) }}
                      {% elseif w.name == 'administratifComptaPeutVoirRecettesDe' %}
                        {{ f.selectMultiple ({
                          'select' : {
                            'name' : w.name,
                            'id' : w.name ~ 'ID',
                            'placeholder' : w.placeholder,
                            'class' : 'form-control',
                            'values' : w.formValues,
                            'valueDefaut' : w.value,
                            'autocomplete' : 'off'
                          }
                        }) }}
                      {% elseif w.type == 'textarea' %}
                        {{ f.textarea ({
                          'textarea' : {
                            'name' : w.name,
                            'id' : w.name ~ 'ID',
                            'placeholder' : w.placeholder,
                            'class' : 'form-control form-control-sm h-100',
                            'value' : w.value,
                            'rows' : 5,
                            'autocomplete' : 'off'
                          }
                        }) }}
                      {% else %}
                        {{ f.input ({
                          'input' : {
                            'type' : w.type,
                            'name' : w.name,
                            'id' : w.name ~ 'ID',
                            'placeholder' : w.placeholder,
                            'class' : 'form-control form-control-sm',
                            'value' : w.value,
                            'autocomplete' : 'off'
                          }
                        }) }}
                      {% endif %}
                    </td>
                    <td class="text-right">
                      <div class="btn-group">
                        <button class="btn btn-light btn-sm removeParam" type="button">
                          <span class="fas fa-times"></span>
                        </button>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <button class="btn btn-primary mt-3" type="submit"><i class="fas fa-save"></i> Enregistrer</button>
          </div>
        </div>
      {% endfor %}
    </div>
    </div>

  </form>
{% endblock %}

{% block modals %}
  {# modal d'ajout de paramètres #}
  <div id="modalAddParam" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title font-weight-bold">Nouveau paramètre</h4>
        </div>
          <form id="formNewParam" class="ajaxForm reload" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/ajax/configUserParamCreate/" method="post">
           <div class="modal-body">
            <input type="hidden" name="userID" value="{{ page.userID }}" autocomplete="off"/>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="paramCat">Catégorie</label>
                  <select id="paramCat" class="custom-select" name="paramCat" autocomplete="off">
                    {% for k,v in page.availableCats %}
                      <option value="{{ k }}" {% if loop.first %} selected{% endif %}>{{ v }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <label>Paramètre</label>
                {% for saniCat,cat in page.availableCats %}
                  <select class="custom-select paramselect" name="paramNameInCat{{ saniCat }}"{% if not loop.first %} style="display:none"{% endif %} autocomplete="off">
                    {% set first = true %}
                    {% for p in page.availableParams %}
                      {% if p.saniCat == saniCat %}
                        <option value="{{ p.name }}" {% if first %}selected{% endif %} data-desc="{{ p.description }}" data-type="{{ p.type }}">{{ p.name }}</option>
                        {% set first = false %}
                      {% endif %}
                    {% endfor %}
                  </select>
                {% endfor %}
              </div>
            </div>
            <p id="description" class="p-2 bg-light" >Description : {{ (page.availableParams|first).description }}</p>
            <p id="type" class="p-2 bg-light">type : {{ (page.availableParams|first).type }}</p>
            <div class="form-group row">
              <div class="col-12">
                <label>Valeur</label>
                <input class="form-control" type="text" name="paramValue" autocomplete="off"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Valider</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
