{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : licence
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }}
  : licence{% endblock %}

{% block head %}
  {{ parent() }}

{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#ap">A propos</a>
    </li>
    <li class="breadcrumb-item active">
      Licence
    </li>
  </ol>

  <h1>Licence</h1>

  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card card-body bg-light mb-4">
        <h4>GPL v3</h4>
        <p>
          MedShakeEHR is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
        </p>
        <p>
          MedShakeEHR is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
        </p>
        <p>
          You should have received a copy of the GNU General Public License along with MedShakeEHR. If not, see &lt;<a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>&gt;.
        </p>
        <p>
          The modules for this software developed by Bertrand Boutillier are distributed under the same terms and conditions.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card card-body bg-light mb-4">
        <h4>Composants tiers exclus de la licence GPL v3</h4>
        <p>
          Les termes et conditions de la présente licence GPL v3 ne s’appliquent pas aux composants APICRYPT, fournis par la société APICEM SARL, APICEM Développement ou l’association APICEM, qui restent la propriété exclusive desdites entités. Le code source
          des composants APICRYPT ne saurait être distribué dans le cadre de la licence du logiciel MedShakeEHR.
        </p>
        <p>
          La réutilisation du code source du logiciel MedShakeEHR à quelques fins que ce soit nécessitera pour le responsable de développements de prendre contact avec la société APICEM SARL afin de procéder à l’établissement d’un contrat de partenariat ainsi
          qu’à des tests de validité de l’intégration des composants APICRYPT.
        </p>
        <p>
          Le logiciel issu de cette réutilisation ne peut en effet prétendre être « compatible APICRYPT » sans avoir effectué ces démarches préalables et la société APICEM SARL ne saurait être tenue responsable d’éventuels problèmes de réceptions, de
          traitements ou d’envois de messages au travers de ce logiciel.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8">
      Copyright (c) 2017-2019 - Bertrand Boutillier &lt;b.boutillier@gmail.com&gt;
    </div>
  </div>
{% endblock %}
