{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > configApplyUpdates
 #
 # @author fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : mise à jour{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}

<h3>Appliquer les installations dans la base</h3>
<p style="margin-top:50px;margin-bottom:50px">Vous avez installé des mises à jour. Nous allons procéder aux modifications de la base de données.</p>

{# validation error display bloc #}
{{ f.errorFormDiv( session['form']['applyUpdates']['validationErrorsMsg'] ) }}

<form	action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/actions/configApplyUpdates/" method="post" style="margin-top:50px;">
  <input name="formIN" value="applyUpdates" type="hidden"/>
  <div class="row">
    <div class="col-md-4">
      <a class="to-disable" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patients/"><button type="button" class="btn btn-light">Annuler</button></a>
      <input type="submit" title="Appliquer" value="Appliquer" class="btn btn-primary to-disable" onclick="$('.to-disable').hide()"/>
    </div>
  </div>
</form>

{% endblock %}
