{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Agenda
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% block title %}Agenda MedShakeEHR{% endblock %}

{% block head %}
    {{ parent() }}
    <link href='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/fullcalendar/fullcalendar/dist/fullcalendar.css' rel='stylesheet' />
    <link href='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/swisnl/jquery-contextmenu/dist/jquery.contextMenu.min.css' rel='stylesheet' />

    <script defer src='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/fullcalendar/fullcalendar/dist/fullcalendar.js'></script>
    <script defer src='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/fullcalendar/fullcalendar/dist/locale/fr.js'></script>
    <script defer src='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/swisnl/jquery-contextmenu/dist/jquery.contextMenu.min.js'></script>
    <script defer src='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/agenda.js'></script>

    <style>
      a.eventAbsent .fc-title {
        text-decoration: line-through;
      }
      .selected {
        border: solid 3px #4399e4;
        opacity: 0.8;
      }

      .fc-event {
        font-size: 1em;
        border-radius: 0;
        border-width: 1px 0;
        padding-left: 5px;
      }

      .fc-nonbusiness {
      	background: #607d8b;
      }

      th.fc-day-header a {
        color : black;
      }
      {% if (config.agendaService in ['clicRDV'])==false %}
        .fc-synchronize-button {display:none !important}
      {% endif %}

      .ui-autocomplete{z-index:2000}

      #calendar .fc-prevMonth-button,
      #calendar .fc-prev-button,
      #calendar .fc-synchronize-button,
      #calendar .fc-next-button,
      #calendar .fc-nextMonth-button
        {color:#484848;min-width:36px;height:31px;border-color:#bbb;background-color:#fff;padding-top:0}
      #calendar .fc-today-button {background-color:#e6eaef;border:none;color:#484848;height:31px;padding-top:0}

      #calendar .fc-prevMonth-button:hover,
      #calendar .fc-prev-button:hover,
      #calendar .fc-synchronize-button:hover,
      #calendar .fc-next-button:hover,
      #calendar .fc-nextMonth-button:hover
        {color:#181818;background-color:#ddd}

      .cursor-move {cursor:move}
      .cursor-copy {cursor:copy}
      .cursor-cell {cursor:cell}
    </style>

    <script>
    var boutonsHeaderCenter;
    var hiddenDays;
    var firstDay {% if config.agendaPremierJour != '' %}={{ config.agendaPremierJour }}{% endif %};
    var minTime;
    var maxTime;
    var businessHours;
    var slotDuration;
    var slotLabelInterval;
    var eventTextColor;
    var eventSources;
    var viewRender;
    {{ page.configAgenda }}
    </script>

{% endblock %}

{% block body %}

{% if config.agendaModePanneauLateral == 'true' %}
  <div class="row">
    <div class="col-3">
      <form id="newPatientData">
        {% include 'inc-agenda-patient.html.twig' %}
      </form>
      {% include 'inc-agenda-historiquePatient.html.twig' %}
      <button id="nettoyer" class="btn" style="display:none">Annuler</button>
    </div>
    <div class="col-9">
{% endif %}
{% if page.agendaUsers|length > 1 %}
  <ul class="nav nav-tabs bottom-space" >

    {% for k,v in page.agendaUsers %}
      <li role="presentation" class="nav-item">
          <a class="nav-link{% if k == page.userID %} active{% endif %}" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ k }}/" target="agenda">{{ v }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<div id="calendar" data-userID="{{ page.userID }}" data-mode="{% if config.agendaModePanneauLateral == 'true' %}lateral{% else %}modal{% endif %}"></div>

{% if config.agendaModePanneauLateral == 'true' %}
    </div>
  </div>
{% endif %}
{# modal rdv/nouveau patient #}
<div id="creerNouveau" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog{% if config.agendaModePanneauLateral != 'true' %} modal-lg{% endif %}" role="document">
    <div class="modal-content">
      <form id="formRdv">
        <div class="modal-header">
          <h4 class="modal-title gras"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" style="display : none;">
              Merci de considérer les informations suivantes et de corriger les champs concernés :
              <ul></ul>
          </div>
          <div class="row">
            {% if config.agendaModePanneauLateral != 'true' %}
              <div class="col-md-6 border-right">
                {% include 'inc-agenda-patient.html.twig' %}
              </div>
              <div class="col-md-6">
            {% else %}
              <div class="col-12">
            {% endif %}
              <h3 id="titreRdv">Rendez-vous</h3>
              <div class="card bg-light p-2">
                <div class="form-group">
                  <div id="datepicker" class="input-group mx-0 mb-3">
                    <input class="form-control" />
                    <div class="input-group-append">
                      <span class="fa fa-calendar input-group-text" aria-hidden="true"></span>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <div class="input-group mx-0">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><span id="duree" class="far fa-clock"> {{ (page.typeRdv|first).duree }}mn</span></div>
                    </div>
                    <select id="type" class="form-control form-control-sm custom-select" name="type" autocomplete="off">
                      {% for k, v in page.typeRdv if k != '[off]' %}
                        <option value="{{ k }}" style="color: #FFF; background: {{ v.backgroundColor }}; padding : 3px;" data-duree="{{ v.duree }}"{% if loop.first %} selected="selected"{% endif %}>
                          {{ v.descriptif }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <textarea id="motif" class="form-control mt-2" name="motif" placeholder="Motif" rows="3" autocomplete="off"></textarea>
                </div>
              </div>
              {% if config.agendaModePanneauLateral != 'true' %}
                {% include 'inc-agenda-historiquePatient.html.twig' %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="buttonCreer" class="btn btn-primary" disabled="disabled" type="button" data-dismiss="modal">Créer</button>
          <button id="buttonModifier" class="btn btn-primary" type="button" data-dismiss="modal">Modifier</button>
          <div class="dropdown">
            <button id="buttonAutresActions" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Autres actions
            </button>
            <div class="dropdown-menu" aria-labelledby="buttonAutresActions">
              <a class="dropdown-item" id="buttonMark" href="#">Non honoré</a>
              <a class="dropdown-item" id="buttonClone" href="#">Cloner</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id="buttonRemove" href="#">Supprimer</a>
            </div>
          </div>
          <button id="buttonCancel" class="btn float-right m-1" type="button" data-dismiss="modal" aria-label="Close">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
