{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Agenda
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% block title %}Agenda - {{ config.designAppName }}{% endblock %}

{% block jsFiles %}
  {{ parent() }}
  <script defer src='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/fullcalendar/fullcalendar/dist/fullcalendar.js'></script>
  <script defer src='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/fullcalendar/fullcalendar/dist/locale/fr.js'></script>
  <script defer src='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/swisnl/jquery-contextmenu/dist/jquery.contextMenu.min.js'></script>
  {% if config.vitaleActiver =='true' %}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/vitale_functions.js?{{ modules.base }}"></script>
  {% endif %}
  <script defer src='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/agenda.js'></script>
{% endblock %}

{% block jsEmbed %}
  {{ parent() }}
  var boutonsHeaderCenter;
  var hiddenDays;
  var firstDay {% if config.agendaPremierJour != '' %}={{ config.agendaPremierJour }}{% endif %};
  var minTime;
  var maxTime;
  var businessHours;
  var slotDuration;
  var slotLabelInterval;
  var eventTextColor;
  var eventSources;
  var viewRender;
  {{ page.configAgenda }}
{% endblock %}

{% block cssFiles %}
  {{ parent() }}
  <link href='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/fullcalendar/fullcalendar/dist/fullcalendar.css' rel='stylesheet' />
  <link href='{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/swisnl/jquery-contextmenu/dist/jquery.contextMenu.min.css' rel='stylesheet' />
{% endblock %}

{% block cssEmbed %}
  {{ parent() }}
  a.eventAbsent .fc-title {
    text-decoration: line-through;
  }

  a.eventEnAttente .fc-title::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f4b8";
    margin-right: 3px;
  }

  .selected {
    border: solid 3px #4399e4;
    opacity: 0.8;
  }

  .fc-event {
    font-size: 1em;
    border-radius: 0;
    border-width: 1px 0;
    padding-left: 5px;
  }

  .fc-title, .fc-time {
    font-size: 14px !important;
  }

  .fc-nonbusiness {
    background: #607d8b;
  }

  th.fc-day-header a {
    color : black;
  }
  {% if (config.agendaService in ['clicRDV'])==false %}
    .fc-synchronize-button {display:none !important}
  {% endif %}

  .ui-autocomplete{z-index:2000}

  .cursor-move {cursor:move}
  .cursor-copy {cursor:copy}
  .cursor-cell {cursor:cell}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
  {% if config.agendaModePanneauLateral == 'true' %}
    <div class="row">
      <div class="col-3">
        <form id="newPatientData">
          {% include 'inc-agenda-patient.html.twig' %}
        </form>
        {% include 'inc-agenda-historiquePatient.html.twig' %}
        <button id="nettoyer" class="btn btn-outline-secondary mb-4" style="display:none">Annuler</button>

        <h5 class="mt-4">
          Types de rendez-vous
        </h5>
        <table class="table table-sm mb-0 small">
          {% for rac,dat in page.typeRdv %}
            <tr><td><i class="fas fa-square-full mr-2" style="color : {{ dat.backgroundColor }}"></i> {{ dat.descriptif }}</td></tr>
          {% endfor %}
        </table>

      </div>
      <div class="col-9">
  {% endif %}
  {% if page.agendaUsers|length > 1 %}
    <ul class="nav nav-tabs mb-4 font-weight-bold" >

      {% for k,v in page.agendaUsers %}
        <li role="presentation" class="nav-item">
            <a class="nav-link{% if k == page.userID %} active{% endif %}" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/agenda/{{ k }}/" target="agenda">{{ v }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="smallCalendar" class="position-absolute" style="z-index: 1000; margin-top: 50px; display: none;"></div>
  <div id="calendar" data-userID="{{ page.userID }}" data-mode="{% if config.agendaModePanneauLateral == 'true' %}lateral{% else %}modal{% endif %}"></div>

{% if config.agendaModePanneauLateral == 'true' %}
    </div>
  </div>
{% endif %}
{% endblock %}

{% block modals %}
{# modal rdv/nouveau patient #}
<div id="creerNouveau" class="modal {% if config.vitaleActiver !='true' %}fade{% endif %}" tabindex="-1" role="dialog">
  <div class="modal-dialog{% if config.agendaModePanneauLateral != 'true' %} modal-lg{% endif %}" role="document">
    <div class="modal-content">
      <form id="formRdv">
        <div class="modal-header">
          <h4 id="titreRdv" class="modal-title font-weight-bold"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" style="display : none;">
              Merci de considérer les informations suivantes et de corriger les champs concernés :
              <ul></ul>
          </div>
          <div class="row">
            {% if config.agendaModePanneauLateral != 'true' %}
              <div class="col-md-6 border-right">
                {% include 'inc-agenda-patient.html.twig' %}
              </div>
              <div class="col-md-6">
              <h5>Rendez-vous</h5>
            {% else %}
              <div class="col-12">
            {% endif %}
              <div class="card bg-light p-2">
                <div class="form-group">
                  <div id="datepicker" class="input-group mx-0 mb-3">
                    <input class="form-control" />
                    <div class="input-group-append">
                      <span class="fas fa-calendar input-group-text" aria-hidden="true"></span>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <div class="input-group mx-0">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><span id="duree" class="far fa-clock"> {{ (page.typeRdv|first).duree }}mn</span></div>
                    </div>
                    <select id="type" class="custom-select custom-select-sm" name="type" autocomplete="off">
                      {% for k, v in page.typeRdv if k != '[off]' %}
                        <option value="{{ k }}" style="color: #FFF; background: {{ v.backgroundColor }}; padding : 3px;" data-duree="{{ v.duree }}"{% if loop.first %} selected="selected"{% endif %}>
                          {{ v.descriptif }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <textarea id="motif" class="form-control mt-2" name="motif" placeholder="Motif" rows="3" autocomplete="off"></textarea>
                </div>
              </div>
              {% if config.agendaModePanneauLateral != 'true' %}
                {% include 'inc-agenda-historiquePatient.html.twig' %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="buttonCreer" class="btn btn-primary" disabled="disabled" type="button" data-dismiss="modal">Créer</button>
          <button id="buttonModifier" class="btn btn-primary" type="button" data-dismiss="modal">Modifier</button>
          <div class="dropdown">
            <button id="buttonAutresActions" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Autres actions
            </button>
            <div class="dropdown-menu" aria-labelledby="buttonAutresActions">
              <a class="dropdown-item" id="buttonMark" href="#">
                <i class="fas fa-exclamation-triangle fa-fw text-muted mr-1"></i>
                Non honoré
              </a>
              <a class="dropdown-item" id="buttonClone" href="#">
                <i class="fas fa-clone fa-fw text-muted mr-1"></i>
                Cloner
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id="buttonRemove" href="#">
                <i class="fas fa-trash fa-fw text-muted mr-1"></i>
                Supprimer
              </a>
            </div>
          </div>
          <button id="buttonCancel" class="btn btn-light float-right m-1" type="button" data-dismiss="modal" aria-label="Close">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>

{# modal résultat lecture CPS Vitale  #}
{% if config.vitaleActiver =='true' %}
	{% include 'inc-modalLectureCpsVitale.html.twig' %}
{% endif %}
{% endblock %}
