{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > logs : historique d'envoi d'un document
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}Historique des mails envoyés à {{ page.patientData.3 }}
  {% if page.patientData.1 and page.patientData.2 %}
    {{ page.patientData.2|e }} ({{ page.patientData.1|e }})
  {% elseif page.patientData.2 %}
    {{ page.patientData.2|e }}
  {% else %}
    {{ page.patientData.1|e }}
  {% endif %}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
<h1>Historique des mails envoyés à {{ page.patientData.3 }}
{% if page.patientData.1 and page.patientData.2 %}
    {{ page.patientData.2|e }} ({{ page.patientData.1|e }})
  {% elseif page.patientData.2 %}
    {{ page.patientData.2|e }}
  {% else %}
    {{ page.patientData.1|e }}
  {% endif %} <small>({{ page.patientData.4 }})</small></h1>
<p>
<a class="btn btn-secondary" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ page.patientData.id }}/">Retour dossier patient</a>
</p>

<div class="row">
  <div class="col">
    <table class="table table-sm mb-0 table-hover ">
        <thead>
            <tr>
                <th>Date</th>
                <th>De</th>
                <th>A</th>
                <th>Sujet</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>

            {% for v in page.listeMessages.Data %}
                <tr {% if v.Status == "opened" %}class="table-success"
                  {% elseif v.Status in ["blocked", "bounce" ] %}class="table-danger"
                  {% elseif v.Status in ["spam" ] %}class="table-warning"{% endif %}>
                    <td>{{ v.ArrivedAt|date("Y-m-d H:i:s") }}</td>
                    <td>{{ v.CampaignData.FromEmail|e }}</td>
                    <td>{{ page.patientData.4 }}</td>
                    <td>{{ v.CampaignData.Subject|e }}</td>
                    <td>{{ v.Status|e }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock %}
