{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > logs : historique général d'envoi de mails
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : historique général des envois par mail{% endblock %}

{% block head %}
    {{ parent() }}
        {% if config.smtpTracking %}<script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/mailtracking.js?{{ modules.base }}"></script>{% endif %}
{% endblock %}

{% block body %}
<h1>Historique général des envois par mail <small>(hors fax et apicrypt)</small></h1>

<div class="row">
  <div class="col">
    <ul class="nav nav-tabs my-3">
      <li class="nav-item" role="presentation">
        <a class="nav-link{% if page.expediteurID ==  0 %} active{% endif %}" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueGeneralMailSend/0/">Expéditeurs : tous</a>
      </li>
      {% for k,v in page.expediteurs %}
      <li role="presentation" class="nav-item">
        <a class="nav-link{% if k == page.expediteurID %} active{% endif %}" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueGeneralMailSend/{{ k }}/">{{ v }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row mb-2">
  <div class="col text-right">
      <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-secondary" {% if page.nextStart < 0 %}disabled{% endif %} role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueGeneralMailSend/{{ page.expediteurID }}/{{ page.nextStart }}/">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Plus récents
        </a>
        <a class="btn btn-secondary" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueGeneralMailSend/{{ page.expediteurID }}/{{ page.previousStart }}/">
          Plus anciens
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-sm mb-0 table-hover ">
        <thead class="thead-light">
            <tr>
                <th>Date</th>
                <th>De</th>
                <th>A</th>
                <th>Concernant</th>
                <th>Sujet</th>

            </tr>
        </thead>
        <tbody>

            {% for v in page.mailListe %}
                <tr {% if v.mailTrackingID %}id="mt{{ v.mailTrackingID }}" data-mailtrackingid="{{ v.mailTrackingID }}" class="trackMyMail"{% endif %}>
                    <td>{{ v.date }}</td>
                    <td>{{ page['expediteurs'][v.fromID] }}<br>
                    <small>{{ v.from }}</small></td>
                    <td>{{ v.to }}<div class="{% if v.mailTrackingID %}infos{{ v.mailTrackingID }}{% endif %} small"></div></td>
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ v.toID }}/">
                          <span class="fas fa-folder-open" aria-hidden="true"></span>
                        </a>
                      </div>
                      {{ v.patient.firstname }}
                      {% if v.patient.birthname and v.patient.lastname %}
                        {{ v.patient.lastname|e }} ({{ v.patient.birthname|e }})
                      {% elseif v.patient.lastname %}
                        {{ v.patient.lastname }}
                      {% else %}
                        {{ v.patient.birthname }}
                      {% endif %}
                    </td>

                    <td>{{ v.sujet|e }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
  </div>
</div>


{% endblock %}
