{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > logs : log général
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : logs{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">Configuration</a>
  </li>
  <li class="breadcrumb-item">
      <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/#journaux">Journaux et informations techniques</a>
  </li>
  <li class="breadcrumb-item active">
      Logs
  </li>
</ol>

<h1>Logs</h1>


<div class="row">
  <div class="col">
    <table class="table table-sm table-hover small w-100" style="table-layout: fixed; word-wrap: break-word;" >
        <thead class="thead-light">
            <tr>
                <th class="">#</th>
                <th>date</th>
                <th>mise à jour</th>
                <th>date d'effet</th>
                <th>Auteur</th>
                {% if page.patientID =='' %}<th>patient</th>{% endif %}
                <th class="">parent</th>
                <th>type data</th>
                <th class="">titre</th>
                <th>valeur</th>
                <th class="">outdated</th>
                <th class="">deleted</th>
            </tr>
        </thead>
        <tbody>
            {% for v in page.logs %}
                <tr class="{% if v.groupe == 'typecs' or v.name == 'allergieCodeTheriaque' %}table-info{% elseif v.groupe == 'admin' %}table-warning{% elseif v.groupe == 'user' %}table-danger{% elseif v.groupe == 'courrier' or v.name in ['relationID'] or 'Porteur' in v.name %}table-success{% endif %}">
                    <td>#{{ v.id }}</td>
                    <td>{{ v.registerDate|replace({' ':'&nbsp;'}) }}</td>
                    <td>{% if v.registerDate != v.updateDate %}{{ v.updateDate|replace({' ':'&nbsp;'}) }}{% endif %}
                    </td>
                    <td>{% if v.creationDate != v.registerDate %}{{ v.creationDate|replace({' ':'&nbsp;'}) }}{% endif %}</td>
                    <td>#{{ v.prescripteurID }} {{ v.prescripteur }}</td>
                    {% if page.patientID =='' %}<td>  <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/{{ v.toID }}/">#{{ v.toID }}</a></td>{% endif %}
                    <td>#{{ v.instance }}</td>
                    <td>
                        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/{{ v.toID }}/{{ v.typeID }}/{{ v.instance }}/">#{{ v.typeID }}</a>
                        {{ v.label|e }}</td>
                    <td>{{ v.titre|e }}</td>
                    <td>{{ v.value|e }}</td>

                    <td>{{ v.outdated }}</td>
                    <td>{{ v.deleted }}{% if v.deletedByID > 0 %} #{{ v.deletedByID }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

    {% endblock %}
