{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2020
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > people : voir les infos sur un groupe
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}
  {{ page.groupeData.groupname }}
{% endblock %}

{% block jsFiles %}
  {{ parent() }}
  {% if config.optionGeRegistresActiver == 'true' %}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/relations.js?{{ modules.base }}"></script>
  {% endif %}
{% endblock %}

{% block jsEmbed %}
  {{ parent() }}
  $(document).ready(function() {
    if ($('#bodyTabRelationGroupeRegistres').length) {
      setTimeout(getRelationsGroupeRegistresTab({{ page.groupeDataID }}), 200);
    }
  });
{% endblock %}

{% block body %}

{% if page.groupeData.dossierType =="deleted" %}
<div class="alert alert-danger" role="alert">Ce dossier est marqué comme supprimé !</div>
{% endif %}

<h1 id="identitePatient" data-patientID="{{ page.groupeDataID }}">
  {{ page.groupeData.groupname }}
</h1>

<div class="row mt-3">
  <div class="col-12 col-md-6">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <div class=" font-weight-bold">
          <i class="fas fa-hospital-alt fa-fw fa-lg text-secondary"></i>
          Informations groupe
        </div>
        <div>
          <a class="text-muted" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/groupe/edit/{{ page.groupeDataID }}/" title="Modifier"><i class="fas fa-pencil-alt fa-fw"></i>
          </a>
        </div>

      </div>
      <div class="card-body">
        Informations sur ce groupe de praticiens
      </div>

      <table class="table table-sm mb-0 table-hover ">
        {% for  k,label in page.groupeDataLabel %}
        <tr><td>{{ label }}</td><td>{% if k == 'country' %}{{ page.groupeData['country_label'] }}{% else %}{{ page.groupeData[k] }}{% endif %}</td></tr>
        {% endfor %}
      </table>

      <div class="card-footer">&nbsp;</div>
    </div>

    {% if page.praticiensConnus %}
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
          <div class="font-weight-bold">
            <i class="fas fa-user-md fa-fw fa-lg text-secondary"></i> Praticiens
          </div>
          <div>
            {% if user.rank == 'admin' %}
            <a class="text-muted" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueRelations/relationPraticienGroupe/{{ page.groupeDataID }}/" title="Historique">
              <i class="fas fa-history fa-fw"></i>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="card-body">
          Praticiens du groupe ({{ page.praticiensConnus|length() }})
        </div>

        <table class="table table-sm mb-0 table-hover">
  				<tbody>
            {% for v in page.praticiensConnus %}
            <tr class="cursor-pointer"  onclick="window.location=$(this).find('a').attr('href');">
              <td>
                <a title="Afficher le dossier" class="btn btn-light btn-sm mr-3" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/{{ v.peopleID }}/">
                  <i class="fas fa-user-md fa-fw"></i>
                </a>
                {% if v.titre is not empty %}{{ v.titre }} {% endif %}{{ v.identiteUsuelle }}</td>
              <td>
                {{ v.typeRelationTxt }}
              </td>
            </tr>
            {% endfor %}
  				</tbody>
  			</table>

        <div class="card-footer text-right">
          &nbsp;
        </div>
      </div>
    {% endif %}
  </div>
  <div class="col-12 col-md-6">
    {% if config.optionGeRegistresActiver == 'true' %}
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
          <div class="font-weight-bold">
            <i class="fas fa-archive fa-fw fa-lg text-secondary"></i>
            Registres
          </div>
          <div>
            <a href="#" class="text-muted" data-toggle="collapse" data-target=".collapseRegistreGestion" title="Modifier"><i class="fas fa-pencil-alt fa-fw"></i></a>
            {% if user.rank == 'admin' %}
            <a class="text-muted" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueRelations/relationGroupeRegistre/{{ page.groupeDataID }}/" title="Historique">
              <i class="fas fa-history fa-fw"></i>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="card-body">
          <div class="">
            <span>
              Registres autorisés pour ce groupe
            </span>
            <span>

            </span>
          </div>
          <div class="collapseRegistreGestion collapse">
            <form class="form-inline my-2 d-flex">
              <div class="form-group flex-grow-1">
                <div class="input-group input-group-sm flex-grow-1">
                  <input class="form-control form-control-sm flex-grow-1" type="text" placeholder="nom du registre" id="searchRegistreID" autocomplete="off"/>
                  {{ f.select ({
                  'select' : {
                    'name' : 'preRelationGroupeRegistre',
                    'id' : 'preRelationGroupeRegistreID',
                    'class' : '',
                    'values' : page.preRelationGroupeRegistre.formValues,
                    'valueDefaut' : el.value.preValue,
                    'autocomplete' : 'off' } }) }}
                  <div class="input-group-append">
                    <button type="submit" id="addRelationGroupeRegistre" class="btn btn-sm btn-secondary"><i class="fas fa-plus mr-1"></i> Ajouter</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <table class="table table-sm mb-0 table-hover">
          <tbody id="bodyTabRelationGroupeRegistres">
          </tbody>
        </table>
        <div class="card-footer text-right">
          &nbsp;
        </div>
      </div>
    {% endif %}
  </div>
</div>


{% endblock %}
