{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2020
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > people : voir les infos sur un groupe
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}
  {{ page.groupeData.groupname }}
{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block body %}

{% if page.groupeData.dossierType =="deleted" %}
<div class="alert alert-danger" role="alert">Ce dossier est marqué comme supprimé !</div>
{% endif %}

<h1 id="identitePatient" data-patientID="{{ page.groupeData.id }}">
  {{ page.groupeData.groupname }}
</h1>

  <div class="row mt-3">
      <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-header font-weight-bold">
                <i class="fas fa-hospital-alt fa-fw fa-lg text-secondary"></i>
                Informations groupe</div>
              <div class="card-body d-flex justify-content-between">
                <span>
                  Informations sur ce groupe de praticiens
                </span>
                <span>
                  <a class="btn btn-sm btn-outline-secondary" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/groupe/edit/{{ page.groupeDataID }}/"><i class="fas fa-pencil-alt fa-fw"></i>
                  </a>
                </span>
              </div>

              <table class="table table-sm mb-0 table-hover ">
                {% for  k,label in page.groupeDataLabel %}
                <tr><td>{{ label }}</td><td>{% if k == 'country' %}{{ page.groupeData['country_label'] }}{% else %}{{ page.groupeData[k] }}{% endif %}</td></tr>
                {% endfor %}
              </table>

              <div class="card-footer">&nbsp;</div>
            </div>
            {% if page.praticiensConnus %}
              <div class="card mt-4 px-0 col-md-12">
                <div class="card-header font-weight-bold">
                  <i class="fas fa-user-md fa-fw fa-lg text-secondary"></i> Praticiens
                </div>
                <div class="card-body">
                  <span>Praticiens du groupe ({{ page.praticiensConnus|length() }})</span>
                </div>

                <table class="table table-sm mb-0 table-hover">
          				<tbody>
                    {% for v in page.praticiensConnus %}
                    <tr class="cursor-pointer"  onclick="window.location=$(this).find('a').attr('href');">
                      <td>
                        <a title="Afficher le dossier" class="btn btn-light btn-sm mr-3" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/{{ v.peopleID }}/">
                          <i class="fas fa-user-md fa-fw"></i>
                        </a>
                        {% if v.titre is not empty %}{{ v.titre }} {% endif %}{{ v.identiteUsuelle }}</td>
                      <td>
                        {{ v.typeRelationTxt }}
                      </td>
                    </tr>
                    {% endfor %}
          				</tbody>

          			</table>

                <div class="card-footer">&nbsp;</div>
              </div>
            {% endif %}
      </div>
</div>


{% endblock %}
