{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template : liste des dossiers marqués supprimés
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}Liste des dossiers supprimés - MedShakeEHR{% endblock %}

{% block head %}
  {{ parent() }}
  <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/people.js?{{ modules.base }}"></script>
{% endblock %}

{% block body %}
  <h1>Liste des dossiers supprimés</h1>

  <table class="table table-sm mb-0 table-hover  table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Dossier</th>
        <th>Type dossier</th>
        <th>Supprimé par</th>
        <th>Le</th>
        <th>Motif</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for v in page.users %}
        <tr>
          <td>{{ v.id }}</td>
          <td>
            <a class="btn btn-light btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/{{ v.typeDossier }}/{{ v.id }}/" title="Afficher le dossier">
              <span class="fa fa-folder-open" aria-hidden="true"></span>
            </a>
            {{ v.identiteDossier|e }}
          </td>
          <td>{{ v.typeDossier|e }}</td>
          <td>{{ v.identiteUser|e }}</td>
          <td>{{ v.dateDeleted|e }}</td>
          <td>{{ v.motif|e }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="button" class="btn btn-light btn-sm unmarkDeleted" data-patientID="{{ v.id }}" title="Réactiver ce dossier">
                <span class="fa fa-undo-alt" aria-hidden="true"></span>
              </button>
            </div>

          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>

{% endblock %}
