{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > people : créer un patient / pro
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} :
{% if page.porp == 'patient'%}
patient
{% elseif page.porp == 'pro' %}
praticien
{% elseif page.porp == 'groupe' %}
groupe
{% elseif page.porp == 'registre' %}
registre
{% endif %}
{% endblock %}

{% block head %}
{{ parent() }}
<script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/people.js?{{ modules.base }}"></script>
{% if config.optionGeActiverVitaleLecture =='true' %}
	<script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/vitale_functions.js?{{ modules.base }}"></script>
{% endif %}
{% endblock %}

{% block body %}

<h1>
{% if page.porp == 'patient'%}
Nouveau patient
{% elseif page.porp == 'pro' %}
Nouveau praticien
{% elseif page.porp == 'groupe' %}
Nouveau groupe
{% elseif page.porp == 'registre' %}
Nouveau registre
{% endif %}
</h1>

{% if page.porp == 'patient' and config.optionGeActiverVitaleLecture =='true' %}
<div class="row mb-3">
	<div class="col">
		<button type="button" class="btn btn-success lireCpsVitale"><i class="fas fa-user"></i> Vitale</button>
	</div>
</div>
{% endif %}

{% if session['form'][page.formIN]['validationErrorsMsg'] %}
<div class="row">
	<div class="col-xl-10 col-12">
		{{ f.errorFormDiv( session['form'][page.formIN]['validationErrorsMsg']) }}
	</div>
</div>
{% endif %}


<div class="row">
	<div class="col-xl-10 col-12">
		<div class="card bg-light card-body checkboxFixValue">
			{{ f.formbuilder(page.form , page.formIN , session) }}
		</div>
		{% if page['formJavascript'][page.formIN] is not empty %}
			<script>
			 {{ page['formJavascript'][page.formIN] }}
			</script>
		{% endif %}
	</div>
</div>

{% endblock %}


{% block modals %}

{# modal résultat lecture CPS Vitale  #}
{% if config.optionGeActiverVitaleLecture =='true' %}
	{% include 'inc-modalLectureCpsVitale.html.twig' %}
{% endif %}

{% endblock %}
