{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > people : voir les infos sur un pro
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block body %}

{% if page.proData.dossierType =="deleted" %}
<div class="alert alert-danger" role="alert">Ce dossier est marqué comme supprimé !</div>
{% endif %}

<h1 id="identitePatient" data-patientID="{{ page.proData.id }}">
  {% if page.proData.titre %}{{ page.proData.titre }}
  {% endif %}
  {{ page.proData.firstname }}
  {% if page.proData.lastname and page.proData.birthname %}
    {{ page.proData.lastname }} <small>(né{% if page.proData.administrativeGenderCode == 'F' %}e{% endif %} {{ page.proData.birthname }})</small>
  {% elseif page.proData.lastname %}
    {{ page.proData.lastname }}
  {% else %}
    {{ page.proData.birthname }}
  {% endif %}
   <small>{{ page.proData.job }}</small>
</h1>

  <div class="row mt-3">
      <div class="col-md-6">
            <div class="card">
              <div class="card-header font-weight-bold">
                <i class="fas fa-user-md fa-fw fa-lg text-danger"></i>
                Informations professionnelles</div>
              <div class="card-body">
                <p>Informations professionnelles sur ce praticien
                  <a class="btn btn-outline-secondary float-right m-1" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/edit/{{ page.proDataID }}/">
                    Editer infos pros
                  </a>
                </p>
              </div>

              <table class="table table-sm mb-0 table-hover ">
                {% if page.proData.serviceAdressePro or page.proData.etablissementAdressePro %}<tr><td>
                  {% if  page.proData.serviceAdressePro %}{{ page.proDataLabel.serviceAdressePro }}{% endif %}
                  {% if page.proData.serviceAdressePro and page.proData.etablissementAdressePro %} - {% endif %}
                  {% if  page.proData.etablissementAdressePro %}{{ page.proDataLabel.etablissementAdressePro }}{% endif %}
                  <td><td>
                  {% if  page.proData.serviceAdressePro %}{{ page.proData.serviceAdressePro }} {% endif %}
                  {% if page.proData.serviceAdressePro and page.proData.etablissementAdressePro %} - {% endif %}
                  {% if  page.proData.etablissementAdressePro %}{{ page.proData.etablissementAdressePro }}{% endif %}
                </td></tr>{% endif %} {# service / etablissement #}
                {% if page.proData.numAdressePro or page.proData.rueAdressePro or page.proData.codePostalPro or page.proData.villeAdressePro %}<tr><td>Adresse professionnelle<td><td>
                  {% if  page.proData.numAdressePro %}{{ page.proData.numAdressePro }} {% endif %}
                  {% if  page.proData.rueAdressePro %}{{ page.proData.rueAdressePro }} {% endif %}
                  {% if  page.proData.codePostalPro %}{{ page.proData.codePostalPro }} {% endif %}
                  {% if  page.proData.villeAdressePro %}{{ page.proData.villeAdressePro }}{% endif %}
                </td></tr>{% endif %} {# Adresse pro #}
                {% if page.proData.telPro %}<tr>
                  <td>{{ page.proDataLabel.telPro }}<td>
                  <td>
                    {% if config.click2callService is not empty %}<span class="click2call">{% endif %}
                    {{ page.proData.telPro }}
                    {% if config.click2callService is not empty %}</span>{% endif %}
                  </td>
                </tr>{% endif %} {# tel pro #}
                {% if page.proData.telPro2 %}<tr>
                  <td>{{ page.proDataLabel.telPro2 }}<td>
                  <td>
                    {% if config.click2callService is not empty %}<span class="click2call">{% endif %}
                    {{ page.proData.telPro2 }}
                    {% if config.click2callService is not empty %}</span>{% endif %}
                  </td>
                </tr>{% endif %} {# tel pro #}
                {% if page.proData.mobilePhonePro %}<tr>
                  <td>{{ page.proDataLabel.mobilePhonePro }}<td>
                  <td>
                    {% if config.click2callService is not empty %}<span class="click2call">{% endif %}
                    {{ page.proData.mobilePhonePro }}
                    {% if config.click2callService is not empty %}</span>{% endif %}
                  </td>
                </tr>{% endif %} {# tel mob pro #}
                {% if page.proData.faxPro %}<tr><td>{{ page.proDataLabel.faxPro }}<td><td>{{ page.proData.faxPro }}</td></tr>{% endif %} {# fax pro #}
                {% if page.proData.emailApicrypt %}<tr><td>{{ page.proDataLabel.emailApicrypt }}<td><td>{{ page.proData.emailApicrypt }}</td></tr>{% endif %} {# email apicrypt #}
                {% if page.proData.profesionnalEmail %}<tr><td>{{ page.proDataLabel.profesionnalEmail }}<td><td>{{ page.proData.profesionnalEmail }}</td></tr>{% endif %} {# email pro #}
                {% if page.proData.notesPro %}<tr><td>{{ page.proDataLabel.notesPro }}<td><td>{{ page.proData.notesPro|nl2br }}</td></tr>{% endif %} {# notes pros #}
              </table>

              <div class="card-footer">&nbsp;</div>
            </div>
            {% if page.patientsConnus %}
              <div class="card mt-4 px-0 col-md-12">
                <div class="card-header font-weight-bold"><i class="fas fa-users fa-fw fa-lg text-secondary"></i> Patients connus</div>
                <div class="card-body">
                  Patients reliés à ce praticien
                </div>

                <table class="table table-sm mb-0 table-striped table-hover">
          				<thead>
          					<tr>
          						<th></th>
          						<th class="col-md-10">Identité</th>
          						<th></th>
          					</tr>
          				</thead>
          				<tbody>
                    {% for v in page.patientsConnus %}
                    <tr style="cursor:pointer" onclick="window.location=$(this).find('a').attr('href');">
                      <td>
                        <a title="Afficher le dossier" class="btn btn-outline-secondary btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ v.patientID }}/"><span class="fa fa-folder-open" aria-hidden="true"></span></a>
                      </td>
                      <td>{{ v.nom }} {{ v.prenom }}</td>
                      <td class="text-right">
                        <a title="Éditer les relations du patient" class="btn btn-outline-secondary btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/relations/{{ v.patientID }}/"><span class="fa fa-link" aria-hidden="true"></span></a>
                      </td>

                    </tr>
                    {% endfor %}
          				</tbody>

          			</table>

                <div class="card-footer">&nbsp;</div>
              </div>
            {% endif %}
      </div>

    {% if config.PraticienPeutEtrePatient == 'true' %}
      <div class="col-md-6 mt-4 mt-md-0">
            <div class="card">
              <div class="card-header font-weight-bold"><i class="fas fa-user fa-fw fa-lg text-primary"></i> Informations personnelles</div>
              <div class="card-body">
                <p>Informations personnelles sur ce praticien
                  <a class="btn btn-outline-secondary float-right m-1" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/edit/{{ page.proDataID }}/">
                    Editer infos persos
                  </a>
                </p>
              </div>

              <table class="table table-sm mb-0 table-hover ">
                {% if page.proData.birthdate %}<tr><td>{{ page.proDataLabel.birthdate }}<td><td>{{ page.proData.birthdate }}</td></tr>{% endif %} {# ddn #}
                {% if page.proData.streetNumber or page.proData.street or page.proData.postalCodePerso or page.proData.city %}<tr><td>Adresse personnelle<td><td>
                  {% if  page.proData.streetNumber %}{{ page.proData.streetNumber }} {% endif %}
                  {% if  page.proData.street %}{{ page.proData.street }} {% endif %}
                  {% if  page.proData.postalCodePerso %}{{ page.proData.postalCodePerso }} {% endif %}
                  {% if  page.proData.city %}{{ page.proData.city }}{% endif %}
                </td></tr>{% endif %} {# Adresse perso #}
                {% if page.proData.mobilePhone %}<tr>
                  <td>{{ page.proDataLabel.mobilePhone }}<td>
                  <td>
                    {% if config.click2callService is not empty %}<span class="click2call">{% endif %}
                    {{ page.proData.mobilePhone }}
                    {% if config.click2callService is not empty %}</span>{% endif %}
                  </td>
                </tr>{% endif %} {# tel mob perso #}
                {% if page.proData.homePhone %}<tr>
                  <td>{{ page.proDataLabel.homePhone }}<td>
                  <td>
                    {% if config.click2callService is not empty %}<span class="click2call">{% endif %}
                    {{ page.proData.homePhone }}
                    {% if config.click2callService is not empty %}</span>{% endif %}
                  </td>
                </tr>{% endif %} {# tel perso #}
                {% if page.proData.personalEmail %}<tr><td>{{ page.proDataLabel.personalEmail }}<td><td>{{ page.proData.personalEmail }}</td></tr>{% endif %} {# email perso #}
                {% if page.proData.notes %}<tr><td>{{ page.proDataLabel.notes }}<td><td>{{ page.proData.notes|nl2br }}</td></tr>{% endif %} {# notes perso #}
              </table>
              <div class="card-footer">&nbsp;</div>
            </div>

      </div>
    {% endif %}
</div>


{% endblock %}
