{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2020
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > people : voir les infos sur un registre
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}
  {{ page.registreData.registryname }}
{% endblock %}

{% block jsFiles %}
  {{ parent() }}
  {% if config.optionGeActiverGroupes == 'true' %}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/relations.js?{{ modules.base }}"></script>
  {% endif %}
{% endblock %}

{% block jsEmbed %}
  {{ parent() }}
  $(document).ready(function() {
    if ($('#bodyTabRelationRegistrePraticiens').length) setTimeout(getRelationsRegistrePraticiensTab({{ page.registreDataID }}), 200);
    if ($('#bodyTabRelationRegistreGroupes').length) setTimeout(getRelationsRegistreGroupesTab({{ page.registreDataID }}), 200);
  });
{% endblock %}

{% block body %}

{% if page.registreData.dossierType =="deleted" %}
<div class="alert alert-danger" role="alert">Ce registre est marqué comme supprimé !</div>
{% endif %}

<h1 id="identitePatient" data-patientID="{{ page.registreDataID }}">
  {{ page.registreData.registryname }}
</h1>

<div class="row mt-3">
  <div class="col-12 col-md-6">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <div class=" font-weight-bold">
          <i class="fas fa-archive fa-fw fa-lg text-secondary"></i>
          Informations registre
        </div>
        <div>
          {% if config.droitRegistrePeutCreerRegistre == 'true' %}
            <a class="text-muted" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/registre/edit/{{ page.registreDataID }}/" title="Modifier"><i class="fas fa-pencil-alt fa-fw"></i>
            </a>
          {% endif %}
        </div>

      </div>
      <div class="card-body">
        Informations sur ce registre
      </div>

      <table class="table table-sm mb-0 table-hover ">
        {% for  k,label in page.registreDataLabel %}
        <tr><td>{{ label }}</td><td>{% if k == 'country' %}{{ page.registreData['country_label'] }}{% else %}{{ page.registreData[k] }}{% endif %}</td></tr>
        {% endfor %}
      </table>

      <div class="card-footer">&nbsp;</div>
    </div>


    {% if config.optionGeActiverGroupes == 'true' %}
      <div class="card mb-4">
          <div class="card-header font-weight-bold d-flex justify-content-between">
            <div  class="font-weight-bold">
              <i class="fas fa-user-graduate fa-fw fa-lg text-secondary"></i>
              Administrateurs
            </div>
            <div>
              {% if config.droitRegistrePeutGererAdministrateurs == 'true' %}
                <a href="#" class="text-muted cursor-pointer" data-toggle="collapse" data-target=".collapseGroupeGestion" title="Modifier"><i class="fas fa-pencil-alt fa-fw"></i></a>
              {% endif %}
              {% if user.rank == 'admin' %}
                <a class="text-muted" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueRelations/relationRegistrePraticien/{{ page.registreDataID }}/" title="Historique">
                  <i class="fas fa-history fa-fw"></i>
                </a>
              {% endif %}
            </div>
          </div>
          <div class="card-body">
            Administrateurs du registre

            {% if config.droitRegistrePeutGererAdministrateurs == 'true' %}
            <div class="collapseGroupeGestion collapse">
              <form class="form-inline my-2 d-flex">
                <div class="form-group flex-grow-1">
                  <div class="input-group input-group-sm flex-grow-1">
                    <input class="form-control form-control-sm flex-grow-1 searchPeopleID" type="text" placeholder="nom du praticien" data-ajax="getRelationsPraticiens" autocomplete="off"/>
                    {{ f.select ({
                    'select' : {
                      'class' : 'toStatutRelation',
                      'values' : page.preRelationRegistrePraticien.formValues,
                      'valueDefaut' : el.value.preValue,
                      'autocomplete' : 'off' } }) }}
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-sm btn-secondary addRelation" data-typeRelation="relationRegistrePraticien" data-peopleID="{{ page.registreDataID }}"><i class="fas fa-plus mr-1"></i> Ajouter</button>
                    </div>
                  </div>
                </div>
                {% if config.droitDossierPeutCreerPraticien == 'true' %}
                  <a class="btn btn-sm btn-outline-secondary ml-4" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/groupe/create/"><i class="fas fa-user-md mr-1"></i> Nouvel utilisateur</a>
                {% endif %}
              </form>
            </div>
            {% endif %}
          </div>

          <table class="table table-sm mb-0 table-hover">
            <tbody id="bodyTabRelationRegistrePraticiens" data-lienSup="{{ config.droitRegistrePeutGererAdministrateurs }}">
            </tbody>
          </table>

          <div class="card-footer text-right">
            &nbsp;
          </div>
        </div>
    {% endif %}


    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <div class="font-weight-bold">
          <i class="fas fa-hospital-alt fa-fw fa-lg text-secondary"></i> Groupes
        </div>
        <div>
          {% if config.droitRegistrePeutGererGroupes == 'true' %}
          <a href="#" class="text-muted cursor-pointer" data-toggle="collapse" data-target=".collapseGroupesGestion" title="Modifier"><i class="fas fa-pencil-alt fa-fw"></i></a>

          <a class="text-muted" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/logs/historiqueRelations/relationGroupeRegistre/{{ page.registreDataID }}/" title="Historique">
            <i class="fas fa-history fa-fw"></i>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        Groupes participant au registre {% if config.droitGroupePeutVoirTousGroupes != 'true' %} (Vous n'êtes autorisé à voir que les groupes auxquels vous êtes intégré){% endif %}

        {% if config.droitRegistrePeutGererGroupes == 'true' %}
        <div class="collapseGroupesGestion collapse">
          <form class="form-inline my-2 d-flex">
            <div class="form-group flex-grow-1">
              <div class="input-group input-group-sm flex-grow-1">
                <input class="form-control form-control-sm flex-grow-1 searchPeopleID" type="text" placeholder="nom du groupe" data-ajax="getRelationsGroupes" autocomplete="off"/>
                {{ f.select ({
                'select' : {
                  'class' : 'toStatutRelation',
                  'values' : page.preRelationRegistreGroupe.formValues,
                  'valueDefaut' : el.value.preValue,
                  'autocomplete' : 'off' } }) }}
                <div class="input-group-append">
                  <button type="submit" class="btn btn-sm btn-secondary addRelation" data-typeRelation="relationGroupeRegistre" data-peopleID="{{ page.registreDataID }}"><i class="fas fa-plus mr-1"></i> Ajouter</button>
                </div>
              </div>
            </div>
            {% if config.droitGroupePeutCreerGroupe == 'true' %}
              <a class="btn btn-sm btn-outline-secondary ml-4" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/groupe/create/"><i class="fas fa-hospital-alt mr-1"></i> Nouveau groupe</a>
            {% endif %}
          </form>
        </div>
        {% endif %}
      </div>

      <table class="table table-sm mb-0 table-hover">
        <tbody id="bodyTabRelationRegistreGroupes" data-lienSup="{{ config.droitRegistrePeutGererGroupes }}">
        </tbody>
      </table>

      <div class="card-footer text-right">
        &nbsp;
      </div>
    </div>

  </div>
</div>


{% endblock %}
